<template>
  <nb-container>
    <status-bar :bar-style="'light-content'"></status-bar>
    <image-background :source="launchScreenBg" class="image-container">
      <scroll-view>
        <view class="image-view" :style="stylesObj.logoWrapper">
          <image
            resize-mode="contain"
            :source="launchscreenLogo"
            class="logo-style"
            :style="stylesObj.logoStyle"
          />
        </view>

        <view class="signup-container" :style="stylesObj.signupContainer">
          <nb-form>
            <!-- Correo Electronico -->
            <view>
              <nb-item
                class="input-grp"
                :error="
                  (!$v.username.required || !$v.username.email) &&
                  $v.username.$dirty
                "
              >
                <nb-icon
                  type="Ionicons"
                  active
                  name="ios-person"
                  class="icon-person"
                />
                <nb-input
                  placeholder="Usuario"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input"
                  :on-blur="() => $v.username.$touch()"
                  v-model="username"
                />
                <view
                  v-if="
                    (!$v.username.required || !$v.username.email) &&
                    $v.username.$dirty == true
                  "
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput()"
                    name="close"
                  />
                </view>
              </nb-item>
              <view
                v-if="$v.username.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.username.required == true"
                  :style="stylesObj.formErrorText1"
                  >Required</nb-text
                >
              </view>
            </view>
          </nb-form>
          <nb-button rounded block class="signup-btn" :on-press="sendEamil">
            <nb-text class="continue-text"> Continúa </nb-text>
          </nb-button>
        </view>
        <!-- <nb-footer class="footer-view"> -->
        <view
          class="other-link-container"
          :style="{ alignSelf: 'center', marginTop: 20 }"
        >
          <nb-button small transparent :on-press="signin">
            <nb-text class="help-btns">
              ¿Ya tienes una cuenta? Ingresa
            </nb-text>
          </nb-button>
        </view>
      </scroll-view>
    </image-background>
  </nb-container>
</template>

<script>
import launchscreenLogo from "../../../assets/logo.png";
import { Dimensions, Platform, Vue } from "react-native";
import { Toast } from "native-base";
import {
  required,
  email,
  minLength,
  alphaNum,
  maxLength,
} from "vuelidate/lib/validators";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png"; //"../../../assets/bg-signup.png";
import Userservices from "../../services/usuarios";

export default {
  props: {
    navigation: {
      type: Object,
    },
  },
  validations: {
    username: {
      required,
      alphaNum,
      minLength: minLength(3),
    },
  },
  data() {
    return {
      username: "",
      launchscreenLogo,
      launchScreenBg,
      stylesObj: {
        logoWrapper: {
          height: Dimensions.get("window").height / 2.5,
        },
        logoStyle: {
          height: Dimensions.get("window").height / 3,
          width: Dimensions.get("window").width / 1.5,
          alignSelf: "center",
        },
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        signupHeader: {
          marginTop:
            Platform.OS === "android"
              ? Dimensions.get("window").height / 6
              : Dimensions.get("window").height / 6 + 10,
        },
        signupContainer: {
          marginTop: this.signUpContainerStyle(),
        },
        formErrorText1: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          top: -25,
          right: 5,
        },
      },
    };
  },
  methods: {
    signUpContainerStyle() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 9 - 20;
        } else {
          return Dimensions.get("window").height / 10 - 20;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 9 - 20;
        } else {
          return Dimensions.get("window").height / 8 - 20;
        }
      }
    },
    clearInput() {
      this.username = "";
    },
    sendEamil() {
      // // validacion de datos
      if (this.username != "") {
        //ejecutamos el servicicio que nos enviara el correo siempre cuando exista en la BD
        Userservices.SendEmail(this.username)
          .then((response) => {
            console.log(response.status);
            if (response.status == 200) {
              this.navigation.navigate("Login"); //mandamos llamar la pantalla de login
              // Toast.show({
              //   text:
              //     "Se ha enviado a su correo, su nueva contraseña para ingresar.",
              //   duration: 6000,
              //   position: "bottom",
              //   textStyle: {
              //     textAlign: "center",
              //     backgroundColor: "transparent",
              //   },
              // });
              alert("Se ha enviado a su correo, su nueva contraseña para ingresar.");
              this.username = "";
              
            } else {
              // Toast.show({
              //   text: "Error el usuario no existe, intente nuevamente ",
              //   duration: 5000,
              //   position: "bottom",
              //   textStyle: {
              //     textAlign: "center",
              //     backgroundColor: "transparent",
              //   },
              // });
              alert("Error el usuario no existe, intente nuevamente");
              this.username = "";
            }
            console.log(response.status);
          })
          .catch((error) => {
            // cachamos el error en caso de que exista
            console.log(error);
            // Toast.show({
            //   text: "Error el usuario no existe, intente nuevamente ",
            //   duration: 5000,
            //   position: "bottom",
            //   textStyle: {
            //     textAlign: "center",
            //     backgroundColor: "transparent",
            //   },
            // });
            alert("Error el usuario no existe, intente nuevamente");
          });
      } else {
        //mensaje de datos faltantes y/o vacios
        // Toast.show({
        //   text: "Debe ingresar el usuario",
        //   duration: 6200,
        //   position: "top",
        //   textStyle: { textAlign: "center", backgroundColor: "transparent" },
        // });
        alert("Debe ingresar el usuario");
      }
    },
    signin() {
      this.navigation.navigate("Login");
    },
  },
};
</script>

<style>
.image-view {
  flex-direction: row;
  align-self: center;
}
.logo-style {
  align-self: center;
}
.image-container {
  flex: 1;
  background-color: white; /*rgba(0, 0, 0, 0.1);*/
}
.formErrorIcon {
  color: #fff;
  margin-top: 5;
  right: 10;
}
.signup-header {
  align-self: center;
  font-size: 22;
  padding: 10;
  font-weight: bold;
  color: #fff;
}
.signup-container {
  padding-left: 20;
  padding-right: 20;
}
.input-grp {
  z-index: 1;
  flex-direction: row;
  margin-left: 0;
  border-radius: 25;
  background-color: rgba(13, 211, 211, 0.9); /*rgba(255, 255, 255, 0.2);*/
  margin-bottom: 25;
  padding-left: 15;
  border-width: 0;
  border-color: transparent;
}
.input {
  padding-bottom: 5;
  padding-left: 10;
  color: #fff;
}
.signup-btn {
  height: 50;
  margin-top: 10;
  background-color: #0dd3d3;
}
.footer-view {
  padding-left: 20;
  padding-right: 20;
  background-color: transparent;
  border-color: transparent;
}
.help-btns {
  opacity: 0.9;
  font-size: 14;
  font-weight: bold;
  color: #006666;
}
.icon-person {
  color: #fff;
  font-size: 25;
}
.icon-email {
  color: #fff;
  font-size: 20;
}
.icon-unlock {
  color: #fff;
  font-size: 23;
}
.continue-text {
  color: #fff;
}
.other-link-container {
  flex-direction: row;
}
</style>
