<template>
  <nb-container >
    <image-background :source="Imagemenu" class="image-container">
      <view :style="{ flex: 1 }">
        <nb-grid>
          <nb-row :style="stylesObj.Row2">
            <view class="profile-info-container">
              <view class="view-thumb">
                <nb-thumbnail
                  v-if="user.imagen == null"
                  :source="thumbnailImg"
                  class="profile-pic"
                />
                <nb-thumbnail
                  v-if="user.imagen != null"
                  :source="{ uri: user.imagen }"
                  class="profile-pic"
                />
              </view>
              <view class="profile-info">
                <nb-text class="profile-user"
                  >{{ user.nombre }} {{ user.apellidoPaterno }}</nb-text
                >
              </view>
              <view class="profile-info">
                <nb-text class="user-count"
                  >Sitios Vistados: {{ cantidad }}</nb-text
                >
              </view>
            </view>
          </nb-row>
          <nb-row :style="stylesObj.BtnPerfil">
            <nb-button
              rounded
              block
              large
              class="btn"
              :on-press="() => this.props.navigation.navigate('Perfil')"
            >
              <nb-text class="text">
                Perfil
              </nb-text>
            </nb-button>
          </nb-row>
          <nb-row :style="stylesObj.RowSubtitle">
            <nb-text class="profile-user">Mis lugares</nb-text>
          </nb-row>
          <nb-row :style="stylesObj.Row">
            <nb-col
              ><nb-button
                transparent
                center
                :style="stylesObj.BtnSencundaryLeft"
                :on-press="
                  () =>
                    this.props.navigation.navigate('ListadoCalificacion', {
                      tipoClasificacion: { id: 3 }
                    })
                "
              >
                <image
                  resize-mode="contain"
                  :source="BtnMeencanta"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button
            ></nb-col>
            <nb-col
              ><nb-button
                transparent
                center
                :style="stylesObj.BtnSencundaryRigth"
                :on-press="
                  () =>
                    this.props.navigation.navigate('ListadoCalificacion', {
                      tipoClasificacion: { id: 2 }
                    })
                "
              >
                <image
                  resize-mode="contain"
                  :source="BtnMegustan"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button
            ></nb-col>
          </nb-row>
          <nb-row :style="stylesObj.Rowbtn"
            ><nb-col
              ><nb-button
                transparent
                center
                :style="stylesObj.BtnSencundaryLeft"
                :on-press="
                  () =>
                    this.props.navigation.navigate('ListadoCalificacion', {
                      tipoClasificacion: { id: 5 }
                    })
                "
              >
                <image
                  resize-mode="contain"
                  :source="Btnbuckeetlist"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button
            ></nb-col>
            <nb-col
              ><nb-button
                transparent
                center
                :style="stylesObj.BtnSencundaryRigth"
                :on-press="
                  () =>
                    this.props.navigation.navigate('ListadoCalificacion', {
                      tipoClasificacion: { id: 4 }
                    })
                "
              >
                <image
                  resize-mode="contain"
                  :source="BtnNoloconozco"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button></nb-col
          ></nb-row>
          <nb-row :style="stylesObj.RowQR">
            <nb-button rounded primary block large class="Btn-terms">
              <nb-text class="txt-Term">
                Términos y Condiciones
              </nb-text>
            </nb-button>
          </nb-row>
        </nb-grid>
      </view></image-background
    >
    <menuSecundario :navigation="navigation" />
  </nb-container>
</template>

<script>
import Imagemenu from "../../../assets/MenuPrincipal/fondo2.png";
import BtnMeencanta from "../../../assets/MenuPrincipal/Meencantan.png";
import BtnMegustan from "../../../assets/MenuPrincipal/Megustan.png";
import BtnNoloconozco from "../../../assets/MenuPrincipal/Nolosconozco.png";
import Btnbuckeetlist from "../../../assets/MenuPrincipal/BucketList.png";
import menuSecundario from "../../components/common/menusecundario";
import thumbnailImg from "../../../assets/Perfil/IconoPerfil.png";
import store from "../../store";
import { Dimensions, Platform } from "react-native";
import usuarioServ from "../../services/UsuarioLugares";
import { iPhoneHasNotch } from "../../utils/device";


export default {
  computed: {
    usuario() {
      return store.state.usuario;
    }
  },
  props: {
    navigation: {
      type: Object
    }
  },
  components: {
    menuSecundario
  },
  data() {
    return {
      user: {},
      thumbnailImg,
      Imagemenu,
      BtnMeencanta,
      BtnMegustan,
      BtnNoloconozco,
      Btnbuckeetlist,
      cantidad: 0,
      stylesObj: {
        Row2: {
          height: 150,
          alignSelf: "center",
          marginTop: this.signUpContainerStyle()
        },
        BtnPrincipal: {
          width: Dimensions.get("window").width - 20,
          height: Dimensions.get("window").height / 10,
          paddingRight: 5
        },
        ImagePrincipal: {
          width: this.ContainerWidthStyle(), //Dimensions.get("window").width,// /1.07,
          height: this.ContainerHightStyle() // Dimensions.get("window").height // / /4.5
        },
        //tercer row
        Rowbtn: {
          marginTop: Dimensions.get("window").height / 15
        },
        BtnSencundaryLeft: {
          width: 150,
          height: 90,
          paddingLeft: Dimensions.get("window").width / 10
        },
        BtnSencundaryRigth: {
          width: 150,
          height: 90,
          paddingLeft: Dimensions.get("window").width / 40
        },
        ImageSecundary: {
          width: this.ContainerWidthStyleSec(), //200,
          height: this.ContainerHightStyleSec() //200
        },
        BtnPerfil: {
          alignSelf: "center",
          width: Dimensions.get("window").width / 1.2
        },
        RowQR: {
          alignSelf: "center"
        },
        RowSubtitle: {
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    signUpContainerStyle() {
      if (iPhoneHasNotch()) {
        return 80;
      } else {
        return 10;
      }
    },
    ContainerHightStyle() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 6;
        } else {
          return Dimensions.get("window").height / 6;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 4.5;
        } else {
          return Dimensions.get("window").height / 4.5;
        }
      }
    },
    ContainerWidthStyle() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").width / 3;
        } else {
          return Dimensions.get("window").width / 3;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").width / 1.07;
        } else {
          return Dimensions.get("window").width / 1.05;
        }
      }
    },
    ContainerHightStyleSec() {
      if (Dimensions.get("window").width <= 330) {
        if (Platform.OS === "android") {
          return 100; //pendiente definir
        } else {
          console.log("queso 2")
          return 100; //pendiente definir
        }
      } else {
        if (Platform.OS === "android") {
          return 125;
        } else {
          console.log("queso")
          return 125; // pendiente definir
        }
      }
    },
    ContainerWidthStyleSec() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return 100; //pendiente definir
        } else {
          return 100; //pendiente definir
        }
      } else {
        if (Platform.OS === "android") {
          return 155;
        } else {
          return 155; //pendiente definir
        }
      }
    },
    ConsultaCantidad() {
      usuarioServ
        .cantidadLugares(this.user.id)
        .then(response => {
          this.cantidad = response.data;
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
        });
    }
  },
  created() {
    this.user = this.usuario;
    if (this.user.id > 0) {
      this.ConsultaCantidad();
    }
    var menu = {
     origen: "opciones",
      bonton: false,
   }
   store.state.menu = menu;
  }
};
</script>
<style>
.image-container {
  flex: 1;
}
.Titulo {
  font-size: 24;
  color: #006666;
  font-weight: bold;
}
.Row-titulo {
  padding-top: 25px;
}
.profile-pic {
  width: 120;
  height: 120;
  border-radius: 60;
  border-width: 1px;
  border-color: gray;
}
.profile-info-container {
  background-color: #ffffff;
  padding-top: 10;
}
.view-thumb {
  align-self: center;
}
.profile-user {
  color: #006666;
  align-self: center;
  font-size: 24;
  padding-bottom: 10;
  margin-top: 8;
}
.user-count {
  color: #7d7d7d;
  align-self: center;
  font-size: 18;
  padding-bottom: 20;
}
.txt-Term {
  color: rgb(158, 156, 156);
  font-size: 16;
}
.Btn-terms {
  background-color: #fff;
  margin-top: 40;
  height: 50;
}
.btn {
  background-color: #0dd3d3;
  margin-top: 50;
  height: 50;
  width: 90%;
  margin-top: 70;
  align-self: center;
  margin-left: 20;
  margin-right: 20;
}
</style>
