<template>
  <nb-container>
    <nb-header has-tabs class="header" androidStatusBarColor="#01cca1">
      <nb-left :style="{ flex: 1 }">
        <nb-button transparent>
          <nb-icon active name="menu" class="icon-menu" />
        </nb-button>
      </nb-left>
      <nb-body :style="{ flex: 1 }">
        <image
          resize-mode="contain"
          :source="headerLogo"
          class="image-header"
        />
      </nb-body>
      <nb-right :style="{ flex: 1 }" />
    </nb-header>
    <image-background :source="ScreenBg" class="container">
      <view class="profile-info-container">
        <view class="view-thumb">
          <nb-thumbnail :source="thumbnailImg" class="profile-pic" />
        </view>
        <view class="profile-info">
          <nb-text class="profile-user">Kumar Sanket</nb-text>
        </view>
      </view>
      <nb-content :shows-vertical-scroll-indicator="false" class="content-view">
        <view>
          <nb-button
            rounded
            primary
            block
            large
            class="login-btn"
            :on-press="login"
          >
            <nb-text class="text">
              Favoritos y Recomendaciones
            </nb-text>
          </nb-button>
          <nb-button rounded primary block large class="login-btn">
            <nb-text class="text">
              Mi Bucket List
            </nb-text>
          </nb-button>
          <nb-button rounded primary block large class="login-btn">
            <nb-text class="text">
              Sitios que no conozco
            </nb-text>
          </nb-button>
        </view>
      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import { Platform, Dimensions } from "react-native";
import { SwipeListView } from "react-native-swipe-list-view";
import ScreenBg from "../../../assets/bg-transparent.png";
import headerLogo from "../../../assets/header-logo.png";
import thumbnailImg from "../../../assets/header-logo.png";

export default {
  components: {
    SwipeListView
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      headerLogo,
      ScreenBg,
      thumbnailImg,
      listData: [],
      stylesObj: {
        linkTabs_tabCounts: {
          paddingBottom: Platform.OS === "android" ? 3 : 0
        },
        linkTabs_tabName: {
          fontSize: Dimensions.get("window").width < 330 ? 13 : 15
        },
        newsImage: {
          width: 100,
          height: 120
        },
        newsHeader: {
          color: "#444",
          fontWeight: "bold"
        },
        list: {
          borderColor: "transparent"
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd"
        },
        newsLink: {
          color: "#666",
          fontSize: 12,
          alignSelf: "flex-start",
          fontWeight: "bold"
        },
        newsTypeView: {
          borderBottomWidth: 1,
          borderBottomColor: "#666",
          alignSelf: "flex-end"
        },
        newsTypeText: {
          color: "#666",
          fontSize: 12,
          fontWeight: "bold",
          paddingBottom: 5
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 120,
          borderWidth: 1,
          marginLeft: 0
        },
        swipeBtnLeft: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-start",
          backgroundColor: "#ccc"
        },
        swipeBtnRight: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-end"
        },
        swipeBtnIconContainer: {
          height: 120,
          width: 100,
          justifyContent: "center",
          alignItems: "center"
        },
        swipeBtnIcon: {
          fontSize: 35
        },
        txtTerm: {
          paddingTop: 0,
          paddingLeft: Dimensions.get("window").width / 3.2
        }
      }
    };
  },
  methods: {
    login() {
      this.navigation.navigate("Perfil");
    },
    Terminos() {
      this.navigation.navigate("Terms");
    }
  }
};
</script>

<style>
.header {
  background-color: #ffffff;
}
.image-header {
  height: 25;
  width: 100%;
}
.profile-info-container {
  background-color: #ffffff;
  padding-top: 10;
}
.container {
  flex: 1;
}
.profile-pic {
  width: 80;
  height: 80;
  border-radius: 40;
  border-width: 1px;
  border-color: gray;
}
.profile-info {
  align-self: center;
  padding-top: 5;
  padding-bottom: 10;
}
.profile-user {
  color: #000;
  align-self: center;
  font-size: 22;
  font-weight: bold;
  padding-bottom: 5;
}
.profile-user-info {
  align-self: center;
  opacity: 0.8;
  font-weight: bold;
  color: #fff;
}
.link-tabs {
  background-color: #fff;
}
.linkTabs-header {
  padding: 15;
  align-self: center;
}
.linkTabs-tab-counts {
  font-size: 22;
  font-weight: bold;
  color: #01cca1;
  align-self: center;
}
.linkTabs-tab-name {
  color: #444;
  font-weight: bold;
}
.text-note {
  color: #777;
  font-size: 12;
}
.icon-menu {
  color: #fff;
}
.view-thumb {
  align-self: center;
}
.content-view {
  background-color: #fff;
}
.list-container {
  background-color: #fff;
  justify-content: center;
}
.login-btn {
  background-color: #0dd3d3;
  margin-top: 40;
  height: 50;
}
.txt-Term {
  color: #000;
  font-size: 16;
}
.Btn-terms{
  background-color: #fff;
  margin-top: 40;
  height: 50;
}
</style>
