<template>
  <nb-container>
    <nb-header
      class="header-style"
      :style="stylesObj.headerModalStyle"
      androidStatusBarColor="#fff"
    >
      <nb-body class="body-style" :style="stylesObj.bodyStyle">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="header-icons" />
        </nb-button>
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-text class="header-text-icon">Perfil</nb-text>
        </nb-button>
        <nb-button transparent :on-press="() => navigation.goBack()">
        </nb-button>
        <nb-button transparent :on-press="() => navigation.goBack()">
        </nb-button>
      </nb-body>
    </nb-header>
    <image-background
      :source="ScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <view class="profile-info-container" :style="stylesObj.Conetendor">
        <view class="view-thumb">
          <nb-button
            transparent
            class="profile-pic2"
            :style="stylesObj.BtnImg"
            :on-press="uploadImage"
          >
            <image
              v-if="user.imagen == null"
              resize-mode="contain"
              class="profile-pic"
              :source="thumbnailImg"
            />
            <image
              v-if="user.imagen != null"
              resize-mode="contain"
              class="profile-pic"
              :source="{ uri: user.imagen }"
            />
          </nb-button>
        </view>
        <view class="profile-info">
          <nb-text class="profile-user">{{ user.usuario }}</nb-text>
        </view>
      </view>
      <nb-content :shows-vertical-scroll-indicator="false" class="content-view">
        <view class="bg">
          <view class="signup-container">
            <nb-item rounded class="input-grp">
              <nb-input
                placeholder="Nombre *"
                placeholder-text-color="#FFFFFF"
                class="textwhite"
                v-model="user.nombre"
              />
            </nb-item>
            <nb-item rounded class="input-grp">
              <nb-input
                placeholder="Apellido *"
                placeholder-text-color="#FFFFFF"
                class="textwhite"
                v-model="user.apellidoPaterno"
              />
            </nb-item>
            <nb-item rounded class="input-grp">
              <nb-input
                placeholder="Apellido Materno"
                placeholder-text-color="#FFFFFF"
                class="textwhite"
                v-model="user.apellidoMaterno"
              />
            </nb-item>
            <nb-item rounded class="input-grp">
              <nb-input
                placeholder="Correo Electrónico *"
                placeholder-text-color="#FFFFFF"
                class="textwhite"
                v-model="user.correo"
              />
            </nb-item>
          </view>
        </view>
        <nb-button
          rounded
          primary
          block
          large
          class="btn"
          :style="stylesObj.btn"
          :on-press="actualizar"
        >
          <nb-text :style="stylesObj.txt">Actualizar</nb-text>
        </nb-button>
        <nb-button
          rounded
          primary
          block
          large
          class="btnred"
          :style="stylesObj.btn"
          :on-press="logout"
        >
          <nb-text :style="stylesObj.txt">Cerrar sesión</nb-text>
        </nb-button>
      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import { Platform, Dimensions } from "react-native";
import ScreenBg from "../../../assets//MenuPrincipal/fondo2.png"; //bg-transparent.png";
import headerLogo from "../../../assets/header-logo.png";
import thumbnailImg from "../../../assets/Perfil/IconoPerfil.png";
import * as ImagePicker from "expo-image-picker";
import Userservices from "../../services/usuarios";
import store from "../../store";
import * as Permissions from "expo-permissions";
import { iPhoneHasNotch } from "../../utils/device";
import { Toast } from "native-base";
import { NavigationActions, StackActions } from "vue-native-router";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "OpcionesUsuario" })],
});

export default {
  computed: {
    Usuarios() {
      return store.state.Usuarios;
    },
    usuario() {
      return store.state.usuario;
    },
  },
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      user: {},
      headerLogo,
      ScreenBg,
      thumbnailImg,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        linkTabs_tabCounts: {
          paddingBottom: Platform.OS === "android" ? 3 : 0,
        },
        linkTabs_tabName: {
          fontSize: Dimensions.get("window").width < 330 ? 13 : 15,
        },
        newsImage: {
          width: 100,
          height: 120,
        },
        newsHeader: {
          color: "#444",
          fontWeight: "bold",
        },
        list: {
          borderColor: "transparent",
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd",
        },
        newsLink: {
          color: "#666",
          fontSize: 12,
          alignSelf: "flex-start",
          fontWeight: "bold",
        },
        newsTypeView: {
          borderBottomWidth: 1,
          borderBottomColor: "#666",
          alignSelf: "flex-end",
        },
        newsTypeText: {
          color: "#666",
          fontSize: 12,
          fontWeight: "bold",
          paddingBottom: 5,
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 120,
          borderWidth: 1,
          marginLeft: 0,
        },
        swipeBtnLeft: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-start",
          backgroundColor: "#ccc",
        },
        swipeBtnRight: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-end",
        },
        swipeBtnIconContainer: {
          height: 120,
          width: 100,
          justifyContent: "center",
          alignItems: "center",
        },
        swipeBtnIcon: {
          fontSize: 35,
        },
        btn: {
          width: Dimensions.get("window").width / 1.2,
          alignSelf: "center",
          justifyContent: "center",
        },
        txt: {
          fontSize: Dimensions.get("window").width < 330 ? 15 : 18,
          alignSelf: "center",
        },
        BtnImg: {
          height: 92,
          marginTop: Dimensions.get("window").height < 800 ? 20 : 0,
        },
        Conetendor: {
          marginTop: this.signUpContainerStyle(),
        },
      },
    };
  },
  methods: {
    signUpContainerStyle() {
      if (iPhoneHasNotch()) {
        return 20;
      } else {
        return 0;
      }
    },
    actualizar() {
      let isBAndera = false;
      if (this.user.nombre == "" || this.user.nombre == null) {
        isBAndera = true;
      }
      if (
        this.user.apellidoPaterno == "" ||
        this.user.apellidoPaterno == null
      ) {
        isBAndera = true;
      }
      if (this.user.correo == "" || this.user.correo == null) {
        isBAndera = true;
      }
      //console.log("perfil");
      //console.log(this.user);
      var imagen = this.user.imagen;
      this.user.imagen = "";
      if (isBAndera == false) {
        Userservices.update(this.user.id, this.user)
          .then((response) => {
            //console.log("perfil");
            //console.log('respuesta: '+response);
            if (response.status == 204) {
              this.user.imagen = imagen;
              store.state.usuario = this.user;
              store.state.imagen = imagen;
              let user = {
                id: this.user.id,
                imagen: imagen,
              };
              console.log();
              if (this.Usuarios.length == 0) {
                store.state.Usuarios.push(user);
              } else {
                this.Usuarios.forEach((e) => {
                  console.log("Entro1");
                  if (e.id == this.user.id) {
                    console.log("Entro2");
                    var i = this.Usuarios.indexOf(e.id);
                    if (i !== -1) {
                      this.Usuarios.splice(i, 1);
                    }
                    store.state.Usuarios.push(user);
                  } else {
                    store.state.Usuarios.push(user);
                  }
                });
              }
              alert("Se actualizaron sus datos de forma correcta");
            } else {
              console.log("Errores");
              console.log(response);
              alert("Error al actualizar, intente nuevamente más tarde");
            }
          })
          .catch((e) => {
            console.log("Errores");
            console.log(e);
            alert("Error al actualizar, intente nuevamente más tarde");
          });
        var menu = {
          origen: "opciones",
          bonton: false,
        };
        store.state.menu = menu;
      } else {
        alert(
          "No se puede actualizar, si los campos en astericos estan vacios"
        );
      }
    },
    deleteRow(rowMap, rowId) {
      rowMap[rowId].closeRow();
      const requiredIndex = this.datas.findIndex((d) => d.id === rowId);
      this.datas.splice(requiredIndex, 1);
    },
    async uploadImage() {
      //console.log("Estamos trabajando");
      Permissions.askAsync(Permissions.CAMERA_ROLL)
        .then((status) => {
          if (!status.granted) {
            this.errorMessage = "Permiso denegado para las fotos";
          } else if (status.granted) {
            ImagePicker.launchImageLibraryAsync({
              mediaTypes: ImagePicker.MediaTypeOptions.All,
              allowsEditing: true,
              aspect: [4, 3],
              quality: 1,
              base64: true,
            })
              .then((result) => {
                if (result.cancelled == false) {
                  this.user.imagen = "data:image/jpeg;base64," + result.base64;
                }
              })
              .catch((e) => {
                console.log(e);
              });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    logout() {
      store.state.geoZona = {};
      store.state.usuario = {};
      store.state.calificacion = {};
      store.state.countCalificar = 0;
      store.state.tarjetasCalifica = [];
      store.state.menu = {
        origen: "",
        bonton: false,
      };
      store.state.vivLugar = [];
      store.state.planLugares = [];
      this.navigation.navigate("Login");
    },
  },
  created() {
    this.user = this.usuario;
    //this.user.imagen =
    // console.log("los datos del usuario son :");
    // console.log(this.user);
  },
};
</script>

<style>
/* ok */
.header-style {
  background-color: #0dd3d3;
  padding-left: 0;
  padding-right: 0;
}
/* ok */
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
/* ok */
.header-icons {
  color: #ffffff;
  font-size: 30;
  background-color: transparent;
}
/* ok */
.header-text-icon {
  color: #ffffff;
  font-size: 28;
  padding-top: 10;
  margin-top: 0;
}
.header {
  /* background-color: #fff; */
}
.image-header {
  height: 25;
  width: 100%;
}
.profile-info-container {
  background-color: rgba(0, 0, 0, 0.001); /* #fff;*/
  padding-top: 10%;
}
.container {
  flex: 1;
}
.profile-pic2 {
  padding-bottom: 27;
  border-radius: 90;
}
.profile-pic {
  width: 90;
  height: 90;
  border-radius: 800;
  margin-top: 60;
  margin-bottom: 40;
  border-width: 1px;
  border-color: gray;
}
.profile-info {
  align-self: center;
  padding-top: 8%;
  padding-bottom: 10;
}
.profile-user {
  color: #006666;
  align-self: center;
  font-size: 26;
  margin-top: 50;
}
.profile-user-info {
  align-self: center;
  opacity: 0.8;
  font-weight: bold;
  color: #000;
}
.link-tabs {
  /* background-color: #fff; */
}
.linkTabs-header {
  padding: 15;
  align-self: center;
}
.linkTabs-tab-counts {
  font-size: 22;
  font-weight: bold;
  /* color: #fff; */
  align-self: center;
}
.icon-menu {
  /* color: #fff; */
}
.view-thumb {
  align-self: center;
}
.content-view {
  background-color: transparent;
}
.list-container {
  /* background-color: #fff; */
  justify-content: center;
}
.bg {
  background-color: transparent;
  /* background-color: #fff; */
}
.signup-container {
  margin-top: 10;
  padding-left: 20;
  padding-right: 20;
  background-color: transparent;
}
.input-grp {
  flex-direction: row;
  border-radius: 25;
  background-color: #0dd3d3;
  margin-bottom: 20;
  border-width: 0;
  border-color: transparent;
}
.image-container {
  flex: 1;
  background-color: transparent;
}
.icon-input {
  color: #fff;
  left: 3;
}
.input {
  color: #dfdfdf;
}
.textwhite {
  color: white;
  margin-left: 10;
}
.btn {
  background-color: #0dd3d3;
  margin-top: 1%;
  height: 50;
}
.btnred {
  background-color: #ff4f5b;
  margin-top: 5%;
  height: 50;
}
</style>
