<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="table-full-width" no-footer-line>
        <h4 slot="header" class="card-title">Listado de Imagenes</h4>
        <div>
          <div
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <el-select
              class="select-primary mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
            <fg-input>
              <el-input
                type="search"
                class="mb-3"
                clearable
                prefix-icon="el-icon-search"
                style="width: 200px"
                placeholder="Search records"
                v-model="searchQuery"
                aria-controls="datatables"
              ></el-input>
            </fg-input>
          </div>
          <n-button
            type="primary"
            @click.native="ModalPersonalizado(1)"
            class="float-right"
            >Nuevo Imagene</n-button
          >
          <!-- Classic Modal Insertar-->
          <modal
            :show.sync="modals.classic"
            headerClasses="justify-content-center"
          >
            <h4 slot="header" class="title title-up">
              {{ datosModal.titulo }}
            </h4>
            <form>
              <div>
                <fg-input
                  label="Descripción (s)"
                  type="text"
                  placeholder="descripcion"
                  v-model="descripcion"
                ></fg-input>
                <fg-input>
                  <el-upload
                    class="avatar-uploader"
                    action="#"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload"
                    :on-change="ChangeImage"
                    :file-list="fileList"
                    :http-request="uploadImage"
                  >
                    <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>
                </fg-input>
                <n-button
                  type="danger"
                  @click.native="modals.classic = false"
                  @click.native.prevent="Clear()"
                  >Cancelar</n-button
                >
                <n-button
                  native-type="submit"
                  type="primary"
                  @click.native.prevent="postNow(datosModal.evento)"
                  >{{ datosModal.boton }}</n-button
                >
              </div>
            </form>
          </modal>
          <el-table stripe style="width: 100%" :data="queriedData">
            <el-table-column
              v-for="column in tableColumns"
              :key="column.label"
              :min-width="column.minWidth"
              :prop="column.prop"
              :label="column.label"
            ></el-table-column>
            <el-table-column :min-width="135" fixed="right" label="Acciones">
              <div slot-scope="props" class="table-actions">
                <n-button
                  @click.native="ModalPersonalizado(2, props.row)"
                  class="edit"
                  type="warning"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-pencil"></i>
                </n-button>
                <n-button
                  @click.native="ModalPersonalizado(3, props.row)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-times"></i>
                </n-button>
              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class>
            <p class="card-category">
              Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
            </p>
          </div>
          <n-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></n-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import imagenservice from "../../Services/imagenes";
import { Table, TableColumn, Select, Option, Upload } from "element-ui";
import { Pagination as NPagination } from "src/components";
import Fuse from "fuse.js";
import swal from "sweetalert2";
import { Modal } from "src/components";

export default {
  components: {
    NPagination,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Modal,
    Upload,
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    },
  },
  data() {
    return {
      fileList: [],
      formInline: {
        method: "",
        flag: "",
      },
      file: null,
      imageUrl: "",
      LugarId: null,
      datosModal: {
        titulo: "Crear Imagene",
        boton: "Confirmar",
        evento: 0,
      },
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0,
      },
      modals: {
        classic: false,
      },
      evento: "",
      id: 0,
      descripcion: null,
      imagen: "",
      searchQuery: "",
      propsToSearch: ["id", "descripcion"],
      tableColumns: [
        {
          prop: "id",
          label: "id",
          minWidth: 50,
        },
        {
          prop: "descripcion",
          label: "Descripción",
          minWidth: 250,
        },
      ],
      tableData: [],
      searchedData: [],
      fuseSearch: null,
    };
  },
  methods: {
    ModalPersonalizado(exp, row) {
      // console.log(row);//este es el bueno
      // console.log("Usuario id: "+ row.id)
      switch (exp) {
        case 1: //Insertar
          this.descripcion = "";
          this.modals.classic = true;
          this.datosModal.titulo = "Crear Imagene";
          this.datosModal.boton = "Confirmar";
          this.datosModal.evento = 1;
          break;
        case 2: //Actualizar
        this.imageUrl = row.imagen;
          this.id = row.id;
          this.descripcion = row.descripcion;
          this.modals.classic = true;
          this.datosModal.titulo = "Actualizar Imagene";
          this.datosModal.evento = 2;
          break;

        case 3: //Eliminar
          this.id = row.id;
          this.descripcion = row.descripcion;
          //console.log("Entro");
          swal
            .fire({
              title: "Estas seguro de eliminar el siguiente registro?",
              text: row.descripcion,
              //type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn btn-success btn-fill",
              cancelButtonClass: "btn btn-danger btn-fill",
              confirmButtonText: "Si, eliminarlo!",
              buttonsStyling: false,
            })
            .then((result) => {
              if (result.value) {
                //aqui tengo que llamar el registro
                this.deleteRow(row);
              }
            });
          break;
      }
    },
    postNow(exp) {
      var data = {
        id: this.id,
        descripcion: this.descripcion,
        imagen: this.imagen,
        lugarId: this.LugarId,
      };
      switch (exp) {
        case 1:
          imagenservice
            .create(data)
            .then((response) => {
              //hay que cerrar el model
              this.modals.classic = false;
              this.Notificaciones(response);
              this.descripcion = "";
              //Aqui recuperamos los datos
            })
            .catch(function (error) {
              console.log(error);
            });
          break;

        case 2:
          if (this.id > 0) {
            imagenservice
              .update(this.id, data)
              .then((response) => {
                //hay que cerrar el model
                this.modals.classic = false;
                this.Notificaciones(response);
                this.descripcion = "";
                //Aqui recuperamos los datos
              })
              .catch(function (error) {
                console.log(error);
              });
          }

          break;
      }
    },
    Notificaciones(response) {
      // console.log(response);
      var msg = response.data;
      msg.forEach((item) => {
        //console.log("id: "+ item.tipo+ " Msg: "+item.mensaje)
        switch (item.tipo) {
          case 1: //Error
            this.sendNoty("danger", item.mensaje);
            break;
          case 2: //ErrorAtributos
            //this.sendNoty('success',e.mensaje);
            break;
          case 3: //Exitoso
            this.sendNoty("success", item.mensaje);
            this.retrive(this.LugarId);
            this.Clear();
            break;
          case 4: //Informativo
            this.sendNoty("info", item.mensaje);
            break;
        }
      });
    },
    deleteRow(row) {
      if (this.id > 0) {
        imagenservice
          .delete(row.id)
          .then((response) => {
            //hay que cerrar el model
            this.Notificaciones(response);
            swal({
              title: "Eliminado!",
              text: `Se ha eliminado el registro ${row.descripcion}`,
              type: "success",
              confirmButtonClass: "btn btn-success btn-fill",
              buttonsStyling: false,
            });
            //Aqui recuperamos los datos
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },
    retrive(id) {
      imagenservice
        .getAll(id)
        .then((response) => {
          this.tableData = response.data;
          console.log(response.data);
        })
        .catch((e) => {
          console.log(e);
        });
    },
    sendNoty(type, menssage) {
      this.$notify({
        message: menssage,
        timeout: 30000,
        icon: "now-ui-icons ui-1_bell-53",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    Clear() {
      this.descripcion = null;
      this.id = 0;
    },
    handleAvatarSuccess(res, file) {
      //this.imageUrl = URL.createObjectURL(file.raw);
      console.log("handleavatarsuccess");
      console.log(file);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/jpeg";
      const isLt2M = file.size / 1024 / 1024 < 10;
      console.log(file.size);
      if (!isJPG) {
        //this.$message.error("La imagen debe estar en formato JPG!");
        this.sendNoty("danger", "La imagen debe estar en formato JPG!");
      }
      if (!isLt2M) {
        //this.$message.error("La imagen excede los 2MB!");
        this.sendNoty("danger", "La imagen excede los 10MB!");
      }
      return isJPG && isLt2M;
    },
    uploadImage(file, imageUrl) {},
    ChangeImage(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (isLt2M) {
      this.imageUrl = URL.createObjectURL(file.raw);
      var reader = new FileReader();
      reader.readAsDataURL(file.raw);
      reader.onload = () => {
        this.imagen = "";
        this.imagen = reader.result;
        };
      }
    },
  },

  mounted() {
    this.LugarId = this.$route.params.id;
    this.retrive(this.LugarId);
    //Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: ["id", "descripcion"],
      threshold: 0.3,
    });
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    },
  },
};
</script>
<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.card .avatar {
  width: 178px;
  height: 178px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 15px;
}
</style>
