<template>
  <ValidationObserver v-slot="{ handleSubmit }">
    <form @submit.prevent="handleSubmit(submit)">
      <div class="col-md-4 ml-auto mr-auto">
        <form @submit.prevent="login">
          <card class="card-login card-plain">
            <div slot="header">
              <div class="logo-container">
                <img src="img/logo.png" alt="" />
              </div>
            </div>

            <div>
              <ValidationProvider
                name="email"
                rules="required|min:5"
                v-slot="{ passed, failed }"
              >
                
                <fg-input
                  type="text"
                  :error="failed ? 'El usuario es requerido' : null"
                  :hasSuccess="passed"
                  class="no-border form-control-lg"
                  placeholder="Usuario"
                  addon-left-icon="now-ui-icons ui-1_email-85"
                  v-model="email"
                >
                </fg-input>
              </ValidationProvider>

              <ValidationProvider
                name="password"
                rules="required|min:5"
                v-slot="{ passed, failed }"
              >
                <fg-input
                  type="password"
                  :error="failed ? 'The Password field is required' : null"
                  :hasSuccess="passed"
                  class="no-border form-control-lg"
                  placeholder="Contraseña"
                  addon-left-icon="now-ui-icons ui-1_lock-circle-open"
                  v-model="password"
                >
                </fg-input>
              </ValidationProvider>
            </div>

            <div slot="footer">
              <n-button native-type="submit" type="primary" round block>
                Estas listo?
              </n-button>
              <div class="pull-left">
                  <p>No tienes una cuenta?</p>
              </div>

              <div class="pull-right">
                <h6>
                  <router-link class="link footer-link" to="/register">
                    Registrate!
                  </router-link>
                </h6>
                <!-- <h6>
                  <a href="#pablo" class="link footer-link">Need Help?</a>
                </h6> -->
              </div>
            </div>
          </card>
        </form>
      </div>
    </form>
  </ValidationObserver>
</template>

<script>
import { extend } from "vee-validate";
import { required, email, min } from "vee-validate/dist/rules";
import userservices from "../../../Services/usuarios";

extend("email", email);
extend("required", required);
extend("min", min);

export default {
  name: "login",
  data() {
    return {
      email: "",
      password: ""
    };
  },
  methods: {
    login() {
      if(this.email != "" && this.password != "")
      {
        var data = {
            usuario: this.email,
            contrasenia: this.password
        };
        userservices
        .login(data)
        .then(response => {
          console.log(response);
          if(response.status == 200){
            this.$router.push("/dashboard");
          }else{
              alert("Usuario y/o Contraseña incorrecto");
          }
          // this.Notificaciones(response);
        })
        .catch(function(error) {
          alert("Favor, de internarlo mas tarde...");
        });
      }      
    },
    Notificaciones(response) {
      // console.log(response);
      var msg = response.data;
      msg.forEach(item => {
        //console.log("Id: "+ item.tipo+ " Msg: "+item.mensaje)
        switch (item.tipo) {
          case 1: //Error
            this.password = null;
            this.email = null;
            alert(item.mensaje);
            break;
          case 2: //ErrorAtributos
            //this.sendNoty('success',e.mensaje);
            break;
          case 3: //Exitoso
            this.$router.push("/dashboard");
            break;
          case 4: //Informativo
            break;
        }
      });
    }
  }
};
</script>
<style>
.navbar-nav .nav-item p {
  line-height: inherit;
  margin-left: 5px;
}
</style>
