<template>
  <nb-container class="walkthrough-container">
    <status-bar
      :bar-style="'light-content'"
      androidStatusBarColor="#fff"
    ></status-bar>
    <view class="container" :style="stylesObj.conteiner">
      <carousal
        :data="carouselData"
        :sliderWidth="deviceWidth"
        :sliderHeight="deviceHeight"
        :itemWidth="deviceWidth"
        :itemHeight="deviceHeight"
        :loop="false"
        :animate="false"
        :onSnapToItem="onSnapToItem"
        :autoplay="true"
        :autoplayInterval="2400"
        layout="tinder"
        useScrollView="true"
      >
        <slide render-prop-fn="renderItem" :content="args.item" />
      </carousal>
      <pagination
        :dotsLength="carouselData.length"
        :activeDotIndex="activeSlideIndex"
        :containerStyle="{ backgroundColor: 'rgba(0, 0, 0, 0)' }"
        :dotStyle="{
          width: 10,
          height: 10,
          borderRadius: 5,
          marginHorizontal: 4,
          backgroundColor: 'rgba(0, 204, 204, 1)'
        }"
        :inactiveDotStyle="{
          backgroundColor: 'rgba(165, 165, 165, 1)'
        }"
        :inactiveDotScale="1"
      />
    </view>
  </nb-container>
</template>

<script>
import Carousel, { Pagination } from "react-native-snap-carousel";
import { Dimensions, Platform } from "react-native";
import headerLogo from "../../../assets/icon.png";
import Slide from "./Slide";
import config from "../../services/configuracion";
import tarjetas from "../../services/tarjetas";
import Btn1 from "../../../assets/Iconos/nomegustaencendido.png";
import Btn2 from "../../../assets/Iconos/megustaencendido.png";
import Btn3 from "../../../assets/Iconos/meencantaencendido.png";

export default {
  components: { carousal: Carousel, slide: Slide, pagination: Pagination },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      deviceWidth: Dimensions.get("window").width,
      deviceHeight: Dimensions.get("window").height,
      offset: Dimensions.get("window").height / 15,
      indicatorSize: Platform.OS === "android" ? 15 : 10,
      carouselData: [],
      activeSlideIndex: 0,
      stylesObj: {
        conteiner: {
          width: Dimensions.get("window").width,
          padding: Dimensions.get("window").width / 10
        }
      },
      cardItemsArr: [],
      timer: null
    };
  },
  methods: {
    onSnapToItem(index) {
      this.activeSlideIndex = index;
      const count = index + 1;      
      if (count == this.carouselData.length) {

        config
          .listado("cit")
          .then(response => {
            //console.log(response.data);
            response.data.forEach(e => {
              tarjetas
                .get(e.indice)
                .then(response => {
                  //console.log(response);
                  response.data.forEach(e => {
                    const tarjeta = {
                      id: e.id,
                      text: e.informacion,
                      name: e.nombre,
                      categoria: e.categoriaDescripcion,
                      image: { uri: e.imagen },
                      Img1: Btn1,
                      Img2: Btn2,
                      Img3: Btn3
                    };
                    this.cardItemsArr.push(tarjeta);
                  });
                  this.navigation.navigate("Calificar", {
                    calificar: this.cardItemsArr
                  });
                })
                .catch(e => {
                  console.log("Errores");
                  console.log(e);
                });
            });
            //console.log(this.cantidad);
          })
          .catch(e => {
            console.log("Errores");
            console.log(e);
          });
      this.timer = setInterval(() => {
          clearInterval(this.timer);
          this.navigation.navigate("Loading");
        }, 5400);
      

      }

    },
    retrive() {
      config
        .listado("slidetutorial")
        .then(response => {
          //console.log(response);
          response.data.forEach(e => {
            const img = {
              key: e.indice,
              image: { uri: e.imagen }
            };
            this.carouselData.push(img);
          });
          // const extra = {
          //   key: this.carouselData.count + 1,
          //   image: null
          // };
          // this.carouselData.push(extra);
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
        });
    }
  },
  created() {
    this.retrive();
  }
};
</script>

<style>
.walkthrough-container {
  background-color: #fff;
}
.container {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>
