<template>
  <nb-container>
    <nb-header
      class="header-style"
      :style="stylesObj.headerModalStyle"
      androidStatusBarColor="#fff"
    >
      <nb-body class="body-style" :style="stylesObj.bodyStyle">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="header-icons" />
        </nb-button>
        <nb-button transparent>
          <nb-text class="header-text-icon"
            >Experiencias a tu alrededor</nb-text
          ></nb-button
        >
        <nb-button transparent></nb-button>
      </nb-body>
    </nb-header>
    <view :style="{ flex: 1, alignSelf: 'center' }">
      <nb-grid :style="{ alignSelf: 'center' }">
        <nb-row :style="{ marginTop: 0, alignSelf: 'center' }">
          <nb-grid :style="{height: 90}">
            <nb-row :style="{alignSelf: 'center'}"><nb-text class="txt-Titulo">{{ Titulo}}</nb-text></nb-row>
            <nb-row :style="{alignSelf: 'center'}"><nb-text class="Subtitulo-sub">{{usuario.ZonaDescripcion}}</nb-text></nb-row>
          </nb-grid>
        </nb-row>
        <nb-row :style="{ marginTop: -100, alignSelf: 'center' }">
          <nb-text class="txt-SubTitulo" v-if="totalResultados > 1">
            {{ totalResultados }} Resultados
          </nb-text>
          <nb-text class="txt-SubTitulo" v-if="totalResultados === 1">
            {{ totalResultados }} Resultado
          </nb-text>
        </nb-row>
        <nb-row v-if="datas.length === 0">
          <view class="link-tabs">
            <nb-list-item class="list-container">
              <nb-text class="text-note" v-if="cantidad < 100000" 
                >A {{ cantidad }} Km no se encontraron experiencias</nb-text
              >
              <nb-text class="text-note" v-if="cantidad == 100000" 
                >No se encontraron experiencias</nb-text
              >
            </nb-list-item>
          </view>
        </nb-row>
        <nb-row :style="stylesObj.Grid" v-if="datas.length >= 1">
          <flat-list
            :data="datas"
            :key-extractor="(item, index) => String(index)"
            :numColumns="2"
            :numRows="2"
          >
            <!-- <nb-grid>
                  <nb-row>
                    <nb-col>
                      
                    </nb-col>
                    <nb-col> </nb-col>
                  </nb-row>
                </nb-grid> -->
            <touchable-opacity
              render-prop-fn="renderItem"
              arguments="data"
              :on-press="
                () =>
                  navigation.navigate('Detail2', {
                    IdLugar: {
                      id: data.item.id,
                      categoria: data.item.categoriaId,
                      pantalla: 0,
                    },
                  })
              "
            >
              <nb-card>
                <nb-card-item cardBody :style="{ alignSelf: 'center' }">
                  <image
                    :source="{ uri: data.item.imagen }"
                    :style="stylesObj.Img"
                  />
                </nb-card-item>
                <nb-card-item
                  :style="{ height: 60, paddingButtom: 2, width: 175 }"
                >
                  <text :style="stylesObj.TitleList" :numberOfLines="5">{{
                    data.item.nombre
                  }}</text>
                </nb-card-item>
                <nb-card-item :style="{ height: 35, paddingTop: 2 }">
                  <text :style="stylesObj.SubTitleList"
                    >{{ data.item.km }} Km</text
                  >
                </nb-card-item>
              </nb-card>
            </touchable-opacity>
          </flat-list>
        </nb-row>
        <nb-row :style="{ marginTop: '-10%' }">
          <nb-col>
            <view class="linkTabs-header">
              <nb-button
                transparent
                light
                center
                :on-press="() => disminuimos()"
              >
                <image
                  resize-mode="contain"
                  :source="ImgMenos"
                  class="img-mas-menos"
                />
              </nb-button>
            </view>
          </nb-col>
          <nb-col :style="{ width: 200 }">
            <view class="linkTabs-header">
              <nb-text v-if="cantidad < 100000" class="linkTabs-tab-counts">{{
                cantidad
              }}</nb-text>
              <nb-text v-if="cantidad == 100000" class="linkTabs-tab-counts"
                >Todas</nb-text
              >
              <nb-text note v-if="cantidad < 100000"> Kilómetros </nb-text>
            </view>
          </nb-col>
          <nb-col>
            <view class="linkTabs-header">
              <nb-button
                transparent
                light
                center
                :on-press="() => Aumentamos()"
              >
                <image
                  resize-mode="contain"
                  :source="ImgMas"
                  class="img-mas-menos"
                />
              </nb-button>
            </view>
          </nb-col>
        </nb-row>
      </nb-grid>
    </view>
    <Loading v-if="open === true" />
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import ImgMas from "../../../assets/Iconos/iconomas.png";
import ImgMenos from "../../../assets/Iconos/iconomenos.png";
import { SwipeListView } from "react-native-swipe-list-view";
import * as Location from "expo-location";
import * as Permissions from "expo-permissions";
import Imgservice from "../../services/Imagenes";
import store from "../../store";
import Loading from "../../components/common/Loading";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
    geozona() {
      return store.state.geoZona;
    },
  },
  components: {
    Loading,
  },
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      SubTitulo: "",
      open: false,
      Titulo: "",
      CategoriaPadreId: 0,
      totalResultados: 0,
      location: {},
      latitude: "",
      errorMessage: "",
      cantidad: 0,
      contador: 0,
      data: [
        {
          id: 1,
          cantidad: 1,
        },
        {
          id: 2,
          cantidad: 2,
        },
        {
          id: 3,
          cantidad: 3,
        },
        {
          id: 4,
          cantidad: 4,
        },
        {
          id: 5,
          cantidad: 5,
        },
        {
          id: 6,
          cantidad: 10,
        },
        {
          id: 7,
          cantidad: 20,
        },
        {
          id: 8,
          cantidad: 100000,
        },
      ],
      datas: [],
      listData: [],
      ImgMas,
      ImgMenos,
      contador: 0,
      stylesObj: {
        headerModalStyle: {
          elevation: this.open ? 0 : undefined,
        },
        bodyStyle: {
          marginTop:
            Platform.OS === "ios" &&
            (Dimensions.get("window").height === 812 ||
              Dimensions.get("window").width === 812)
              ? 20
              : 0,
        },
        cardItemImage: {
          resizeMode: "cover",
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 230,
          borderWidth: 0,
          marginLeft: 0,
          padding: 15,
        },
        newsImage: {
          height: 90,
          width: 90,
        },
        Grid: {
          marginTop: -50,
          height: Dimensions.get("window").height / 1.7,
          alignSelf: "center",
          paddingLeft: this.paddingtarjetas(),
        },
        list: {
          borderColor: "transparent",
        },
        Img: {
          height: 140,
          width: 175,
        },
        TitleList: {
          color: "#005a70",
          fontSize: 14,
          alignItems: "stretch",
        },
        SubTitleList: {
          color: "#666",
          fontSize: 12,
          alignSelf: "flex-start",
        },
      },
    };
  },
  methods: {
    paddingtarjetas() {
      //console.log(Dimensions.get("window").width)
      if (Dimensions.get("window").width >= 428) {
        return "8%";
      } else {
        return "2.3%";
      }
    },
    disminuimos() {
      if (this.contador <= 0) {
        alert("No puede ser menor a cero");
      } else {
        this.contador -= 1;
        this.data.forEach((d) => {
          if (d.id == this.contador) {
            this.cantidad = d.cantidad;
          }
        });
        if (this.cantidad > 0) {
          this.retrive();
        }
      }
    },
    Aumentamos() {
      //console.log(this.contador);
      if (this.contador <= this.data.length) {
        this.contador += 1;
        this.data.forEach((d) => {
          if (d.id == this.contador) {
            this.cantidad = d.cantidad;
          }
        });
        if (this.cantidad > 0) {
          this.retrive();
        }
      }
    },
    getLocation: function () {
      Permissions.askAsync(Permissions.LOCATION)
        .then((status) => {
          if (!status.granted) {
            this.errorMessage = "Permission to access location was denied";
          } else if (status.granted) {
            Location.getCurrentPositionAsync({}).then((location) => {
              this.location = location.coords;
              this.errorMessage = "";
              console.log(this.location);
              this.retrive();
            });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
    retrive() {
      this.open = true;

      if (
        this.geozona.latitud != undefined &&
        this.geozona.longitud != undefined
      ) {
        if (this.geozona.latitud != null && this.geozona.longitud != null) {
          this.location.latitude = this.geozona.latitud;
          this.location.longitude = this.geozona.longitud;
        }
      }
      let ZonaId = 0;

      if (this.cantidad < 100000 )
      {
        ZonaId = this.usuario.zonaId
      }else{
        ZonaId = 0;
      }
      Imgservice.lugaresDistancia(
        this.cantidad,
        this.location.latitude,
        this.location.longitude,
        this.CategoriaPadreId,
        ZonaId
      )
        .then((response) => {
          this.datas = response.data;
          this.totalResultados = this.datas.length;
          console.log("entro");
          this.open = false;
          // console.log(this.open);
        })
        .catch((e) => {
          console.log("Errores");
          console.log(e);
          this.open = false;
          // console.log(this.open);
        });
    },
  },
  created() {
    this.cantidad = 1;
    this.contador = 1;
    this.open = true;
    this.getLocation();
    if (this.navigation.state.params == undefined) {
      this.CategoriaPadreId = 0;
    } else {
      this.CategoriaPadreId = this.navigation.state.params.id;
    }

    switch (this.CategoriaPadreId) {
      case 1:
        this.Titulo = "Restaurantes";
        break;
      case 2:
        this.Titulo = "Hoteles";
        break;
      case 3:
        this.Titulo = "Diversion";
        break;
      case 4:
        this.Titulo = "Sitios Turísticos";
        break;
      default:
        this.Titulo = "Experiencias";
        break;
    }
  },
};
</script>

<style>
/* header */
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
.header-icons {
  color: #ffffff;
  font-size: 30;
  background-color: transparent;
}
.header-text-icon {
  color: #ffffff;
  font-size: 26;
  padding-top: 10;
  margin-top: 0;
}
/* End-Header */

.text {
  color: #000;
  font-size: 22;
  padding-top: 10;
  margin-top: 0;
}
.card-item-image {
  flex: 1;
  height: 180;
}
.link-tabs {
  background-color: #000;
}
.linkTabs-header {
  margin-top: 40;
  padding: 15;
  align-self: center;
}
.linkTabs-tab-counts {
  font-size: 36;
  font-weight: bold;
  color: #01cca1;
  align-self: center;
}
.txt-Titulo {
  font-size: 30;
  font-weight: bold;
  color: #005a70;
  align-self: center;
}
.txt-SubTitulo {
  font-size: 14;
  font-weight: bold;
  color: #7d7d7d;
  align-self: center;
}
.img-mas-menos {
  height: 75px;
  width: 75px;
}
.link-tabs {
  background-color: #fff;
  justify-content: center;
}
.list-container {
  background-color: #fff;
  justify-content: center;
}
.text-note {
  color: #777;
  font-size: 20;
}
.Subtitulo-sub{
  color: #005a70;
  font-size: 20;
  justify-content: center;
}
</style>