<template>
  <nb-container :style="{ backgroundColor: '#fff' }">
    <status-bar :bar-style="'light-content'" androidStatusBarColor="#01cca1" />
    <nb-grid>
      <nb-row :style="stylesObj.RowCard">
        <view :style="stylesObj.card">
          <nb-deck-swiper
            ref="_deckSwiper"
            :dataSource="cardItemsArr"
            :looping="isLoopingRequired"
            :renderEmpty="handleCardEmpty"
            :renderItem="handleCardRendering"
            :renderBottom="cambiosB"            
          >
          </nb-deck-swiper>
        </view>
      </nb-row>
      <nb-row class="row-btn-img">
        <nb-col>
          <nb-button transparent center :on-press="() => btn1()">
            <image resize-mode="contain" :source="Btn1" />
          </nb-button>
        </nb-col>
        <nb-col>
          <nb-button transparent center :on-press="() => btn3()">
            <image resize-mode="contain" :source="Btn3" />
          </nb-button>
        </nb-col>
        <nb-col>
          <nb-button transparent center :on-press="() => btn2()">
            <image resize-mode="contain" :source="Btn2" />
          </nb-button> </nb-col
      ></nb-row>
      <nb-row class="row-noloconozco">
        <nb-col class="col-btn">
          <nb-button
            rounded
            primary
            block
            large
            class="btn"
            :on-press="() => Noloconozco()"
            :disabled="isDisabled"
          >
            <nb-text class="text">
              No lo conozco
            </nb-text>
          </nb-button>
        </nb-col>
      </nb-row>
    </nb-grid>
  </nb-container>
</template>

<script>
import React from "react";
import { View, Text } from "react-native";
import CardComponent from "../../components/common/card";
import store from "../../store";
import { Dimensions, Platform } from "react-native";
import Btn1enc from "../../../assets/Iconos/nomegustaencendido.png";
import Btn2enc from "../../../assets/Iconos/megustaencendido.png";
import Btn3enc from "../../../assets/Iconos/meencantaencendido.png";
import Btn1apa from "../../../assets/Iconos/nomegustaapagado.png";
import Btn2apa from "../../../assets/Iconos/megustaapagado.png";
import Btn3apa from "../../../assets/Iconos/meencantaapagado.png";
import { Toast } from "native-base";
import calificacionSer from "../../services/calificacion";
import { iPhoneHasNotch } from "../../utils/device";
import tarjetas from "../../services/tarjetas";
import data from '../Profile/data';

export default {
  computed: {
    calificacion() {
      return store.state.calificacion;
    },
    usuario() {
      return store.state.usuario;
    },
    tarjetasData() {
      return store.state.tarjetasCalifica;
    }
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      clasificacionData: {
        usuarioId: 0,
        lugarId: 0,
        tipoClasificacionId: 0,
        CalificacionId: 0
      },
      ZonaId: 0,
      lugar: {},
      Btn1: null,
      Btn2: null,
      Btn3: null,
      isDisabled: false,
      cardItemsArr: [],
      isLoopingRequired: false,
      stylesObj: {
        RowCard: {
          height: Dimensions.get("window").height / 1.4,
          marginTop: iPhoneHasNotch() ? 75 : 0
        },
        card: {
          flex: 1,
          paddingLeft: Dimensions.get("window").width / 25,
          paddingRight: Dimensions.get("window").width / 25,
          paddingTop: Dimensions.get("window").height / 70
        }
      }
    };
  },
  methods: {
    cambiosB(item) {
      console.log(item);
      this.lugar = item;
      this.clasificacionData.CalificacionId = this.lugar.id;
      this.lugar.Img1 == true ? (this.Btn1 = Btn1enc) : (this.Btn1 = Btn1apa);
      this.lugar.Img2 == true ? (this.Btn2 = Btn2enc) : (this.Btn2 = Btn2apa);
      this.lugar.Img3 == true ? (this.Btn3 = Btn3enc) : (this.Btn3 = Btn3apa);
      this.lugar.Noloconozco == true
        ? (this.isDisabled = false)
        : (this.isDisabled = true);
    },
    handleCardEmpty() {
      store.state.tarjetasCalifica = [];
      tarjetas
        .getCount(this.clasificacionData.usuarioId, this.ZonaId)
        .then(response => {
          //console.log(response.data);
          store.state.countCalificar = response.data;
          //this.contador = this.contadorConfig >= response.data ? response.data : this.contadorConfig
          if (response.data > 0) {
            this.navigation.navigate("SegundaPregunta");
          } else {
            this.navigation.navigate("MenuPrincipal");
          }
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
        });
      //
    },
    handleCardRendering(item) {
      return <CardComponent item={item} />;
    },
    btn1() {
      this.clasificacionData.tipoClasificacionId = 1;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    btn2() {
      this.clasificacionData.tipoClasificacionId = 2;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    btn3() {
      this.clasificacionData.tipoClasificacionId = 3;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    Noloconozco() {
      this.clasificacionData.tipoClasificacionId = 4;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    mensaje() {
      // Toast.show({
      //   text: "Yeiii",
      //   duration: 2500,
      //   position: "bottom",
      //   textStyle: { textAlign: "center", backgroundColor: "transparent" }
      // });
      alert("Yeiii");
    },
    Guardamos() {
      //console.log(this.clasificacionData);
      if (this.lugar.CalificacionId == 0) {
        //console.log(this.clasificacionData);
        calificacionSer
          .create(this.clasificacionData)
          .then(response => {
            if (response.status == 200 || response.status == 201) {
              console.log(response.data)
              this.procesamos(response.data);
            }
          })
          .catch(error => {
            console.log(error);
          });
      } else {
        calificacionSer
          .update(this.clasificacionData.CalificacionId, this.clasificacionData)
          .then(response => {
            if (response.status == 200 || response.status == 201) {
              this.procesamos(response.data);
            }
          })
          .catch(error => {
            console.log(error);
          });
      }
    },
    procesamos(data) {
      this.lugar.CalificacionId = 0;
      this.cardItemsArr.forEach(c => {
        if (c.id == data.lugarId) {
          c.CalificacionId = data.id;

          switch (this.clasificacionData.tipoClasificacionId) {
            case 1:
              c.Img1 = true;
              c.Img2 = false;
              c.Img3 = false;
              c.Noloconozco = false;
              break;
            case 2:
              c.Img1 = false;
              c.Img2 = true;
              c.Img3 = false;
              c.Noloconozco = false;
              break;
            case 3:
              c.Img1 = false;
              c.Img2 = false;
              c.Img3 = true;
              c.Noloconozco = false;
              break;
            case 4:
              c.Img1 = false;
              c.Img2 = false;
              c.Img3 = false;
              c.Noloconozco = true;
              break;
              store.state.tarjetasCalifica = [];
              store.state.tarjetasCalifica = this.cardItemsArr;
              this.$refs._deckSwiper._root.swipeRight();
          }
        }
      });
    }
  },  
  created() {
    this.cardItemsArr = [];    
    this.cardItemsArr = this.tarjetasData;
    this.clasificacionData.usuarioId = this.usuario.id;
    this.ZonaId = this.usuario.zonaId;
    console.log("Tienen informacion: "+ this.cardItemsArr.length)
  },
  mounted() {
    this.cardItemsArr = this.tarjetasData;
  },
  watch: {}
};
</script>
<style>
.btn {
  background-color: #0dd3d3;
  height: 50;
}
.row-btn-img {
  margin-top: -10%;
  margin-left: 6%;
}
.col-btn {
  padding: 10px;
}
.row-noloconozco {
  margin-top: -13%;
}
</style>