<template>
  <nb-container :style="{ backgroundColor: '#fff' }">
    <nb-header
      class="header-style"
      :style="stylesObj.headerModalStyle"
      androidStatusBarColor="#006666"
    >
      <nb-body class="body-style" :style="stylesObj.bodyStyle">
        <nb-button transparent :on-press="() => regresar()">
          <nb-icon active name="arrow-back" class="header-icons" />
        </nb-button>
        <nb-button transparent>
          <nb-text class="header-text-icon">{{
            data.Titulo
          }}</nb-text></nb-button
        >
        <nb-button></nb-button>
        <nb-button></nb-button>
      </nb-body>
    </nb-header>
    <view :style="{ flex: 1 }">
      <nb-grid>
        <nb-row :style="stylesObj.Row1"
          ><nb-grid >
            <nb-row :style="{alignSelf: 'center'}"><nb-text class="Subtitulo">{{ data.SubTitulo }}</nb-text></nb-row>
            <nb-row :style="{alignSelf: 'center'}"><nb-text class="Subtitulo-sub">{{usuario.ZonaDescripcion}}</nb-text></nb-row>
          </nb-grid>
          
          </nb-row
        >
        <nb-row :style="stylesObj.Row2">
          <image
            resize-mode="contain"
            :source="fondoimage"
            :style="stylesObj.fondoimg"
          />
        </nb-row>
        <nb-row :style="stylesObj.Row3">
          <nb-button
            transparent
            :style="stylesObj.BtnListado"
            :on-press="gotoListado"
          >
            <image-background
              resize-mode="contain"
              :source="btnsecundario"
              :style="stylesObj.ImgListado"
            >
              <view :style="{ flex: 1 }">
                <nb-text class="text" :style="stylesObj.txtBtnopc">
                  {{ txtbtn }}
                </nb-text>
              </view>
            </image-background>
          </nb-button>
        </nb-row>
        <nb-row :style="stylesObj.Row4">
          <nb-button transparent :on-press="gotoAlrededor" class="btn-img">
            <image
              resize-mode="contain"
              :source="btnimage"
              :style="stylesObj.BtnMira"
            />
          </nb-button>
        </nb-row>
      </nb-grid>
      <menuSecundario :navigation="navigation" />
      <modal
        position="center"
        entry="bottom"
        :is-open="open"
        :on-opened="modalOpen"
        :on-closed="modalClose"
        :back-button-close="false"
        class="modal"
        :style="stylesObj.modal"
      >
      <scroll-view>
        <view class="modal-content-box">
          <swipe-list-view
            :style="stylesObj.list"
            :data="datas"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="item => item.id.toString()"
          >

            <nb-list-item
              render-prop-fn="renderItem"
              arguments="row"
              :on-press="
                () =>
                  navigation.navigate('Listado', {
                    categoria: { id: row.item.id, padreId: data.Key }
                  })
              "
            >
              <image
                :source="{ uri: row.item.imagen }"
                :style="stylesObj.newsImage"
              />
              <view :style="{ padding: 10 }">
                <text :style="stylesObj.txt">
                  {{ row.item.descripcion }}
                </text>
              </view>
            </nb-list-item>
            <!-- <view
              render-prop-fn="renderHiddenItem"
              arguments="data, rowMap"
              :style="{
                display: 'flex',
                flexDirection: 'row',
                height: 120
              }"
            >
            </view> -->
          </swipe-list-view>
        </view>
      </scroll-view>
      </modal>
    </view>
  </nb-container>
</template>

<script>
import fondo from "../../../assets/MenuPrincipal/fondo2.png";
import btnrestaurante from "../../../assets/categoria/BtnmiraRestaurantes.png";
import btndiversion from "../../../assets/categoria/BtnmiraDiversion.png";
import btnsitios from "../../../assets/categoria/BtnmiraSitiosTuristicos.png";
import btnhoteles from "../../../assets/categoria/BtnmiraHoteles.png";
import imgrestaurante from "../../../assets/categoria/restaurantes.png";
import imgsitios from "../../../assets/categoria/Sitios.png";
import imghoteles from "../../../assets/categoria/Hoteles.png";
import imgdivertido from "../../../assets/categoria/divertido.png";
import buscador from "../../../assets/categoria/Buscador.png";
import buscador2 from "../../../assets/categoria/Buscador2.png";
import { Dimensions } from "react-native";
import Modal from "react-native-modalbox";
import CategoriasServices from "../../services/categorias";
import { SwipeListView } from "react-native-swipe-list-view";
import menuSecundario from "../../components/common/menusecundario";
import { iPhoneHasNotch } from "../../utils/device";
import { NavigationActions, StackActions } from "vue-native-router";
import store from "../../store";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "MenuPrincipal" })]
});

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
  },
  components: {
    Modal,
    SwipeListView,
    menuSecundario
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      open: false,
      data: this.navigation.state.params.content,
      txtbtn: "",
      datas: null,
      fondoimage: null,
      btnimage: null,
      btnsecundario: null,
      stylesObj: {
        newsImage: {
          width: 50,
          height: 50
        },
        IconConca: {
          width: 30,
          height: 30
        },
        Row1: {
          marginTop: Dimensions.get("window").height / 90,
          height: Dimensions.get("window").height / 8,
          alignSelf: "center"
          //paddingLeft: Dimensions.get("window").width / 7
        },
        Row2: {
          height: Dimensions.get("window").height / 6,
          //paddingLeft: Dimensions.get("window").width / 14
          alignSelf: "center"
        },
        Row3: {
          height: Dimensions.get("window").height / 17,
          marginTop: Dimensions.get("window").height / 9,
          alignSelf: "center"
          //paddingLeft: Dimensions.get("window").width / 10
        },
        Row4: {
          height: Dimensions.get("window").height / 7,
          marginTop: Dimensions.get("window").height / 12,
          alignSelf: "center"
        },
        headerModalStyle: {
          elevation: this.open ? 0 : undefined
        },
        bodyStyle: {
          alignSelf: "center",
          marginTop:
            Platform.OS === "ios" &&
            (Dimensions.get("window").height === 812 ||
              Dimensions.get("window").width === 812)
              ? 20
              : 0
        },
        BtnMira: {
          width: Dimensions.get("window").width / 1.2,
          height: Dimensions.get("window").height / 5
        },
        fondoimg: {
          width: Dimensions.get("window").width / 1.2,
          height: Dimensions.get("window").height / 4
        },
        modal: {
          width: Dimensions.get("window").width / 1.2,
          height:Dimensions.get("window").height /1.7
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 120,
          borderWidth: 1,
          marginLeft: 0
        },
        list: {
          borderColor: "transparent"
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd"
        },
        newsHeader: {
          color: "#444",
          fontWeight: "bold"
        },
        BtnListado: {
          height: Dimensions.get("window").height / 10,
          marginTop: 5
        },
        ImgListado: {
          height: Dimensions.get("window").height / 10,
          width: Dimensions.get("window").width / 1.2
        },
        txt: {
          color: "#005a70",
          fontSize: 22
        },
        txtBtnopc:{
          marginTop: iPhoneHasNotch() ? 7 : 0,
        }
      }
    };
  },
  methods: {
    gotoevaluacion() {
      this.navigation.navigate("Categorias");
    },
    gotoAlrededor() {
      this.navigation.navigate("AtuAlrededor", {id: this.data.Key});
    },
    gotoListado() {
      switch (this.data.Key) {
        case 1: //restaurante
          this.open = true;
          break;
        case 2: //hoteles
          this.navigation.navigate("Listado", {
            categoria: { id: this.data.Key, padreId: this.data.Key }
          });
          break;
        case 3: //diverion
          this.navigation.navigate("Listado", {
            categoria: { id: this.data.Key, padreId: this.data.Key }
          });
          break;
        case 4: //sitios
          this.open = true;
          break;
      }
    },
    modalOpen() {
      this.open = true;
    },
    modalClose() {
      this.open = false;
    },
    regresar(){
      var menu = {
        origen: "Home", 
        bonton: false,
      };
      store.state.menu = menu; 
      this.navigation.dispatch(resetAction); 
      this.navigation.goBack();
    }
  },
  created() {
    switch (this.data.Key) {
      case 1:
        this.btnimage = btnrestaurante;
        this.fondoimage = imgrestaurante;
        this.btnsecundario = buscador;
        this.txtbtn = "Especialidades";
        CategoriasServices.hijos(1)
          .then(response => {
            this.datas = response.data;
            //console.log(this.datas);
          })
          .catch(e => {
            console.log("Errores");
            console.log(e);
          });
        break;
      case 2:
        this.btnimage = btnhoteles;
        this.fondoimage = imghoteles;
        this.btnsecundario = buscador2;
        this.txtbtn = "Listado Hoteles";
        break;
      case 3:
        this.btnimage = btndiversion;
        this.fondoimage = imgdivertido;
        this.btnsecundario = buscador2;
        this.txtbtn = "Listado Actividades";
        break;
      case 4:
        this.btnimage = btnsitios;
        this.fondoimage = imgsitios;
        this.btnsecundario = buscador;
        this.txtbtn = "Tipo de sitio";
        CategoriasServices.hijos(4)
          .then(response => {
            this.datas = response.data;
            console.log(this.data);
          })
          .catch(e => {
            console.log("Errores");
            console.log(e);
          });
        break;
    }
  }
};
</script>
<style>
/* ok */
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
/* ok */
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
/* ok */
.header-icons {
  color: #ffffff;
  font-size: 30;
  background-color: transparent;
}
/* ok */
.header-text-icon {
  color: #fff;
  font-size: 28;
  padding-top: 10;
  margin-top: 0;
}
.Subtitulo {
  color: #005a70;
  font-size: 28;
  justify-content: center;
}
.Subtitulo-sub{
  color: #005a70;
  font-size: 20;
  justify-content: center;
}
.btn {
  margin-top: 120;
  height: 50;
  width: 90%;
}
.txt-btn {
  text-align: center;
  padding-left: 20%;
}
.icon-img {
  height: 40;
  width: 40;
}
.btn-txt {
  height: 100px;
  width: 200px;
}
.btn-img {
  margin-left: 2%;
  height: 100;
  width: 85%;
}
.text {
  padding: 10%;
  color: #fff;
  font-size: 25;
}
.icon-imgpri {
  width: 45px;
  height: 45px;
}
.modal {
  flex: 1;
}
</style>
