<template>
  <nb-container>
    <status-bar :bar-style="'light-content'"></status-bar>
    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-content padder>
        <nb-text class="signup-header" :style="stylesObj.signupHeader">
          Bienvenidos
        </nb-text>
        <view class="signup-container" :style="stylesObj.signupContainer">
          <nb-button
            rounded
            bordered
            block
            class="signup-btn"
            :on-press="Continuar"
          >
            <nb-text class="continue-text">
              Continúa
            </nb-text>
          </nb-button>
        </view>
      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import launchScreenBg from "../../../assets/bg-signup.png";
export default {
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      emailValue: "",
      password: "",
      username: "",
      launchScreenBg,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height
        },
        signupHeader: {
          marginTop:
            Platform.OS === "android"
              ? Dimensions.get("window").height / 6
              : Dimensions.get("window").height / 6 + 10
        },
        signupContainer: {
          marginTop: this.signUpContainerStyle()
        }
      }
    };
  },
  methods: {
    signUpContainerStyle() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 9 - 20;
        } else {
          return Dimensions.get("window").height / 10 - 20;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 9 - 20;
        } else {
          return Dimensions.get("window").height / 8 - 20;
        }
      }
    },
    Continuar() {
      this.navigation.navigate("Login");
    }
  }
};
</script>

<style>
.image-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.formErrorIcon {
  color: #fff;
  margin-top: 5;
  right: 10;
}
.signup-header {
  align-self: center;
  font-size: 22;
  padding: 10;
  font-weight: bold;
  color: #fff;
}
.signup-container {
  padding-left: 20;
  padding-right: 20;
}
.input-grp {
  z-index: 1;
  flex-direction: row;
  margin-left: 0;
  border-radius: 25;
  background-color: rgba(255, 255, 255, 0.2);
  margin-bottom: 25;
  padding-left: 15;
  border-width: 0;
  border-color: transparent;
}
.input {
  padding-bottom: 5;
  padding-left: 10;
  color: #fff;
}
.signup-btn {
  height: 50;
  margin-top: 10;
  border-width: 1;
  border-color: #ddd;
}
.footer-view {
  padding-left: 20;
  padding-right: 20;
  background-color: transparent;
  border-color: transparent;
}
.help-btns {
  opacity: 0.9;
  font-size: 14;
  font-weight: bold;
  color: #fff;
}
.icon-person {
  color: #fff;
  font-size: 25;
}
.icon-email {
  color: #fff;
  font-size: 20;
}
.icon-unlock {
  color: #fff;
  font-size: 23;
}
.continue-text {
  color: #fff;
}
</style>
