<template>
  <nb-container>
    <nb-header
      class="header-style"
      :style="stylesObj.headerModalStyle"
      androidStatusBarColor="#006666"
    >
      <nb-body class="body-style" :style="stylesObj.bodyStyle">
        <nb-button transparent :on-press="() => regresar()">
          <nb-icon active name="arrow-back" class="header-icons" />
        </nb-button>
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-text class="header-text-icon">{{titleencabezado}}</nb-text>
        </nb-button>
        <nb-button transparent> </nb-button>
        <nb-button transparent> </nb-button>
      </nb-body>
    </nb-header>
    <image-background class="container">
      <image-background class="profile-info-container" :source="ImgEncabezado">
      </image-background>
      <nb-content :shows-vertical-scroll-indicator="false" class="content-view">
        <view>
          <view v-if="datas.length === 0" class="link-tabs">
            <nb-list-item class="list-container">
              <nb-text class="text-note">Listado sin Experiencias</nb-text>
            </nb-list-item>
          </view>
          <swipe-list-view
            :style="stylesObj.list"
            :data="datas"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="item => item.id.toString()"
          >
            <nb-list-item
              :style="stylesObj.listItemView"
              :on-press="
                () =>
                  navigation.navigate('Detail2', {
                    IdLugar: { id: row.item.id, categoria: row.item.categoriaId,pantalla:0 }
                  })
              "
              render-prop-fn="renderItem"
              arguments="row"
            >
              <image
                :source="{ uri: row.item.imagen }"
                :style="stylesObj.newsImage"
              />
              <view :style="stylesObj.newsContent">
                <text :numberOfLines="2" :style="stylesObj.newsHeader">
                  {{ row.item.nombre }}
                </text>
                <text :style="stylesObj.newsLink" :numberOfLines="10">
                      {{ row.item.calle}} {{ row.item.numeroExt }}, {{ row.item.numeroInt}} {{ row.item.colonia }} {{ row.item.delegacion}} {{ row.item.estadoLugar }} 
                </text>

              </view>
              <nb-button
                v-if="Objeto.id == 4"
                transparent
                :on-press="() => BucketList(row.item.id)"
              >
                <image
                  :source="
                    require('../../../assets/Detalle/iconobucketlist.png')
                  "
                  :style="stylesObj.icon"
                />
              </nb-button>
            </nb-list-item>
            <!-- <view
              v-if="Objeto.id == 4"
              render-prop-fn="renderHiddenItem"
              arguments="data, rowMap"
              :style="{ display: 'flex', flexDirection: 'row', height: 120 }"
            >
              <nb-button
                full
                transparent
                :style="stylesObj.swipeBtnRight"
                :on-press="() => BucketList(data.item.id)"
              >
                <view :style="stylesObj.swipeBtnIconContainer">
                  <image
                        :source="
                          require('../../../assets/Detalle/iconobucketlist.png')
                        "
                        :style="stylesObj.icon"
                      />
                </view>
              </nb-button>
            </view> -->
          </swipe-list-view>
        </view>
      </nb-content>
    </image-background>
    <Loading v-if="open === true" />
  </nb-container>
</template>

<script>
import ImgHotel from "../../../assets/Listado/Hoteles.png";
import ImgMeEncanta from "../../../assets/Perfil/ListadoMeEncanta.png";
import ImgMegusta from "../../../assets/Perfil/ListadoMeGustan.png";
import ImgBucklist from "../../../assets/Perfil/ListadoBucketList.png";
import ImgNoloconozco from "../../../assets/Perfil/ListadoNoConozco.png";
import { Platform, Dimensions } from "react-native";
import { SwipeListView } from "react-native-swipe-list-view";
import ScreenBg from "../../../assets/bg-transparent.png";
import headerLogo from "../../../assets/header-logo.png";
import Imgservice from "../../services/Imagenes";
import store from "../../store";
import ServTarjeta from "../../services/calificacion";
import Loading from "../../components/common/Loading";
import { Toast } from "native-base";
import { NavigationActions, StackActions } from "vue-native-router";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "OpcionesUsuario" })]
});

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    }
  },
  components: {
    SwipeListView,
    Loading
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      titleencabezado: "",
      open: false,
      usuariodata: {},
      headerLogo,
      ScreenBg,
      datas: "",
      listData: [],
      ImgEncabezado: ImgHotel,
      Objeto: this.navigation.state.params.tipoClasificacion,
      stylesObj: {
        linkTabs_tabCounts: {
          paddingBottom: Platform.OS === "android" ? 3 : 0
        },
        linkTabs_tabName: {
          fontSize: Dimensions.get("window").width < 330 ? 13 : 15
        },
        newsImage: {
          width: 100,
          height: 100,
          marginLeft:10
        },
        newsHeader: {
          color: "#005a70",
          fontSize: 18
        },
        list: {
          borderColor: "transparent"
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd"
        },
        newsLink: {
          color: "#666",
          fontSize: 14,
          alignSelf: "flex-start",
          // fontWeight: "bold"
        },
        newsTypeView: {
          borderBottomWidth: 1,
          borderBottomColor: "#666",
          alignSelf: "flex-end"
        },
        newsTypeText: {
          color: "#666",
          fontSize: 12,
          fontWeight: "bold",
          paddingBottom: 5
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 120,
          borderWidth: 1,
          marginLeft: 0
        },
        swipeBtnLeft: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-start",
          backgroundColor: "#ccc"
        },
        swipeBtnRight: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-end"
        },
        swipeBtnIconContainer: {
          height: 120,
          width: 100,
          justifyContent: "center",
          alignItems: "center"
        },
        swipeBtnIcon: {
          fontSize: 35
        },
        icon: {
          height: 47,
          width: 47,
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    deleteRow(rowMap, rowId) {
      rowMap[rowId].closeRow();
      const requiredIndex = this.datas.findIndex(d => d.id === rowId);
      this.datas.splice(requiredIndex, 1);
    },
    retrive(id, usuarioid) {
      this.open = true;
      if(id == 5){
        Imgservice.lugaresBuckeetList(usuarioid)
        .then(response => {
          this.datas = response.data;
          this.open = false;
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
          this.open = false;
        });
      }else{
        Imgservice.lugaresImagenCalificacion(id, usuarioid)
        .then(response => {
          this.datas = response.data;
          this.open = false;
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
          this.open = false;
        });
      }      
    },
    BucketList(id) {
      let data = {
        lugarId: id,
        usuarioId: this.usuariodata.id,
        tipoClasificacionId: 4,
        isBucketlist : true
      };
      ServTarjeta.CalificacionUsuario(data)
        .then(response => {
          // Toast.show({
          //     text: "El lugar se agregó a tu bucket list",
          //     duration: 5000,
          //     position: "bottom",
          //     textStyle: {
          //       textAlign: "center",
          //       backgroundColor: "transparent",
          //     },
          //   });
          alert("El lugar se agregó a tu bucket list");
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
        });
    },
    regresar(){
      var menu = {
        origen: "opciones", 
        bonton: false,
      };
      store.state.menu = menu; 
      this.navigation.dispatch(resetAction); 
      this.navigation.goBack()
    }
  },
  created() {
    this.usuariodata = this.usuario;
    switch (this.Objeto.id) {
      case 3: //me encanta
        this.ImgEncabezado = ImgMeEncanta;
        this.titleencabezado = "Me encanta";
        break;

      case 2: //me gusta
        this.ImgEncabezado = ImgMegusta;
        this.titleencabezado = "Me gusta";
        break;
      case 5: // bucket list
        this.ImgEncabezado = ImgBucklist;
        this.titleencabezado = "Mi bucket list";
        break;
      case 4: //no lo conozco
        this.ImgEncabezado = ImgNoloconozco;
        this.titleencabezado = "No lo conozco";
        break;
    }
    this.retrive(this.Objeto.id, this.usuariodata.id);
  }
};
</script>

<style>
.header-icons {
  color: #ffffff;
  font-size: 30;
  background-color: transparent;
}
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
.header-text-icon {
  color: #ffffff;
  font-size: 28;
  padding-top: 10;
  margin-top: 0;
}
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
.image-header {
  height: 25;
  width: 100%;
}
.profile-info-container {
  background-color: #ffffff;
  padding-top: 10;
  width: 100%;
  height: 200;
}
.container {
  flex: 1;
}
.profile-pic {
  width: 100;
  height: 100;
}
.profile-info {
  align-self: center;
  padding-top: 5;
  padding-bottom: 10;
}
.profile-user {
  color: #fff;
  align-self: center;
  font-size: 22;
  font-weight: bold;
  padding-bottom: 5;
}
.profile-user-info {
  align-self: center;
  opacity: 0.8;
  font-weight: bold;
  color: #fff;
}
.link-tabs {
  background-color: #fff;
}
.linkTabs-header {
  padding: 15;
  align-self: center;
}
.linkTabs-tab-counts {
  font-size: 22;
  font-weight: bold;
  color: #01cca1;
  align-self: center;
}
.linkTabs-tab-name {
  color: #444;
  font-weight: bold;
}
.text-note {
  color: #777;
  font-size: 12;
}
.icon-menu {
  color: #fff;
}
.view-thumb {
  align-self: center;
}
.content-view {
  background-color: #fff;
}
.list-container {
  background-color: #fff;
  justify-content: center;
}
</style>
