<template>
  <nb-container>
    <nb-header
      class="header-style"
      :style="stylesObj.headerModalStyle"
      androidStatusBarColor="#006666"
    >
      <nb-body class="body-style" :style="stylesObj.bodyStyle">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="header-icons" />
        </nb-button>
        <nb-button transparent>
          <nb-text class="header-text-icon">Listado</nb-text>
        </nb-button>
        <nb-button></nb-button>
        <nb-button></nb-button>
      </nb-body>
    </nb-header>
    <image-background class="container">
      <image-background class="profile-info-container" :source="ImgEncabezado">
        <!-- <view class="view-thumb">
          <nb-thumbnail :source="ImgHotel" class="profile-pic" />
        </view> -->
        <!-- <view class="profile-info">
          <nb-text class="profile-user">Kumar Sanket</nb-text>
        </view> -->
      </image-background>
      <nb-content :shows-vertical-scroll-indicator="false" class="content-view">
        <view>
          <view v-if="datas.length === 0" class="link-tabs">
            <nb-list-item class="list-container">
              <nb-text class="text-note">Listado sin Experiencias</nb-text>
            </nb-list-item>
          </view>

          <swipe-list-view
            :style="stylesObj.list"
            :data="datas"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="item => item.id.toString()"
          >
            <nb-list-item
              :style="stylesObj.listItemView"
              :on-press="
                () =>
                  navigation.navigate('Detail2', {
                    IdLugar: { id: row.item.id, categoria: row.item.categoriaId,pantalla:0 }
                  })
              "
              render-prop-fn="renderItem"
              arguments="row"
            >
              <image
                :source="{ uri: row.item.imagen }"
                :style="stylesObj.newsImage"
              />
              <view :style="stylesObj.newsContent">
                <text :numberOfLines="2" :style="stylesObj.newsHeader">
                  {{ row.item.nombre }}
                </text>
                <nb-grid :style="{ marginTop: 5 }">
                  <nb-col>
                    <text :style="stylesObj.newsLink" :numberOfLines="10">
                      {{ row.item.calle }} {{ row.item.numeroExt }}, {{ row.item.numeroInt }} {{ row.item.colonia }} {{ row.item.delegacion }} {{ row.item.estadoLugar }} 
                    </text>
                  </nb-col>
                </nb-grid>
              </view>
            </nb-list-item>
          </swipe-list-view>
        </view>
      </nb-content>
    </image-background>
    <Loading v-if="open === true" />
  </nb-container>
</template>

<script>
import ImgHotel from "../../../assets/Listado/Hoteles.png";
import ImgActividad from "../../../assets/Listado/Actividad.png";
import ImgEspecialidades from "../../../assets/Listado/especialidades.png";
import ImgTipoSitio from "../../../assets/Listado/TiposdeSitio.png";
import { Platform, Dimensions } from "react-native";
import { SwipeListView } from "react-native-swipe-list-view";
import ScreenBg from "../../../assets/bg-transparent.png";
import headerLogo from "../../../assets/header-logo.png";
import Imgservice from "../../services/Imagenes";
import Loading from "../../components/common/Loading";
import store from "../../store";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
  },
  components: {
    SwipeListView,
    Loading
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      user: {},
      zonaid: 0,
      open: false,
      ImgEspecialidades,
      headerLogo,
      ScreenBg,
      datas: "",
      listData: [],
      ImgEncabezado: null,
      Objeto: this.navigation.state.params.categoria,
      stylesObj: {
        linkTabs_tabCounts: {
          paddingBottom: Platform.OS === "android" ? 3 : 0
        },
        linkTabs_tabName: {
          fontSize: Dimensions.get("window").width < 330 ? 13 : 15
        },
        newsImage: {
          width: 100,
          height: 100,
          marginLeft:10
        },
        newsHeader: {
          color: "#005a70",
          fontSize: 18,
          fontWeight: "bold"
        },
        list: {
          borderColor: "transparent"
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd"
        },
        newsLink: {
          color: "#666",
          fontSize: 14,
          alignSelf: "flex-start",
          // fontWeight: "bold"
        },
        newsTypeView: {
          borderBottomWidth: 1,
          borderBottomColor: "#666",
          alignSelf: "flex-end"
        },
        newsTypeText: {
          color: "#666",
          fontSize: 12,
          fontWeight: "bold",
          paddingBottom: 5
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 120,
          borderWidth: 1,
          marginLeft: 0
        },
        swipeBtnLeft: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-start",
          backgroundColor: "#ccc"
        },
        swipeBtnRight: {
          flex: 1,
          height: "100%",
          justifyContent: "flex-end"
        },
        swipeBtnIconContainer: {
          height: 120,
          width: 100,
          justifyContent: "center",
          alignItems: "center"
        },
        swipeBtnIcon: {
          fontSize: 35
        }
      }
    };
  },
  methods: {
    deleteRow(rowMap, rowId) {
      rowMap[rowId].closeRow();
      const requiredIndex = this.datas.findIndex(d => d.id === rowId);
      this.datas.splice(requiredIndex, 1);
    },
    retrive(id) {
      this.open = true;
      Imgservice.lugaresimagen(id,this.zonaid)
        .then(response => {
          this.datas = response.data;
          //console.log(this.datas);
          this.open = false;
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
          this.open = false;
        });
    }
  },
  created() {
    this.user = this.usuario;
    this.zonaid = this.user.zonaId;
    // console.log(this.Objeto.id);
    //  console.log(this.Objeto);
    switch (this.Objeto.padreId) {
      case 1:
        this.ImgEncabezado = ImgEspecialidades;
        // console.log("entro especialidades");
        break;
      case 2:
        this.ImgEncabezado = ImgHotel;
        // console.log("entro hotel");
        break;
      case 3:
        this.ImgEncabezado = ImgActividad;
        // console.log("entro sctividad");
        break;
      case 4:
        this.ImgEncabezado = ImgTipoSitio;
        // console.log("entro tipo");
        break;
    }

    //ahora vamos por los datos
    this.retrive(this.Objeto.id);
  }
};
</script>

<style>
.header-icons {
  color: #ffffff;
  font-size: 30;
  background-color: transparent;
}
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
.header-text-icon {
  color: #fff;
  font-size: 28;
  padding-top: 10;
  margin-top: 0;
}
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
.image-header {
  height: 25;
  width: 100%;
}
.profile-info-container {
  background-color: #ffffff;
  padding-top: 10;
  width: 100%;
  height: 200;
  margin-top: 5;
}
.container {
  flex: 1;
}
.profile-pic {
  width: 100;
  height: 100;
}
.profile-info {
  align-self: center;
  padding-top: 5;
  padding-bottom: 10;
}
.profile-user {
  color: #fff;
  align-self: center;
  font-size: 22;
  font-weight: bold;
  padding-bottom: 5;
}
.profile-user-info {
  align-self: center;
  opacity: 0.8;
  font-weight: bold;
  color: #fff;
}
.link-tabs {
  background-color: #fff;
}
.linkTabs-header {
  padding: 15;
  align-self: center;
}
.linkTabs-tab-counts {
  font-size: 22;
  font-weight: bold;
  color: #01cca1;
  align-self: center;
}
.linkTabs-tab-name {
  color: #444;
  font-weight: bold;
}
.text-note {
  color: #777;
  font-size: 12;
}
.icon-menu {
  color: #fff;
}
.view-thumb {
  align-self: center;
}
.content-view {
  background-color: #fff;
}
.list-container {
  background-color: #fff;
  justify-content: center;
}
</style>
