<template>
  <nb-container>
    <nb-header
      class="header-style"
      :style="stylesObj.headerModalStyle"
      androidStatusBarColor="#006666"
    >
      <nb-body class="body-style" :style="stylesObj.bodyStyle">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="header-icons" />
        </nb-button>
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-text class="header-text-icon">Regresar</nb-text></nb-button
        >
        <nb-button></nb-button>
        <nb-button></nb-button>
      </nb-body>
    </nb-header>
    <image-background
      :source="fondo"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-grid :style="stylesObj.Grid">
        <nb-row :style="stylesObj.Row1">
          <nb-text class="Titulo">
            ¿En qué zona quieres {{ "\n" }} hacer tus búsquedas?
          </nb-text>
        </nb-row>
        <nb-row :style="stylesObj.Row2">
          <nb-button
            transparent
            class="btn-listado"
            :on-press="gotoListado"
            center
          >
            <image-background
              resize-mode="contain"
              :source="btnsecundario"
              class="img-secundario"
              :style="{ alignSelf: 'center' }"
            >
              <view :style="{ flex: 1, alignSelf: 'center' }">
                <nb-text class="text-btn">
                  {{ txtbtn }}
                </nb-text>
              </view>
            </image-background>
          </nb-button>
        </nb-row>
      </nb-grid>
      <modal
        position="center"
        entry="bottom"
        :is-open="open"
        :on-opened="modalOpen"
        :on-closed="modalClose"
        :back-button-close="false"
        class="modal"
        :style="stylesObj.modal"
      >
        <view class="modal-content-box">
          <swipe-list-view
            :style="stylesObj.list"
            :data="datas"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="(item) => item.id.toString()"
          >
            <nb-list-item
              render-prop-fn="renderItem"
              arguments="row"
              :on-press="
                () =>
                  Zona(
                    row.item.id,
                    row.item.descripcion,
                    row.item.longitud,
                    row.item.latitud
                  )
              "
            >
              <view :style="{ padding: 10 }">
                <text :style="stylesObj.txt">
                  {{ row.item.descripcion }}
                </text>
              </view>
            </nb-list-item>
            <view
              render-prop-fn="renderHiddenItem"
              arguments="data, rowMap"
              :style="{
                display: 'flex',
                flexDirection: 'row',
                height: 120,
              }"
            >
            </view>
          </swipe-list-view>
        </view>
      </modal>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import fondo from "../../../assets/Zona/PantallaZona.png";
import Modal from "react-native-modalbox";
import config from "../../services/configuracion";
import tarjetas from "../../services/tarjetas";
import Btn1 from "../../../assets/Iconos/nomegustaencendido.png";
import Btn2 from "../../../assets/Iconos/megustaencendido.png";
import Btn3 from "../../../assets/Iconos/meencantaencendido.png";
import btnsecundario from "../../../assets/categoria/Buscador.png";
import { SwipeListView } from "react-native-swipe-list-view";
import zonaServ from "../../services/zona";
import store from "../../store";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
  },
  props: {
    navigation: {
      type: Object,
    },
  },
  components: {
    Modal,
    SwipeListView,
  },
  validations: {},
  data() {
    return {
      user: {},
      btnsecundario,
      datas: [],
      txtbtn: " Queretaro",
      open: false,
      fondo,
      stylesObj: {
        headerModalStyle: {
          elevation: this.open ? 0 : undefined,
        },
        imageContainer: {
          height: Dimensions.get("window").height,
          width: Dimensions.get("window").width,
        },
        Row1: {
          marginTop: Dimensions.get("window").height / 2,
          height: 100,
          alignSelf: "center",
        },
        Row2: {
          height: 60,
          marginTop: 10,
          alignSelf: "center",
        },
        Grid: {
          alignSelf: "center",
        },
        headerModalStyle: {
          elevation: this.open ? 0 : undefined,
        },
        modal: {
          //width: Dimensions.get("window").width,
          height: 200,
          //top: Dimensions.get("window").height / 1.5,
        },
        bodyStyle: {
          marginTop:
            Platform.OS === "ios" &&
            (Dimensions.get("window").height === 812 ||
              Dimensions.get("window").width === 812)
              ? 20
              : 0,
        },
      },
      cardItemsArr: [],
    };
  },
  methods: {
    modalOpen() {
      this.open = true;
    },
    modalClose() {
      this.open = false;
    },
    menu() {
      this.navigation.navigate("MenuPrincipal");
    },
    gotoListado() {
      this.open = true;
    },
    Zona(id, descripcion, latitud, longitud) {
      (this.txtbtn = descripcion), (this.user.zonaId = id),(this.user.ZonaDescripcion = descripcion);
      store.state.usuario = this.user;
      let geozona = {};
      if (latitud != undefined && longitud != undefined) {
        if (latitud != null && longitud != null)
        {
          geozona = {
          latitud: latitud,
          longitud: longitud,
        };
        }        
      }

      store.state.geoZona = geozona;
      console.log(store.state);
      this.modalClose();
      alert("Te has cambiado de forma correcta de zona");
    },
  },
  created() {
    this.user = this.usuario;

    zonaServ
      .getAll()
      .then((response) => {
        this.datas = response.data;
        //console.log(this.datas);
        this.datas.forEach((e) => {
          if (e.id == this.user.zonaId) {
            this.txtbtn = e.descripcion;
          }
        });
        //console.log(this.datas );
      })
      .catch((e) => {
        console.log("Errores");
        console.log(e);
      });
  },
};
</script>

<style>
/* ok */
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
/* ok */
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
/* ok */
.header-icons {
  color: #ffffff;
  font-size: 30;
  background-color: transparent;
}
/* ok */
.header-text-icon {
  color: #fff;
  font-size: 28;
  padding-top: 10;
  margin-top: 0;
}
.image-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.btn {
  background-color: #0dd3d3;
  margin-top: 120;
  height: 50;
  width: 80%;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.Titulo {
  font-size: 26;
  color: #04b6c5;
  justify-content: center;
  text-align: center;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
}

.modal-content-grid1 {
  margin-top: 150;
  padding-bottom: 10;
  justify-content: center;
}
.img-secundario {
  margin-left: 5%;
  width: 90%;
  align-self: center;
}
.text-btn {
  padding-top: 3.5%;
  padding-right: 16%;
  color: #fff;
  font-size: 20;
}
.btn-listado {
  height: 50;
}
</style>
