<template>
  <view>
    <view v-if="platform == 'ios'">
      <progress-view-i-o-s
        :progress="progressValue"
        :progress-tint-color="tintColor"
        :track-tint-color="colorValue"
      />
    </view>
    <view v-if="platform == 'android'">
      <progress-bar-android
        style-attr="Horizontal"
        :indeterminate="false"
        :progress="progressValue"
        :color="colorAndroid"
      />
    </view>
  </view>
</template>

<script>
import { Platform } from "react-native";
import { ProgressViewIOS, ProgressBarAndroid } from "react-native";
import color from "color";

export default {
  components: { ProgressViewIOS, ProgressBarAndroid },
  props: {
    navigation: {
      type: Object
    },
    progress: {
      type: Number
    },
    color: {
      type: String
    }
  },
  data() {
    return {
      colorAndroid: this.color ? this.color : "#fff",
      progressValue: this.progress ? this.progress / 100 : 0.5,
      tintColor: this.color ? this.color : "#FFF",
      colorValue: color(this.color)
        .lighten(1)
        .hex(),
      platform: Platform.OS === "ios" ? "ios" : "android"
    };
  }
};
</script>
