<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="table-full-width" no-footer-line>
        <h2>
          En la siguiente sección podra generar la información que se encuentra
          en cada tabla
        </h2>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllClientes"
          worksheet="Clientes"
          name="Clientes.xls"
        >
          Clientes
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllClasificacion"
          worksheet="Clasificación"
          name="Clasificación.xls"
        >
          Clasificación de lugares
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllCalifUsuarios"
          worksheet="Calificacion de Usuarios"
          name="CaliUsuarios.xls"
        >
          Calificación de Usuarios
        </download-excel>

        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllCategorias"
          worksheet="Categorias"
          name="Categorias.xls"
        >
          Categorias
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllPreguntas"
          worksheet="Preguntas"
          name="Preguntas.xls"
        >
          Preguntas
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllContatosCliente"
          worksheet="Contatos Cliente"
          name="ContatosCliente.xls"
        >
          Concatos Cliente
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllLugares"
          worksheet="Lugares"
          name="Lugares.xls"
        >
          Lugares
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllCategoriasLugares"
          worksheet="Categorias X lugar"
          name="CategoriasXLugar.xls"
        >
          Categorias por lugar
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllUsuariosLugares"
          worksheet="Usuarios X lugar"
          name="UsuariosXLugar.xls"
        >
          Usuarios por lugar
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllUsuarios"
          worksheet="Usuarios"
          name="Usuarios.xls"
        >
          Usuarios
        </download-excel>
        <download-excel
          class="btn btn-default"
          :fields="json_fields"
          :fetch="getAllZonas"
          worksheet="Zonas"
          name="Zonas.xls"
        >
          Zonas
        </download-excel>
      </card>
    </div>
  </div>
</template>

<script>
import reporte from "../../Services/reportes";

export default {
  components: {},
  data() {
    return {
      json_fields: {},
      json_data: [],
      json_meta: [
        [
          {
            key: "charset",
            value: "utf-8",
          },
        ],
      ],
      tableData: [],
    };
  },
  methods: {
    async getAllClientes() {
      
      reporte
        .clientes()
        .then((response) => {
          this.json_fields = {
            "id": "id",
            "RFC": "rfc",
            "Razón Social": "razonSocial",
            "Tipo de Cadena": "cadenaIndependiente",
            "Cobro Mensual ": "cobroMensual",
            observaciones: "observaciones",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllClasificacion() {
       
      reporte
        .Calificacion()
        .then((response) => {
          this.json_fields = {
            "id": "id",
            "Lugar Id": "lugarId",
            "Usuario Id": "usuarioId",
            "Tipo de clasificación": "tipoClasificacionId",
            "Fecha en que clasifico ": "fecha",
          };
          //console.log(response.data);
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllCalifUsuarios() {
       
      reporte
        .CalifUsuarios()
        .then((response) => {
          this.json_fields = {
            "id": "id",
            "idLugar": "idLugar",
            "usuario": "usuario",
            "pnegocio1": "pnegocio1",
            "pnegocio2": "pnegocio2",
            "pnegocio3": "pnegocio3",
            "vivirLug1": "vivirLug1",
            "vivirLug2": "vivirLug2",
            "vivirLug3": "vivirLug3",
            "planLug1": "planLug1",
            "planLug2": "planLug2",
            "planLug3": "planLug3",
            "fechaCalf": "fechaCalf",
            "planLug4": "planLug4",
            "planLug5": "planLug5",
            "Id Lugar Navigation": "idLugarNavigation",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllCategorias() {
       
      reporte
        .Categorias()
        .then((response) => {
          this.json_fields = {
            "id": "id",
            "descripcion": "descripcion",
            "idPadre": "idPadre",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllPreguntas(){
       
      reporte
        .CatPreguntas()
        .then((response) => {
          this.json_fields = {
            "idCatPregunta": "idCatPregunta",
            "listado": "listado",
            "pregunta": "pregunta",
            "valor": "valor",
            "idCategoriaNavigation": "idCategoriaNavigation"
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllContatosCliente(){
       
      reporte
        .ContactosCliente()
        .then((response) => {
          this.json_fields = {
            "id":"id",
            "nombre": "nombre",
            "apellidoPaterno": "apellidoPaterno",
            "apellidoMaterno": "apellidoMaterno",
            "telefono": "telefono",
            "email": "email",
            "clienteId": "clienteId",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllLugares(){
       
      reporte
        .Lugares()
        .then((response) => {
          this.json_fields = {
            "id": "id",
            "clienteId": "clienteId",
            "informacion": "informacion",
            "calle": "calle",
            "colonia": "colonia",
            "delegacion": "delegacion",
            "numeroExt": "numeroExt",
            "numeroInt": "numeroInt",
            "location": "location",
            "latitude": "latitude",
            "telefono": "telefono",
            "whatsapp": "whatsapp",
            "urlQr": "urlQr",
            "estadoLugar": "estadoLugar",
            "web": "web",
            "nombre": "nombre",
            "rangoPrecio": "rangoPrecio",
            "zonaId": "zonaId",
            "tipoPromo": "tipoPromo",
            "cuandoPromo": "cuandoPromo",
            "comoPromo": "comoPromo",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllCategoriasLugares(){
       
      reporte
        .LugaresCategorias()
        .then((response) => {
          this.json_fields = {
            "id": "id",
            "lugarId": "lugarId",
            "categoriaId": "categoriaId",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllUsuariosLugares(){
       
      reporte
        .UsuarioLugares()
        .then((response) => {
          this.json_fields = {
               "id": "id",
              "usuarioId": "usuarioId",
              "lugarId": "lugarId",
              "fecha": "fecha",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllUsuarios(){
       
      reporte
        .Usuarios()
        .then((response) => {
          this.json_fields = {
                  "id": "id",
                  "usuario": "usuario",
                  "nombre": "nombre",
                  "apellidoPaterno": "apellidoPaterno",
                  "apellidoMaterno": "apellidoMaterno",
                  "correo": "correo",
                  "sexo": "sexo",
                  "fechaNacimiento": "fechaNacimiento",
                  "codigoPostal": "codigoPostal",
                  "instagram": "instagram",
                  "facebook": "facebook",
                  "areaId": "areaId",
                  "padreId": "padreId",
                  "zonaId": "zonaId",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    },
    async getAllZonas(){
       
      reporte
        .Zona()
        .then((response) => {
          this.json_fields = {
                  "id": "id",
                  "descripcion": "descripcion",
          };
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
      return this.tableData;
    }
  },
  created() {},
};
</script>
<style>
</style>