<template>
  <nb-container>
    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-header class="header-style" androidStatusBarColor="#01cca1" :style="stylesObj.header">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon
          active
          name="arrow-back"
          class="flecha"
          :on-press="() => navigation.goBack()"
          />     
        </nb-button>
       
        <nb-left>
          <nb-title class="Titulo_izq" :numberOfLines="3">{{titulo1}}</nb-title>
          <nb-title class="Titulo_izq" :numberOfLines="3">{{titulo2}}</nb-title>
          <!-- <nb-subtitle class="subTitulo_izq">{{ -->
            <!-- data.categoriaDescripcion -->
          <!-- }}</nb-subtitle> -->
        </nb-left>
      </nb-header>

      <scroll-view>
        <view
          :style="{
            width: 200,
            height: 50,
            marginTop: 10,
            alignSelf: 'center',
          }"
        >
          <nb-grid :style="{ width: 250 , alignSelf: 'center'}">
            <nb-col>
              <nb-button transparent :on-press="() => CambiamosOPC(4, true)">
                <image :source="BtnBucket" class="tamanio-iconoB" />
              </nb-button>
            </nb-col>
            <nb-col>
              <nb-button transparent :on-press="() => CambiamosOPC(1, false)">
                <image :source="Btn1" class="tamanio-iconoH" />
              </nb-button>
            </nb-col>
            <nb-col>
              <nb-button transparent :on-press="() => CambiamosOPC(3, false)">
                <image :source="Btn2" class="tamanio-iconoH" />
              </nb-button>
            </nb-col>
            <nb-col>
              <nb-button transparent :on-press="() => CambiamosOPC(2, false)">
                <image :source="Btn3" class="tamanio-iconoH" /> </nb-button
            ></nb-col>
            <nb-col>
              <nb-button transparent :on-press="() => CambiamosOPC(4, false)">
                <image :source="Btn4" class="tamanio-iconoH" /> </nb-button
            ></nb-col>
          </nb-grid>
        </view>
        <view class="imagen_pantalla">
          <carousel
            :data="carouselData"
            :sliderWidth="deviceWidth"
            :sliderHeight="200"
            :itemWidth="deviceWidth"
            :itemHeight="230"
            :enableMomentum="false"
            :lockScrollWhileSnapping="true"
            :animate="false"
            :onSnapToItem="onSnapToItem"
            :inactiveSlideScale="1"
            :autoplay="true"
            :autoplayInterval="3000"
          >
            <slide render-prop-fn="renderItem" :content="args.item" />
          </carousel>
          <view class="carousel-pagination-container">
            <pagination
              :dotsLength="carouselData.length"
              :activeDotIndex="activeSlideIndex"
              :containerStyle="{
                backgroundColor: 'rgba(0, 0, 0, 0)',
                paddingVertical: 0,
              }"
              :dotStyle="{
                width: 10,
                height: 10,
                borderRadius: 5,
                marginHorizontal: 0,
                backgroundColor: 'rgba(255, 255, 255, 0.92)',
              }"
              :inactiveDotStyle="{
                backgroundColor: 'rgba(160, 160, 160, 0.9)',
              }"
              :inactiveDotScale="1"
            />
          </view>
        </view>
        <nb-tabs :tab-bar-underline-style="{ backgroundColor: '#04b6c5' }"
        :initialPage="pantallaInicial">
          <nb-tab
            :style="{ backgroundColor: 'transparent' }"
            heading="Info"
            :text-style="styles.tabText"
            :active-text-style="styles.activeTabText"
          >
            <tab-one :navigation="navigation" />
          </nb-tab>

          <nb-tab
            :style="{ backgroundColor: 'transparent' }"
            heading="Opiniones"
            :text-style="styles.tabText"
            :active-text-style="styles.activeTabText"
          >
            <tab-two :navigation="navigation" />
          </nb-tab>

          <nb-tab
            :style="{ backgroundColor: 'transparent' }"
            heading="Promo"
            :text-style="styles.tabText"
            :active-text-style="styles.activeTabText"
          >
            <tab-three :navigation="navigation" />
          </nb-tab>
        </nb-tabs>
      </scroll-view>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions /*, Platform*/ } from "react-native";
import Slide from "./Slide";
import Carousel, { Pagination } from "react-native-snap-carousel";
//import React, { Component } from "react";
import {
  Container,
  Header,
  Left,
  Body,
  Right,
  Button,
  Icon,
  Segment,
  Content,
  Title,
  Text,
} from "native-base";
import { NavigationActions, StackActions } from "vue-native-router";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png";
import TabOne from "./tabOne.vue";
import TabTwo from "./tabTwo.vue";
import TabThree from "./tabThree.vue";
import LocationServices from "../../services/lugares.js";
import config from "../../services/Imagenes";
import Btn1enc from "../../../assets/Iconos/nomegustaencendido.png";
import Btn3enc from "../../../assets/Iconos/megustaencendido.png";
import Btn2enc from "../../../assets/Iconos/meencantaencendido.png";
import Btn4enc from "../../../assets/Iconos/Noconozco.png";
import Btn1apa from "../../../assets/Iconos/nomegustaapagado.png";
import Btn3apa from "../../../assets/Iconos/megustaapagado.png";
import Btn2apa from "../../../assets/Iconos/meencantaapagado.png";
import Btn4apa from "../../../assets/Iconos/Noconozco2.png";
import BucketListEnc from "../../../assets/Iconos/bucke.png";
import BucketListApa from "../../../assets/Iconos/bucke2.png";
import store from "../../store";
import servCalificacion from "../../services/calificacion";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
  },
  components: { TabOne, TabTwo, TabThree, Slide, Carousel, Pagination },
  props: {
    navigation: {
      Id_Lugar: Object,
    },
  },
  data() {
    return {
      pantallaInicial:0,
      calificacion: {},
      titulo:null,
      user: {},
      BtnBucket: null,
      Btn1: null,
      Btn2: null,
      Btn3: null,
      Btn4: null,
      activeSlideIndex: 0,
      deviceWidth: Dimensions.get("window").width,
      carouselData: [],
      titulo: "detalle pantalla",
      datosLugar: this.navigation.state.params,
      url_img: "",
      idLugar: "",
      data: {},
      titulo1:'',
      titulo2:'',
      launchScreenBg,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        header:{
          marginLeft:Platform.OS == "android" ? -90 : 0,
        }
      },
      styles: {
        tabText: {
          color: "#c3c3c3",
          fontWeight: "500",
        },
        activeTabText: {
          color: "#04b6c5",
          fontWeight: "700",
        },
      },
      clasificacionData: {
        usuarioId: 0,
        lugarId: 0,
        tipoClasificacionId: 0,
        CalificacionId: 0,
      },
    };
  },
  methods: {
    CambiamosOPC(id, isBucket) {

        if(this.calificacion == "")//esto es para la opción de no lo conozco
        {
          this.clasificacionData = {
            usuarioId: this.user.id,
            lugarId: this.idLugar,
            tipoClasificacionId: 4,
            CalificacionId: 0,//este es el id de la calificacion
          };
          //console.log("Entro a bucketlist"+this.clasificacionData);
          servCalificacion
          .create(this.clasificacionData)
          .then((response) => {
            if (response.status == 200 || response.status == 201) {
              this.Opciones();
            }
          })
          .catch((error) => {
            console.log(error);
          });
        }else{
        let data = {
          lugarId: this.idLugar,
          usuarioId: this.user.id,
          tipoClasificacionId: id,
          isBucketlist: isBucket,
        };
        console.log("Entro a los demas"+data);
        servCalificacion
          .CalificacionUsuario(data)
          .then((response) => {
            this.Opciones();
          })
          .catch((e) => {
            console.log("Errores");
            console.log(e);
          });
        }              
    },
    Opciones() {
      // console.log(this.idLugar);
      // console.log(this.user.id);
      servCalificacion
        .getCalificacionUsuario(this.idLugar, this.user.id)
        .then((r) => {
          this.calificacion = r.data;
          console.log(this.calificacion);

          this.calificacion.tipoClasificacionId == 1
            ? (this.Btn1 = Btn1enc)
            : (this.Btn1 = Btn1apa);
          this.calificacion.tipoClasificacionId == 3
            ? (this.Btn2 = Btn2enc)
            : (this.Btn2 = Btn2apa);
          this.calificacion.tipoClasificacionId == 2
            ? (this.Btn3 = Btn3enc)
            : (this.Btn3 = Btn3apa);
            this.calificacion.tipoClasificacionId == 4
            ? (this.Btn4 = Btn4enc)
            : (this.Btn4 = Btn4apa);
          this.calificacion.isBucketlist == true
            ? (this.BtnBucket = BucketListEnc)
            : (this.BtnBucket = BucketListApa);
        })
        .catch((e) => {
          console.log("Errores");
          console.log(e);
          this.Btn1 = Btn1apa;
          this.Btn2 = Btn2apa;
          this.Btn3 = Btn3apa;
          this.BtnBucket = BucketListApa;
          this.Btn4 = Btn4apa;
          this.calificacion = "";
        });
    },
    onSnapToItem(index) {
      this.activeSlideIndex = index;
    },
    retrive() {
      config
        .GetImagenesxLugar(this.idLugar)
        .then((response) => {
          //console.log(response);
          response.data.forEach((e) => {
            const img = {
              image: { uri: e.imagen },
            };
            this.carouselData.push(img);
          });
        })
        .catch((e) => {
          console.log("Errores");
          console.log(e);
        });
    },
  },
  created() {
    this.idLugar = this.datosLugar.IdLugar.id;
    this.pantallaInicial =this.datosLugar.IdLugar.pantalla;
    this.user = this.usuario;
    this.Opciones();
    //aqui es donde definiremos la consulta de la base de datos para traer los datos
    LocationServices.getlocation(this.idLugar)
      .then((response) => {
        this.data = response.data;
        this.titulo = this.data.nombre.split(' ');
          if (this.titulo.length > 3 ){
            // console.log("entre al else");
            for (var i = 0; i <= 3; i++) 
            {
              if( this.titulo1 != null){
                this.titulo1 = this.titulo1 + this.titulo[i] + ' ';
              }else{
                this.titulo1 = this.titulo[i] + ' ';
              } 
            }   
            for (var j = 4; j < this.titulo.length; j++) {
              if( this.titulo2 != null){
                this.titulo2 = this.titulo2 + this.titulo[j] + ' ';
              }else{
                this.titulo2 = this.titulo[j] + ' ';
              } 
            } 
            // en caso de que el titulo 2 este vacio se coloca el nombre de la categora 
            // if (this.titulo2 == '' || this.titulo2 == null){
            //   this.titulo2 = this.data.categoriaDescripcion;
            // }
          }else{
            // console.log("entre al else");
            this.titulo1 = this.data.nombre;
            // this.titulo2 = this.data.categoriaDescripcion;
          }
        // console.log("el titulo es :");
        // console.log(this.titulo2);    
      })
      .catch((err) => {
        console.log(err);
      });
    this.retrive();
  },
}; 
</script>

<style>
.header-style {
  background-color: rgb(255, 255, 255);
  padding-top: 10;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
}
.tab-style {
  color: black;
}
.Encabezado {
  padding-bottom: 70;
}
.tamanio-iconoB {
  height: 47;
  width: 47;
  margin-right: -18;
}
.tamanio-iconoH {
  height: 52;
  width: 52;
}
.Titulo_izq {
  font-size: 16;
  text-align: center;
  color: #005a70;
}
.subTitulo_izq {
  color: #7d7d7d;
  font-size: 14;
}
.imagen_pantalla {
  height: 350;
  align-self: center;
  margin-top: 5;
  margin-bottom: 25;
}
.flecha {
  color:#005a70;
  font-size: 28px;
  margin-left: 25;
  margin-right: 25;
}
.image-container {
  flex: 1;
  background-color: white; /* rgba(0, 0, 0, 0.1);*/
}
.carousel-pagination-container {
  position: absolute;
  width: 100%;
  bottom: 20;
}
</style>
