<template>
  <nb-container :style="{ backgroundColor: '#fff' }">
    <nb-header class="header-style" androidStatusBarColor="#006666">
    <nb-item disabled :on-press="() => navigation.goBack()">
      <nb-button transparent :on-press="() => navigation.goBack()">
        <nb-icon active name="arrow-back" class="flecha"/>
          <nb-title class="titulo_Pagina">
            {{ titulo }} hola
          </nb-title>
        </nb-button>
      </nb-item>
    </nb-header>

    <nb-content padder>
      <image
        class="imagen_pantalla"
        :source="{
          uri: data.imagen 
        }"
      />
      <text class="Nombre_Imagen">{{ data.nombre }}</text>
      <text class="Categoria_Imagen">{{ data.categoriaDescripcion }}</text>
      <text class="Direccion_Imagen">{{ data.calle +
            " " +
            data.numeroExt +
            ", " +
            data.colonia +
            ", " +
            data.delegacion +
            ", " +
            data.estadoLugar }}</text>
    </nb-content>

    <!-- <nb-footer> -->
    <nb-button
      rounded
      primary
      block
      large
      class="login-btn"
      :on-press="Continuar"
    >
      <nb-text class="text">
        Detalle
      </nb-text>
    </nb-button>
    <!-- </nb-footer> -->
  </nb-container>
</template>

<script>
import { NavigationActions, StackActions } from "vue-native-router";
import { iPhoneHasNotch } from "../../utils/device";
import LocationServices from "../../services/lugares.js";
import { Dimensions } from "react-native"; 
name: "Detail";

export default {
  props: {
    navigation: {
      Id_Lugar: Object
    }
  },
  data() {
    return {
      titulo: "Mis Lugares",
      url_img:'',//       "https://facebook.github.io/react-native/docs/assets/favicon.png",
      name_img: "",
      category_img: "",
      address_img: "",
      datosLugar: this.navigation.state.params,
      idLugar:'',
      data :{},
    };
  },
  created() {
    this.idLugar = this.datosLugar.IdLugar.id;
    //aqui es donde definiremos la consulta de la base de datos para traer los datos de la imagen seleccionada
    LocationServices.getlocation(this.idLugar)
      .then(response => {
        this.data = response.data;
        console.log(this.data);
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    Continuar() {

      //llamas a la pantalla donde mostraremos el detalle
      // this.navigation.navigate("Detail2", {
      //   DatosLugar: {
      //     id: this.data.id,
      //     NombreLugar: this.data.nombre,
      //     Categoria: this.data.categoriaDescripcion,
      //     Imagen:this.data.imagen ,
      //   }
      // });
    }
  }
};
</script>

<style>
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}

.titulo_Pagina {
  color: white;
  font-size: 24px;
  /* text-align: center; */
  padding-top: 9 ;
  margin-right: 135;
  margin-left: 90;
}
.imagen_pantalla {
  width: 350;
  height: 350;
  align-self: center;
  margin-top: 45;
}
.Nombre_Imagen {
  margin-top: 10;
  font-size: 28px;
  align-self: center;
}
.Categoria_Imagen {
  margin-top: 2;
  font-size: 16px;
  align-self: center;
}
.Direccion_Imagen {
  margin-top: 2;
  font-size: 16px;
  align-self: center;
  text-align: center;
}
.login-btn {
  background-color: #0dd3d3;
  margin-bottom: 30;
  height: 50;
}
.flecha {
  padding-top: 10;
  color: white;
  font-size: 28px;
  margin-left: 25;
}
</style>
