<template>
  <nb-container>
    <!-- muestra la descripcion del establecimineto  -->
    <text class="text">{{ datos.informacion }}</text>
    <!-- muestra la especialidad del esablecimiento  -->
    <nb-form>
      <nb-item disabled rounded class="encabezado-Subtitulos">
        <nb-input disabled class="InputTitle">Categorías</nb-input>
        <!-- <image
          :source="require('../../../assets/Detalle/Especialidades.png')"
          class="tamanio-iconoH"
        /> -->
      </nb-item>
      <text class="text">{{ datos.categoriaDescripcion }}</text>
    </nb-form>

    <!-- muestra el rango de precios que tiene el establecimiento  -->
    <nb-form>
      <nb-item disabled rounded class="encabezado-Subtitulos">
        <nb-input disabled class="InputTitle">Rango de Precios</nb-input>
        <!-- <image
          :source="require('../../../assets/Detalle/Rangodeprecio.png')"
          class="tamanio-iconoH"
        /> -->
      </nb-item>
      <text class="text">{{ datos.rangoPrecio }}</text>
    </nb-form>

    <!-- botones para abrir el dial y whats app si es que el 
    establecimiento cuenta con el telefono para ambos  -->
    <nb-form>
      <nb-item disabled rounded class="encabezado-Subtitulos">
        <nb-input disabled class="InputTitle">Contacto</nb-input>
        <!-- <image
          :source="require('../../../assets/Detalle/Contacto.png')"
          class="tamanio-iconoH"
        /> -->
      </nb-item>
    </nb-form>

    <nb-form>
      <!-- boton encargado de abrirl el dial del telefono  -->
      <nb-item transparent disabled class="botones">
        <nb-button rounded transparent :on-press="AbrirDial" class="llamar">
          <!-- <nb-text class="btn-text1">Llamar</nb-text> -->
          <image
            :source="require('../../../assets/Detalle/llamar.png')"
            class="tamanio-iconoH"
          />
        </nb-button>
        <!-- boton encargado de abrir la aplicacion de whatsapp -->
        <nb-button rounded transparent :on-press="AbrirWhats" class="whats">
          <!-- <nb-text class="btn-text">Whatsapp</nb-text> -->
          <image
            :source="require('../../../assets/Detalle/whats.png')"
            class="tamanio-iconoH"
          />
        </nb-button>

              <nb-button
        rounded
        transparent
        :on-press="AbrirSite"
        class="encabezado-siteweb"
      >
        <image
            :source="require('../../../assets/Detalle/web.png')"
            class="tamanio-iconoH"
          />
      </nb-button>
      </nb-item>

    </nb-form>

    <!-- mostrando el mapa con marcador del lugar  -->
    <map-view
      :provider="PROVIDER_GOOGLE"
      class="container"
      :region="coordinates"
      :on-press=abrirMaps>

      <map-marker :coordinate="coordinates" :on-press=abrirMaps> </map-marker>

    </map-view>
  </nb-container>
</template>

<script>
import LocationServices from "../../services/lugares.js";
import * as Linking from "expo-linking"; // npm install expo-linking --save libreria para abrir apricaciones externar al desarrollo
import MapView, { PROVIDER_GOOGLE } from "react-native-maps"; // libreria para visualizar maps

export default {
  components: {
    MapView,
    MapMarker: MapView.Marker,
  },
  props: {
    navigation: {
      Id_Lugar: Object,
      // Datos_Lugar: Object
    },
  },
  data() {
    return {
      PROVIDER_GOOGLE,
      datosLugar: this.navigation.state.params,
      descripcion: "",
      especialidad: "a",
      rango: "",
      telefono: "",
      site: "",
      idLugar: "",
      coordinates: {
        latitude: -99.1962425,
        longitude: 19.4355753,
        latitudeDelta: 0,
        longitudeDelta: 0,
      },
      datos: {},
    };
  },
  created() {
    this.idLugar = this.datosLugar.IdLugar.id;
    LocationServices.getlocation(this.idLugar)
      .then((response) => {
        this.datos = response.data;
        this.whatsapp = this.datos.whatsapp;
        console.log(response.data.latitude);
        console.log(response.data.location);
        this.coordinates = {
          latitude: this.datos.latitude,
          longitude: this.datos.location,
          latitudeDelta: 0,
          longitudeDelta: 0,
        };
        console.log(this.coordinates);
      })
      .catch((err) => {
        console.log(err);
      });
  },
  methods: {
    AbrirDial() {
      if (this.telefono == null) {
        alert("El sitio no cuenta con numero telefonico para llamar");
      } else {
        Linking.openURL(`tel:${this.datos.telefono}`); //abrimos el dial del telefono  con el numero telefonico a donde se realizara la llamada
      }
    },
    AbrirWhats() {
      if (this.whatsapp == null) {
        alert(
          "El sitio no cuenta con número telefónico para enviar mensajes por WhatsApp"
        );
      } else {
        Linking.openURL(`whatsapp://send?text=&phone=${this.datos.whatsapp}`); //abrimos whatsapp
      }
    },
    AbrirSite() {
      if (this.site != null) {
        //console.log("entre a sitio web")
        // es importante guardar en la base de datos la ruta completa  con http o https ya que se utiliza ese comando para abrir el navegador
        Linking.openURL(`${this.datos.web}`);
      } else {
        alert("El sitio no cuenta con pagina web ");
      }
    },
    abrirMaps() {
      console.log(this.coordinates);
      const scheme = 'http://maps.google.com/maps?daddr='  //Platform.select({ ios: 'maps:0,0?q=', android: 'geo:0,0?q=' });
      
      const latLng = `${this.coordinates.latitude},${this.coordinates.longitude}`;
      const label = 'Custom Label';
      const url = `${scheme}${latLng}(${label})`; 
      Linking.openURL(url); 
    },
  },
};
</script>

<style>
.container {
  height: 60%;
  width: 80%;
  align-self: center;
  margin-right: 20;
  margin-left: 20;
  margin-top: 50;
  margin-bottom: 10; 
}
.text {
  font-size: 16;
  margin-right: 30;
  margin-left: 30;
  color: #005a70;
  margin-top: 10;
}
.InputTitle {
  color: white;
}
.encabezado-Subtitulos {
  background-color: #04b6c5;
  margin-bottom: 10;
  height: 30;
  margin-top: 15;
  margin-right: 30;
  margin-left: 30;
}
.encabezado-siteweb {
 
  margin-left: 8;
  margin-right: 8;
  height: 60;
  width: 60;
}
.botones {
  align-self: center;
  margin-right: 40;
  margin-left: 40;
  border-color: transparent;
}
.btn-text {
  font-size: 16;
  margin-right: 20;
}
.btn-text1 {
  font-size: 16;
  margin-right: 45;
}
.llamar {
  margin-left: 8;
  margin-right: 8;
  /* background-color: #006666; */
  height: 60;
  width: 60;
}
.whats {
  height: 60;
  width: 60;
}
.tamanio-iconoH {
  height: 58;
  width: 58;
  align-content: center;
  margin-right: 8;
  margin-left: 8; 
}
</style>
