<template>
  <nb-container>
    <nb-grid>
      <nb-row :style="{ height: 80, alignSelf: 'center' }" v-if="imagenPromo != null"
        ><text class="Titulo" :numberOfLines="2"
          >¡Recuerda hacer check in para disfrutar de este descuento!</text
        ></nb-row
      >
      <nb-row :style="stylesObj.RowImage"
        ><image v-if="imagenPromo != null" :style="stylesObj.imagePromo" :source="{ uri: imagenPromo }"/>
        <image v-if="imagenPromo == null" :style="stylesObj.imagePromo" :source="Promodefualt"/>
        </nb-row>
      <nb-row :style="{ height: 80 }" v-if="imagenPromo != null">
        <nb-grid>
          <nb-row :style="{paddingLeft: '3%'}"><text class="Titulo-promo">Tipo de Promo</text></nb-row>
          <nb-row :style="{paddingLeft: '9%'}"
            ><text class="txt-promo">{{ tipoPromo }}</text></nb-row
          >
        </nb-grid>
      </nb-row>
      <nb-row :style="{ height: 80 }" v-if="imagenPromo != null">
        <nb-grid>
          <nb-row><text class="Titulo-promo" :style="{paddingLeft: '3%'}">¿Cuándo?</text></nb-row>
          <nb-row
            ><text class="txt-promo" :style="{paddingLeft: '9%'}">{{ cuandoPromo }}</text></nb-row
          >
        </nb-grid></nb-row
      >
      <nb-row :style="{ height: 80 }" v-if="imagenPromo != null">
        <nb-grid>
          <nb-row :style="{paddingLeft: '3%'}"><text class="Titulo-promo">¿Cómo?</text></nb-row>
          <nb-row
            ><text class="txt-promo" :style="{paddingLeft: '9%'}">{{ comoPromo }}</text></nb-row
          >
        </nb-grid>
      </nb-row>
    </nb-grid>
  </nb-container>
</template>

<script>
import { Dimensions } from "react-native";
import LocationServices from "../../services/lugares.js";
import Promodefualt from "../../../assets/descarga.png";

export default {
  comments: {},
  props: {
    navigation: {
      Id_Lugar: Object,
      // Datos_Lugar: Object
    },
  },
  data() {
    return {
      Promodefualt,
      imagenPromo: "",
      tipoPromo: "",
      comoPromo: "",
      cuandoPromo: "",
      datosLugar: this.navigation.state.params,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        imagePromo: {
          width: Dimensions.get("window").width,
          height: Dimensions.get("window").height / 3,
        },
        RowImage: {
          height: Dimensions.get("window").height / 3,
        },
      },
    };
  },
  created() {
    //console.log(this.datosLugar);
    LocationServices.get(this.datosLugar.IdLugar.id)
      .then((response) => {
        this.imagenPromo = response.data.promocionImagen;
        this.tipoPromo = response.data.tipoPromo;
        this.comoPromo = response.data.comoPromo;
        this.cuandoPromo = response.data.cuandoPromo;
        //console.log(response.data);
      })
      .catch((err) => {
        console.log("promociones");
        console.log(err);
      });
  },
};
</script>

<style>
.image-container {
  flex: 1;
  background-color: white; /* rgba(0, 0, 0, 0.1);*/
}
.imagepromo {
  height: 100;
  width: 100;
}
.Titulo {
  justify-content: center;
  margin-top: 3%;
  color: #005a70;
  font-size: 22;
  font-weight: bold;
}
.Titulo-promo {
  color: #ff4f5b;
  font-size: 20;
  font-weight: bold;
}
.txt-promo {
  color: #666;
  font-size: 18;
}
</style>

