<template>
  <nb-container>
    <status-bar :bar-style="'light-content'" androidStatusBarColor="#01cca1" />

    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <view>  
        <!-- Caritas -->
      <nb-form>
        <nb-form>
          <nb-item disabled rounded class="encabezado-opinion">
            <nb-input disabled :style="stylesObj.textAzul">{{ op1 }}</nb-input>
            <nb-button rounded transparent :on-press="() => Evaluar(11)">
              <image :source="Op_1carita1" :style="stylesObj.rangImg" name="Op_1carita1" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(12)">
              <image :source="Op_1carita2" :style="stylesObj.rangImg" name="Op_1carita2" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(13)">
              <image :source="Op_1carita3" :style="stylesObj.rangImg" name="Op_1carita3" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(14)">
              <image :source="Op_1carita4" :style="stylesObj.rangImg" name="Op_1carita4" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(15)">
              <image :source="Op_1carita5" :style="stylesObj.rangImg" name="Op_1carita5" />
            </nb-button>
          </nb-item>
        </nb-form>

        <nb-form>
          <nb-item disabled rounded class="encabezado-opinion">
            <nb-input disabled :style="stylesObj.textAzul">{{ op2 }}</nb-input>
            <nb-button rounded transparent :on-press="() => Evaluar(21)">
              <image :source="Op_2carita1" :style="stylesObj.rangImg" name="Op_2carita1" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(22)">
              <image :source="Op_2carita2" :style="stylesObj.rangImg" name="Op_2carita2" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(23)">
              <image :source="Op_2carita3" :style="stylesObj.rangImg" name="Op_2carita3" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(24)">
              <image :source="Op_2carita4" :style="stylesObj.rangImg" name="Op_2carita4" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(25)">
              <image :source="Op_2carita5" :style="stylesObj.rangImg" name="Op_2carita5" />
            </nb-button>
          </nb-item>
        </nb-form>

        <nb-form>
          <nb-item disabled rounded class="encabezado-opinion">
            <nb-input disabled :style="stylesObj.textAzul">{{ op3 }}</nb-input>
            <nb-button rounded transparent :on-press="() => Evaluar(31)">
              <image :source="Op_3carita1" :style="stylesObj.rangImg" name="Op_3carita1" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(32)">
              <image :source="Op_3carita2" :style="stylesObj.rangImg" name="Op_3carita2" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(33)">
              <image :source="Op_3carita3" :style="stylesObj.rangImg" name="Op_3carita3" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(34)">
              <image :source="Op_3carita4" :style="stylesObj.rangImg" name="Op_3carita4" />
            </nb-button>
            <nb-button rounded transparent :on-press="() => Evaluar(35)">
              <image :source="Op_3carita5" :style="stylesObj.rangImg" name="Op_3carita5" />
            </nb-button>
          </nb-item>
        </nb-form>
      </nb-form>

      <!-- que te hace vivir el lugar  -->
      <nb-form>
        <nb-item disabled rounded class="encabezado-Subtitulos">
          <nb-input disabled class="subTituloText"
            >¿Qué te hace vivir el lugar?</nb-input
          >
        </nb-item>
        <swipe-list-view
          :style="stylesObj.list"
          :data="vivLug"
          :left-open-value="100"
          :stop-left-swipe="120"
          :right-open-value="-100"
          :stop-right-swipe="-120"
          :key-extractor="item => item.id.toString()"
        >
          <nb-list-item
            :style="stylesObj.listItemView2"
            render-prop-fn="renderItem"
            arguments="row"
          >
            <view :style="stylesObj.newsContent">
              <text :numberOfLines="2" :style="stylesObj.newsHeader">
                {{ row.item.descripcion }}
              </text>
            </view>
          </nb-list-item>
        </swipe-list-view>
      </nb-form>
      </view>
      <!-- en que plan volverias -->
      <view>
      <!-- <nb-form> -->
        <nb-item disabled rounded class="encabezado-Subtitulos">
          <nb-input disabled class="subTituloText"
            >¿En qué plan volverías?</nb-input
          >
        </nb-item>

        <swipe-list-view
          :style="stylesObj.list"
          :data="planLug"
          :key-extractor="item => item.id.toString()"
        >
          <nb-list-item
            :style="stylesObj.listItemView2"
            render-prop-fn="renderItem"
            arguments="row"
          >
            <view :style="stylesObj.newsContent">
              <text :numberOfLines="2" :style="stylesObj.newsHeader">
                {{ row.item.descripcion }}
              </text>
            </view>
          </nb-list-item>
        </swipe-list-view>
      <!-- </nb-form> -->
      
      </view>

    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png";
import caraTristeAp from "../../../assets/Opiniones/1apagado.png";
import caraTristePr from "../../../assets/Opiniones/1.png";
import caraIndiferenteAp from "../../../assets/Opiniones/2apagado.png";
import caraIndiferentePr from "../../../assets/Opiniones/2.png";
import caraSeriaAp from "../../../assets/Opiniones/3apagado.png";
import caraSeriaPr from "../../../assets/Opiniones/3.png";
import caraAlegreAp from "../../../assets/Opiniones/4apagado.png";
import caraAlegrePr from "../../../assets/Opiniones/4.png";
import caraEncantadaAp from "../../../assets/Opiniones/5apagado.png";
import caraEncantadaPr from "../../../assets/Opiniones/5.png";
import CatPreguntas from "../../services/CatPreguntas.js";
import LocationServices from "../../services/lugares.js";
import { SwipeListView } from "react-native-swipe-list-view";
import CategoriasServices from "../../services/categorias.js";
import checkPass from "../Signup/checkPass";
import { Toast } from "native-base";
import Modal from "react-native-modalbox";
import store from "../../store";

export default {
  props: {
    navigation: {
      categoria_prop: Object
    }
  },
  components: { SwipeListView },
  computed: {
    usuario() {
      return store.state.usuario;
    },
    vivLugar() {
      return store.state.vivLugar;
    },
    planLugares() {
      return store.state.planLugares;
    }
  },
  data() {
    return {
      DatosCategoria: this.navigation.state.params,
      Idcategoria: "",
      id: "",
      Nombre: "",
      open: false,
      titulo: "REGRESAR",
      check: false,
      launchScreenBg,
      caraTristeAp,
      caraTristePr,
      caraIndiferenteAp,
      caraIndiferentePr,
      caraSeriaAp,
      caraSeriaPr,
      caraAlegreAp,
      caraAlegrePr,
      caraEncantadaAp,
      caraEncantadaPr,
      Op_1carita1: caraTristeAp,
      Op_1carita2: caraIndiferenteAp,
      Op_1carita3: caraSeriaAp,
      Op_1carita4: caraAlegreAp,
      Op_1carita5: caraEncantadaAp,
      Op_2carita1: caraTristeAp,
      Op_2carita2: caraIndiferenteAp,
      Op_2carita3: caraSeriaAp,
      Op_2carita4: caraAlegreAp,
      Op_2carita5: caraEncantadaAp,
      Op_3carita1: caraTristeAp,
      Op_3carita2: caraIndiferenteAp,
      Op_3carita3: caraSeriaAp,
      Op_3carita4: caraAlegreAp,
      Op_3carita5: caraEncantadaAp,
      datos: {},
      vivirLugar: {},
      planVolverias: "",
      PregNegocio: "",
      tipo: "",
      op1: "",
      op3: "",
      op2: "",
      pregunta1: 0,
      pregunta2: 0,
      pregunta3: 0,
      categoria: null,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height
        },
        Row1: {
          marginTop: Dimensions.get("window").height / 1.7,
          height: 60,
          marginLeft: Dimensions.get("window").width / 8
        },
        Row2: {
          height: 60,
          marginTop: 10,
          marginLeft: Dimensions.get("window").width / 8
        },
        headerModalStyle: {
          elevation: this.open ? 0 : undefined
        },
        modal: {
          //width: Dimensions.get("window").width,
          height: 200
          //top: Dimensions.get("window").height / 1.5,
        },
        list: {
          borderColor: "transparent"
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 60,
          borderWidth: 1,
          marginLeft: 30,
          marginRight: 32
        },
        listItemView2: {
          // flex: 1,
          // flexDirection: "row",
          backgroundColor: "#f7f7f7",
          height: this.tamaniofila(),
          marginTop: 3,
          marginLeft: 30,
          marginRight: 32,
          borderRadius: 25,
          color: "#005a70",
          // fontSize: 26,
          borderColor: "transparent"
        },
        newsContent: {
          // flexDirection: "column",
          
          paddingLeft: 15,
          paddingRight: 15,
          // flex: 1,
          // borderTopColor: "#ddd"
        },
        newsHeader: {
          color: "#005a70",
          fontSize: 16
        },
        textAzul: {
          color: '#005a70',
          marginTop: this.centrar() ,
          fontSize: this.tamaniofuente()
        },
        rangImg :{
          height: this.tamanioIcono(),
          width: this.tamanioIcono(),
          margin: 3
        }
      },
      cardItemsArr: [],
      Opseleccionada: [],
      OpseleccionadaP: [],
      cont: 0,
      cont1: 0,
      idLugarCalif: "",
      userData: {},
      vivLug: [],
      planLug: []
    };
  },
  mounted() {
    //obtenemos el id del lugar
    this.idLugar = this.DatosCategoria.IdLugar.id;
    this.userData = this.usuario;
    // obtenemos los valores de las caritas
    var pregunta1 = 0;
    var pregunta2 = 0;
    var pregunta3 = 0;
    //obtenemos los valores dle promedio de las caritasa calificadas por lugar
    
    CatPreguntas.avg(this.idLugar).then(respuesta => {
      pregunta1 = Math.round(respuesta.data.pNegocio1);
      this.Evaluar(pregunta1, 1);
      pregunta2 = Math.round(respuesta.data.pNegocio2);
      this.Evaluar(pregunta2, 2);
      pregunta3 = Math.round(respuesta.data.pNegocio3);
      this.Evaluar(pregunta3, 3);
    });
 
    
    //obtenemos los datos de las evaluaciones
    //identificamos el tipo de categoria
    //1	Restaurante , 2	Hotel,  3	Diversión, 4	Sitios Turísticos
    //obtenemos la categoria padre del lugar para su correcta visualizacion en las preguntas
    LocationServices.getlocation(this.idLugar)
      .then(response => {
        this.categoria = response.data.categoriaId;

        CategoriasServices.showpadre(this.categoria).then(idcat => {
          //obtenemos la categoria padre
          var datapadre = idcat.data;
          var idPadre = ''; 
          this.Nombre = idcat.descripcion;

          // console.log("el id padre de la categoria es :");
          // console.log(idcat.data);
          // en caso de que no tenga id padre se coloca el id como padre 
          if (datapadre[0].idPadre == '' || datapadre[0].idPadre == null){
              idPadre = datapadre[0].id 
          }else{
              idPadre = datapadre[0].idPadre
          }

          this.preguntas(idPadre);

          this.preguntasEmo();

          this.preguntasPlan();
        });
      })
      .catch(err => {
        console.log(err);
      });
  },
  methods: {
    Evaluar(rango, pregunta) {
      //Evalua el cambio de carita
      switch (rango) {
        case 1:
          switch (pregunta) {
            case 1:
              this.Op_1carita1 = caraTristePr;
              break;
            case 2:
              this.Op_2carita1 = caraTristePr;
              break;
            case 3:
              this.Op_3carita1 = caraTristePr;
              break;
          }
          break;
        case 2:
          switch (pregunta) {
            case 1:
              this.Op_1carita2 = caraIndiferentePr;
              break;
            case 2:
              this.Op_2carita2 = caraIndiferentePr;
              break;
            case 3:
              this.Op_3carita2 = caraIndiferentePr;
              break;
          }
          break;
        case 3:
          switch (pregunta) {
            case 1:
              this.Op_1carita3 = caraSeriaPr;
              break;
            case 2:
              this.Op_2carita3 = caraSeriaPr;
              break;
            case 3:
              this.Op_3carita3 = caraSeriaPr;
              break;
          }
          break;
        case 4:
          switch (pregunta) {
            case 1:
              this.Op_1carita4 = caraAlegrePr;
              break;
            case 2:
              this.Op_2carita4 = caraAlegrePr;
              break;
            case 3:
              this.Op_3carita4 = caraAlegrePr;
              break;
          }
          break;
        case 5:
          switch (pregunta) {
            case 1:
              this.Op_1carita5 = caraEncantadaPr;
              break;
            case 2:
              this.Op_2carita5 = caraEncantadaPr;
              break;
            case 3:
              this.Op_3carita5 = caraEncantadaPr;
              break;
          }
          break;
      }
    },
    preguntas(categoria) {
      console.log("antes de llamar el programa de las caritas ")
      console.log(categoria);
      CatPreguntas.getPreguntas(categoria, "N").then(response => {
        //preguntas por negocio
        this.PregNegocio = response.data;
        console.log("las preguntas de las caritas son :");
        console.log(this.PregNegocio);
        this.op1 = this.PregNegocio[0].pregunta;
        this.op2 = this.PregNegocio[1].pregunta;
        this.op3 = this.PregNegocio[2].pregunta;
      });
    },
    preguntasEmo() {
      // identificamos las preguntas que mas se repiten
      //vivir lugar
      CatPreguntas.vivirlugar(this.idLugar).then(respuesta => {
        var preguntas = respuesta.data;
        var idrepetido;
        preguntas.forEach(preg => {
          if((preg.preguntaId != idrepetido) && (preg.preguntaId != 0)){
            this.vivLug.push({
              id: preg.preguntaId,
              descripcion: preg.descripcion
            });
            idrepetido = preg.preguntaId;
          }else{
            console.log("el id repetido es :");
            console.log(preg.preguntaId);
          }
        });
      });
    },
    preguntasPlan() {
      // identificamos las preguntas que mas se repiten
      //plan
      // var calificacionPlanes = [];
      CatPreguntas.planlugar(this.idLugar).then(respuesta => {
        var preguntas2 = respuesta.data;
        var idrepetido;
        console.log(preguntas2)
        preguntas2.forEach(preg => {
        if((preg.preguntaId != idrepetido) && (preg.preguntaId != 0) ){ 
          this.planLug.push({
            id: preg.preguntaId,
            descripcion: preg.descripcion
          });
          idrepetido = preg.preguntaId;
        }else{
            console.log("el id repetido es :");
            console.log(preg.preguntaId);
        }
        });
      });
    },
    tamaniofuente(){
      if (Dimensions.get("window").width < 405) {
        
        if (Platform.OS === "android") {
          return 14;
        } else {
          return 14;
        }

      } else {
        
        if (Platform.OS === "android") {
          return 18;
        } else {
          return 18;
        }

      }
      
    },
    centrar(){
      if (Dimensions.get("window").width < 380) {
        
        if (Platform.OS === "android") {
          return -10;
        } else {
          return -10;
        }

      } else {
        
        if (Platform.OS === "android") {
          return 8;
        } else {
          return 8;
        }

      }
      
    },
    tamanioIcono(){

      if (Dimensions.get("window").width < 550) {
        
        if (Platform.OS === "android") {
          return 24;
        } else {
          return 24;
        }

      } else {
        
        if (Platform.OS === "android") {
          return 27;
        } else {
          return 27;
        }

      }

    },
    tamaniofila(){
      if (Dimensions.get("window").width < 405) {
        
        if (Platform.OS === "android") {
          return 45;
        } else {
          return 45;
        }

      } else {
        
        if (Platform.OS === "android") {
          return 60;
        } else {
          return 60;
        }
      }
    }
  }
};
</script>

<style>
.flecha {
  color: white;
  font-size: 24px;
}
.header-style {
  background-color: #0dd3d3;
  padding-left: 0;
  padding-right: 0;
}
.image-container {
  flex: 1;
  background-color: white; /* rgba(0, 0, 0, 0.1);*/
}
.titulo_Pagina {
  color: white;
  font-size: 24px;
  right: 20;
  padding: 5;
  margin-left: 105;
  margin-right: 105;
}
.text_titulo {
  font-size: 24;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 5%;
  color: #006666;
  font-weight: 700;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.btn {
  background-color: #0dd3d3;
  margin-top: 120;
  height: 30;
  width: 250;
  margin-top: 10;
  border-color: transparent;
  align-self: center;
}
.transparent {
  border-color: transparent;
}
.encabezado-opinion {
  background-color: #dddddd;
  height: 46;
  padding-left: 15;
  padding-right: 15;
  margin-top: 10;
  margin-right: 30;
  margin-left: 30;
  color: #006666;
}
.encabezado-Subtitulos {
  background-color: #04b6c5;
  height: 30;
  margin-top: 10;
  margin-right: 30;
  margin-left: 30;
}
.subTituloText {
  color: white;
  margin-left: 10;
}
.subTituloText2 {
  color: rgb(173, 170, 170);
  margin-left: 30;
  margin-bottom: 5;
  margin-top: -13;
  font-size: 14;
}
.txt-modal-titulo {
  align-self: center;
  margin-left: 15%;
  margin-right: 10%;
  font-weight: 700;
  font-size: 18;
  margin-top: 10;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  border-radius: 15;
  border-style: solid;
  border-width: 3.5;
  border-color: #006666;
}
.txt-modal-subtitulo {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20;
  text-align: center;
}
.modal-content-grid1 {
  margin-top: 150;
  padding-bottom: 10;
  justify-content: center;
}
.btnModal {
  background-color: #0dd3d3;
  margin-top: 10;
  height: 50;
  width: 80%;
  align-self: center;
}

</style>
