<template>
  <nb-container>
    <!-- <status-bar :bar-style="'light-content'" androidStatusBarColor="#01cca1" /> -->
    <nb-header class="header-style" androidStatusBarColor="#006666">
      <nb-item disabled :on-press="() => navigation.goBack()">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="flecha" />
          <nb-title class="titulo_Pagina">
            {{ titulo }}
          </nb-title>
        </nb-button>
      </nb-item>
    </nb-header>
    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <scroll-view>
        <nb-text class="text_titulo">
          Cuéntanos ¿cómo viviste esta experiencia?
        </nb-text>

        <nb-text class="text_titulo">
          {{ Nombre }}
        </nb-text>

        <nb-form>
          <nb-form>
            <nb-item disabled rounded class="encabezado-opinion">
              <nb-input disabled :style="stylesObj.textAzul">{{
                op1
              }}</nb-input>
              <nb-button rounded transparent :on-press="() => Evaluar(11)">
                <image
                  :source="Op_1carita1"
                  :style="stylesObj.rangImg"
                  name="Op_1carita1"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(12)">
                <image
                  :source="Op_1carita2"
                  :style="stylesObj.rangImg"
                  name="Op_1carita2"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(13)">
                <image
                  :source="Op_1carita3"
                  :style="stylesObj.rangImg"
                  name="Op_1carita3"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(14)">
                <image
                  :source="Op_1carita4"
                  :style="stylesObj.rangImg"
                  name="Op_1carita4"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(15)">
                <image
                  :source="Op_1carita5"
                  :style="stylesObj.rangImg"
                  name="Op_1carita5"
                />
              </nb-button>
            </nb-item>
          </nb-form>

          <nb-form>
            <nb-item disabled rounded class="encabezado-opinion">
              <nb-input disabled :style="stylesObj.textAzul">{{
                op2
              }}</nb-input>
              <nb-button rounded transparent :on-press="() => Evaluar(21)">
                <image
                  :source="Op_2carita1"
                  :style="stylesObj.rangImg"
                  name="Op_2carita1"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(22)">
                <image
                  :source="Op_2carita2"
                  :style="stylesObj.rangImg"
                  name="Op_2carita2"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(23)">
                <image
                  :source="Op_2carita3"
                  :style="stylesObj.rangImg"
                  name="Op_2carita3"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(24)">
                <image
                  :source="Op_2carita4"
                  :style="stylesObj.rangImg"
                  name="Op_2carita4"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(25)">
                <image
                  :source="Op_2carita5"
                  :style="stylesObj.rangImg"
                  name="Op_2carita5"
                />
              </nb-button>
            </nb-item>
          </nb-form>

          <nb-form>
            <nb-item disabled rounded class="encabezado-opinion">
              <nb-input disabled :style="stylesObj.textAzul">{{
                op3
              }}</nb-input>
              <nb-button rounded transparent :on-press="() => Evaluar(31)">
                <image
                  :source="Op_3carita1"
                  :style="stylesObj.rangImg"
                  name="Op_3carita1"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(32)">
                <image
                  :source="Op_3carita2"
                  :style="stylesObj.rangImg"
                  name="Op_3carita2"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(33)">
                <image
                  :source="Op_3carita3"
                  :style="stylesObj.rangImg"
                  name="Op_3carita3"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(34)">
                <image
                  :source="Op_3carita4"
                  :style="stylesObj.rangImg"
                  name="Op_3carita4"
                />
              </nb-button>
              <nb-button rounded transparent :on-press="() => Evaluar(35)">
                <image
                  :source="Op_3carita5"
                  :style="stylesObj.rangImg"
                  name="Op_3carita5"
                />
              </nb-button>
            </nb-item>
          </nb-form>
        </nb-form>

        <nb-form>
          <nb-item disabled rounded class="encabezado-Subtitulos">
            <nb-input disabled class="subTituloText"
              >¿Qué te hace vivir el lugar?</nb-input
            >
          </nb-item>
          <nb-input disabled class="subTituloText2"
            >Escoge máximo 3 emociones</nb-input
          >

          <swipe-list-view
            :style="stylesObj.list"
            :data="vivirLugar"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="(item) => item.idCatPregunta.toString()"
          >
            <nb-list-item
              :style="stylesObj.listItemView"
              render-prop-fn="renderItem"
              arguments="row"
            >
              <view :style="stylesObj.newsContent">
                <text :numberOfLines="2" :style="stylesObj.newsHeader">
                  {{ row.item.pregunta }}
                </text>
              </view>
              <nb-right>
                <nb-checkbox
                  :style="stylesObj.check"
                  :checked="row.item.valor"
                  :on-press="
                    () =>
                      selectOpcionVL(
                        row.item.idCategoria,
                        row.item.idCatPregunta,
                        'E'
                      )
                  "
                />
              </nb-right>
            </nb-list-item>
          </swipe-list-view>
        </nb-form>

        <nb-form>
          <nb-item disabled rounded class="encabezado-Subtitulos">
            <nb-input disabled class="subTituloText"
              >¿En qué plan volverías?</nb-input
            >
          </nb-item>
          <nb-input disabled class="subTituloText2"
            >Escoge máximo 5 planes</nb-input
          >
          <swipe-list-view
            :style="stylesObj.list"
            :data="planVolverias"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="(item) => item.idCatPregunta.toString()"
          >
            <nb-list-item
              :style="stylesObj.listItemView"
              render-prop-fn="renderItem"
              arguments="row"
            >
              <view :style="stylesObj.newsContent">
                <text :numberOfLines="2" :style="stylesObj.newsHeader">
                  {{ row.item.pregunta }}
                </text>
              </view>
              <nb-right>
                <nb-checkbox
                  :style="stylesObj.check"
                  :checked="row.item.valor"
                  :on-press="
                    () =>
                      selectOpcionP(
                        row.item.idCategoria,
                        row.item.idCatPregunta,
                        'P'
                      )
                  "
                />
              </nb-right>
            </nb-list-item>
          </swipe-list-view>

          <nb-grid :style="{ marginTop: '5%' }">
            <nb-row :style="{ height: 60, alignSelf: 'center' }">
              <nb-button
                rounded
                primary
                block
                large
                class="btn"
                :on-press="Calificar"
              >
                <nb-text class="text"> Calificar </nb-text>
              </nb-button>
            </nb-row>
            <nb-row :style="{ height: 60, alignSelf: 'center' }">
              <nb-button
                rounded
                primary
                block
                large
                class="btn"
                :on-press="CalificarMasTarde"
              >
                <nb-text class="text"> Calificar mas tarde </nb-text>
              </nb-button>
            </nb-row>
          </nb-grid>
        </nb-form>
      </scroll-view>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png";
import caraTristeAp from "../../../assets/Opiniones/1apagado.png";
import caraTristePr from "../../../assets/Opiniones/1.png";
import caraIndiferenteAp from "../../../assets/Opiniones/2apagado.png";
import caraIndiferentePr from "../../../assets/Opiniones/2.png";
import caraSeriaAp from "../../../assets/Opiniones/3apagado.png";
import caraSeriaPr from "../../../assets/Opiniones/3.png";
import caraAlegreAp from "../../../assets/Opiniones/4apagado.png";
import caraAlegrePr from "../../../assets/Opiniones/4.png";
import caraEncantadaAp from "../../../assets/Opiniones/5apagado.png";
import caraEncantadaPr from "../../../assets/Opiniones/5.png";
import CatPreguntas from "../../services/CatPreguntas.js";
import { SwipeListView } from "react-native-swipe-list-view";
//import { push } from "../Profile/data";
import CategoriasServices from "../../services/categorias.js";
import checkPass from "../Signup/checkPass";
import { Toast } from "native-base";
import Modal from "react-native-modalbox";
import store from "../../store";
export default {
  props: {
    navigation: {
      categoria_prop: Object,
    },
  },
  components: { SwipeListView },
  validations: {},
  computed: {
    usuario() {
      return store.state.usuario;
    },
  },
  data() {
    return {
      DatosCategoria: this.navigation.state.params,
      Idcategoria: "",
      id: "",
      Nombre: "",
      open: false,
      titulo: "REGRESAR",
      check: false,
      launchScreenBg,
      caraTristeAp,
      caraTristePr,
      caraIndiferenteAp,
      caraIndiferentePr,
      caraSeriaAp,
      caraSeriaPr,
      caraAlegreAp,
      caraAlegrePr,
      caraEncantadaAp,
      caraEncantadaPr,
      Op_1carita1: caraTristeAp,
      Op_1carita2: caraIndiferenteAp,
      Op_1carita3: caraSeriaAp,
      Op_1carita4: caraAlegreAp,
      Op_1carita5: caraEncantadaAp,
      Op_2carita1: caraTristeAp,
      Op_2carita2: caraIndiferenteAp,
      Op_2carita3: caraSeriaAp,
      Op_2carita4: caraAlegreAp,
      Op_2carita5: caraEncantadaAp,
      Op_3carita1: caraTristeAp,
      Op_3carita2: caraIndiferenteAp,
      Op_3carita3: caraSeriaAp,
      Op_3carita4: caraAlegreAp,
      Op_3carita5: caraEncantadaAp,
      datos: {},
      vivirLugar: "",
      planVolverias: "",
      PregNegocio: "",
      tipo: "",
      op1: "",
      op3: "",
      op2: "",
      pregunta1: 0,
      pregunta2: 0,
      pregunta3: 0,
      categoria: null,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        Row1: {
          marginTop: Dimensions.get("window").height / 1.7,
          height: 60,
          marginLeft: Dimensions.get("window").width / 8,
        },
        Row2: {
          height: 60,
          marginTop: 10,
          marginLeft: Dimensions.get("window").width / 8,
        },
        headerModalStyle: {
          elevation: this.open ? 0 : undefined,
        },
        modal: {
          //width: Dimensions.get("window").width,
          height: 200,
          //top: Dimensions.get("window").height / 1.5,
        },
        list: {
          borderColor: "transparent",
        },
        listItemView: {
          // flex: 1,
          // flexDirection: "row",
          // backgroundColor: "#FFF",
          // height: 55,
          // borderWidth: 1,
          // marginLeft: 30,
          // marginRight: 32
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#ddd",
          height: 55,
          borderWidth: 1,
          marginTop: 3,
          marginLeft: 30,
          marginRight: 32,
          borderRadius: 25,
        },
        listItemView2: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#ddd",
          height: 55,
          borderWidth: 1,
          marginTop: 3,
          marginLeft: 30,
          marginRight: 32,
          borderRadius: 25,
        },
        check: {
          marginRight: 15,
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: "-2%",
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd",
        },
        newsHeader: {
          color: "#005a70",
          fontSize: 18,
        },
        textAzul: {
          color: "#005a70",
          marginTop: this.centrar(),
          fontSize: this.tamaniofuente(),
        },
        rangImg: {
          height: this.tamanioIcono(),
          width: this.tamanioIcono(),
          margin: 3,
        },
      },
      cardItemsArr: [],
      Opseleccionada: [],
      OpseleccionadaP: [],
      cont: 0,
      cont1: 0,
      idLugarCalif: "",
      userData: {},
    };
  },
  methods: {
    modalOpen() {
      this.open = true;
    },
    modalClose() {
      this.open = false;
    },
    Evaluar(rango) {
      //Evalua el cambio de carita al presionarla
      switch (rango) {
        case 11:
          this.pregunta1 = 1;
          this.Op_1carita1 = caraTristePr;
          this.Op_1carita2 = caraIndiferenteAp;
          this.Op_1carita3 = caraSeriaAp;
          this.Op_1carita4 = caraAlegreAp;
          this.Op_1carita5 = caraEncantadaAp;
          break;
        case 12:
          this.pregunta1 = 2;
          this.Op_1carita1 = caraTristeAp;
          this.Op_1carita2 = caraIndiferentePr;
          this.Op_1carita3 = caraSeriaAp;
          this.Op_1carita4 = caraAlegreAp;
          this.Op_1carita5 = caraEncantadaAp;
          break;
        case 13:
          this.pregunta1 = 3;
          this.Op_1carita1 = caraTristeAp;
          this.Op_1carita2 = caraIndiferenteAp;
          this.Op_1carita3 = caraSeriaPr;
          this.Op_1carita4 = caraAlegreAp;
          this.Op_1carita5 = caraEncantadaAp;
          break;
        case 14:
          this.pregunta1 = 4;
          this.Op_1carita1 = caraTristeAp;
          this.Op_1carita2 = caraIndiferenteAp;
          this.Op_1carita3 = caraSeriaAp;
          this.Op_1carita4 = caraAlegrePr;
          this.Op_1carita5 = caraEncantadaAp;
          break;
        case 15:
          this.pregunta1 = 5;
          this.Op_1carita1 = caraTristeAp;
          this.Op_1carita2 = caraIndiferenteAp;
          this.Op_1carita3 = caraSeriaAp;
          this.Op_1carita4 = caraAlegreAp;
          this.Op_1carita5 = caraEncantadaPr;
          break;
        case 21:
          this.pregunta2 = 1;
          this.Op_2carita1 = caraTristePr;
          this.Op_2carita2 = caraIndiferenteAp;
          this.Op_2carita3 = caraSeriaAp;
          this.Op_2carita4 = caraAlegreAp;
          this.Op_2carita5 = caraEncantadaAp;
          break;
        case 22:
          this.pregunta2 = 2;
          this.Op_2carita1 = caraTristeAp;
          this.Op_2carita2 = caraIndiferentePr;
          this.Op_2carita3 = caraSeriaAp;
          this.Op_2carita4 = caraAlegreAp;
          this.Op_2carita5 = caraEncantadaAp;
          break;
        case 23:
          this.pregunta2 = 3;
          this.Op_2carita1 = caraTristeAp;
          this.Op_2carita2 = caraIndiferenteAp;
          this.Op_2carita3 = caraSeriaPr;
          this.Op_2carita4 = caraAlegreAp;
          this.Op_2carita5 = caraEncantadaAp;
          break;
        case 24:
          this.pregunta2 = 4;
          this.Op_2carita1 = caraTristeAp;
          this.Op_2carita2 = caraIndiferenteAp;
          this.Op_2carita3 = caraSeriaAp;
          this.Op_2carita4 = caraAlegrePr;
          this.Op_2carita5 = caraEncantadaAp;
          break;
        case 25:
          this.pregunta2 = 5;
          this.Op_2carita1 = caraTristeAp;
          this.Op_2carita2 = caraIndiferenteAp;
          this.Op_2carita3 = caraSeriaAp;
          this.Op_2carita4 = caraAlegreAp;
          this.Op_2carita5 = caraEncantadaPr;
          break;
        case 31:
          this.pregunta3 = 1;
          this.Op_3carita1 = caraTristePr;
          this.Op_3carita2 = caraIndiferenteAp;
          this.Op_3carita3 = caraSeriaAp;
          this.Op_3carita4 = caraAlegreAp;
          this.Op_3carita5 = caraEncantadaAp;
          break;
        case 32:
          this.pregunta3 = 2;
          this.Op_3carita1 = caraTristeAp;
          this.Op_3carita2 = caraIndiferentePr;
          this.Op_3carita3 = caraSeriaAp;
          this.Op_3carita4 = caraAlegreAp;
          this.Op_3carita5 = caraEncantadaAp;
          break;
        case 33:
          this.pregunta3 = 3;
          this.Op_3carita1 = caraTristeAp;
          this.Op_3carita2 = caraIndiferenteAp;
          this.Op_3carita3 = caraSeriaPr;
          this.Op_3carita4 = caraAlegreAp;
          this.Op_3carita5 = caraEncantadaAp;
          break;
        case 34:
          this.pregunta3 = 4;
          this.Op_3carita1 = caraTristeAp;
          this.Op_3carita2 = caraIndiferenteAp;
          this.Op_3carita3 = caraSeriaAp;
          this.Op_3carita4 = caraAlegrePr;
          this.Op_3carita5 = caraEncantadaAp;
          break;
        case 35:
          this.pregunta3 = 5;
          this.Op_3carita1 = caraTristeAp;
          this.Op_3carita2 = caraIndiferenteAp;
          this.Op_3carita3 = caraSeriaAp;
          this.Op_3carita4 = caraAlegreAp;
          this.Op_3carita5 = caraEncantadaPr;
          break;
      }
    },
    preguntas(data) {
      CatPreguntas.getPreguntas(data.categoria, data.tipo).then((response) => {
        if (data.tipo == "N") {
          //preguntas por negocio
          this.PregNegocio = response.data;
          this.op1 = this.PregNegocio[0].pregunta;
          this.op2 = this.PregNegocio[1].pregunta;
          this.op3 = this.PregNegocio[2].pregunta;
        }
        if (data.tipo == "E") {
          //emociones
          this.vivirLugar = response.data;
          this.vivirLugar.forEach((element) => {
            element.valor = false;
          });
          // console.log(this.vivirLugar)
        }
        if (data.tipo == "P") {
          //planes
          this.planVolverias = response.data;
          //console.log(this.vivirLugar)
        }
      });
    },
    selectOpcionVL(idCat, idpreg, tipo) {
      CatPreguntas.getPreguntas(idCat, tipo).then((response) => {
        this.vivirLugar = response.data;
        this.vivirLugar.forEach((e) => {
          var _idCatPregunta = e.idCatPregunta;
          if (idpreg == _idCatPregunta) {
            //console.log("el contador vale : " + this.cont)
            if (this.cont <= 3) {
              //si el componente no existe se agrega a la lista
              //de lo contrario se borra el elemento seleccionado

              var existe = this.Opseleccionada.includes(_idCatPregunta);
              if (existe) {
                //console.log(this.Opseleccionada.indexOf(_idCatPregunta));
                var indice = this.Opseleccionada.indexOf(_idCatPregunta);
                //console.log("el indice es el : " + indice);
                this.Opseleccionada.splice(indice, 1);
                this.cont -= 1;
                //console.log("quito una opcion ");
                //console.log("contador vale :" + this.cont);
              } else {
                if (this.cont <= 2) {
                  this.Opseleccionada.push(_idCatPregunta);
                  this.cont += 1;
                } else {
                  // Toast.show({
                  //   text: "Solo puede ingresar 3 opciones!",
                  //   duration: 5500,
                  //   position: "top",
                  //   textStyle: {
                  //     textAlign: "center",
                  //     backgroundColor: "transparent",
                  //   },
                  // });
                  alert("Solo puede ingresar 3 opciones!");
                }
                //console.log("seleccione una opcion");
                //console.log("contador vale :" + this.cont);
              }
            } else {
              // Toast.show({
              //   text: "Solo puede ingresar 3 opciones!",
              //   duration: 5500,
              //   position: "top",
              //   textStyle: {
              //     textAlign: "center",
              //     backgroundColor: "transparent",
              //   },
              // });
              alert("Solo puede ingresar 3 opciones!");
            }
          }

          //console.log("los datos de opseleccionada :");
          //console.log(this.Opseleccionada);
          //recorremos lalista para mostar en pantalla las opciones seleecionadas
          // eslint-disable-next-line no-unused-vars
          this.Opseleccionada.forEach((a) => {
            if (this.Opseleccionada.includes(_idCatPregunta)) {
              e.valor = true;
            } else {
              e.valor = false;
            }
          });
        });
      });
    },
    selectOpcionP(idCat, idpreg, tipo) {
      CatPreguntas.getPreguntas(idCat, tipo).then((response) => {
        this.planVolverias = response.data;

        this.planVolverias.forEach((e) => {
          var _idCatPregunta = e.idCatPregunta;
          if (idpreg == _idCatPregunta) {
            // console.log("el contador vale : " + this.cont1)
            if (this.cont1 <= 5) {
              //si el componente no existe se agrega a la lista
              //de lo contrario se borra el elemento seleccionado

              var existe = this.OpseleccionadaP.includes(_idCatPregunta);
              if (existe) {
                //console.log(this.Opseleccionada.indexOf(_idCatPregunta));
                var indice = this.OpseleccionadaP.indexOf(_idCatPregunta);
                //console.log("el indice es el : " + indice);
                this.OpseleccionadaP.splice(indice, 1);
                this.cont1 -= 1;
                //console.log("quito una opcion ");
                //console.log("contador vale :" + this.cont);
              } else {
                if (this.cont1 <= 4) {
                  this.OpseleccionadaP.push(_idCatPregunta);
                  this.cont1 += 1;
                } else {
                  // Toast.show({
                  //   text: "Solo puede ingresar 5 opciones!",
                  //   duration: 5500,
                  //   position: "top",
                  //   textStyle: {
                  //     textAlign: "center",
                  //     backgroundColor: "transparent",
                  //   },
                  // });
                  alert("Solo puede ingresar 5 opciones!");
                }
                //console.log("seleccione una opcion");
                //console.log("contador vale :" + this.cont);
              }
            } else {
              // Toast.show({
              //   text: "Solo puede ingresar 5 opciones!",
              //   duration: 5500,
              //   position: "top",
              //   textStyle: {
              //     textAlign: "center",
              //     backgroundColor: "transparent",
              //   },
              // });
              alert("Solo puede ingresar 5 opciones!");
            }
          }

          //console.log("los datos de opseleccionadaP :");
          //console.log(this.OpseleccionadaP);
          //recorremos lalista para mostar en pantalla las opciones seleecionadas
          // eslint-disable-next-line no-unused-vars
          this.OpseleccionadaP.forEach((a) => {
            if (this.OpseleccionadaP.includes(_idCatPregunta)) {
              e.valor = true;
            } else {
              e.valor = false;
            }
          });
        });
      });
    },
    Calificar() {
      var defaultDate = new Date();
      var data = {
        idLugar: this.idLugarCalif,
        Usuario: this.userData.id, // id del usuario
        PNegocio1: this.pregunta1,
        PNegocio2: this.pregunta2,
        PNegocio3: this.pregunta3,
        VivirLug1: this.Opseleccionada[0],
        VivirLug2: this.Opseleccionada[1],
        VivirLug3: this.Opseleccionada[2],
        PlanLug1: this.OpseleccionadaP[0],
        PlanLug2: this.OpseleccionadaP[1],
        PlanLug3: this.OpseleccionadaP[2],
        PlanLug4: this.OpseleccionadaP[3],
        PlanLug5: this.OpseleccionadaP[4],
        FechaCalf: defaultDate,
      };
      CatPreguntas.create(data)
        .then((response) => {
          console.log(response);
          this.navigation.navigate("MenuPrincipal");
        })
        // eslint-disable-next-line no-unused-vars
        .catch((err) => {
          // Toast.show({
          //   text: "Error al calificar el lugar ,intente nuevamente",
          //   duration: 5000,
          //   position: "top",
          //   textStyle: {
          //     textAlign: "center",
          //     backgroundColor: "transparent",
          //   },
          // });
          alert("Error al calificar el lugar ,intente nuevamente");
        });
    },
    CalificarMasTarde() {
      //this.navigation.navigate("MenuPrincipal");
      
      // console.log(this.id);
      // console.log(this.Categoria);
      this.navigation.navigate("Detail2", {
        IdLugar: { id: this.DatosCategoria.categoria.id,categoria: this.Categoria ,pantalla:0},
      });
    },
    tamaniofuente() {
      if (Dimensions.get("window").width < 550) {
        if (Platform.OS === "android") {
          return 14;
        } else {
          return 14;
        }
      } else {
        if (Platform.OS === "android") {
          return 18;
        } else {
          return 14;
        }
      }
    },
    tamanioIcono() {
      if (Dimensions.get("window").width < 550) {
        if (Platform.OS === "android") {
          return 24;
        } else {
          return 24;
        }
      } else {
        if (Platform.OS === "android") {
          return 27;
        } else {
          return 27;
        }
      }
    },
    centrar() {
      if (Dimensions.get("window").width < 380) {
        if (Platform.OS === "android") {
          return -10;
        } else {
          return -10;
        }
      } else {
        if (Platform.OS === "android") {
          return 8;
        } else {
          return 8;
        }
      }
    },
  },
  created() {
    this.userData = this.usuario;
    //obtenemos los datos de las evaluaciones
    //identificamos el tipo de categoria
    //1	Restaurante , //2	Hotel,  //3	Diversión, //4	Sitios Turísticos
    // eslint-disable-next-line no-unused-vars
    var idPadre = "";
    var data = {};
    this.Categoria = this.DatosCategoria.categoria.categoria; //id;
    var Idtest = this.DatosCategoria.categoria.id;
    // console.log("la categoria es : ");
    // console.log(this.Categoria);
    // console.log("el id del lugar es :");
    // console.log(Idtest);
    //obtenemos la categoria padre del lugar para su correcta visualizacion en las preguntas
    CategoriasServices.showpadre(this.Categoria).then((response) => {
      response.data.forEach((element) => {
        // console.log("este es el elemento");
        // console.log(element);
        this.idLugarCalif = Idtest;
        if (element.idPadre == null || element.idPadre == "") {
          this.Nombre = element.descripcion;
          // si el idpadre viene vacio quiere decir que es una categoria padre
          // titulos caritas
          data = {
            categoria: this.Categoria,
            tipo: "N",
          };
          this.preguntas(data);
          // opciones  Vivir el lugar
          data = {
            categoria: this.Categoria,
            tipo: "E",
          };
          this.preguntas(data);
          // opciones en que plan
          data = {
            categoria: this.Categoria,
            tipo: "P",
          };
          this.preguntas(data);
        } else {
          console.log("el id padre es :");
          console.log(element.idPadre);
          CategoriasServices.showpadre(element.idPadre).then((response) => {
          response.data.forEach((element) => {
            this.Nombre = element.descripcion;
          })})
          // titulos caritas
          data = {
            categoria: element.idPadre,
            tipo: "N",
          };
          this.preguntas(data);
          // opciones  Vivir el lugar
          data = {
            categoria: element.idPadre,
            tipo: "E",
          };
          this.preguntas(data);
          // opciones en que plan
          data = {
            categoria: element.idPadre,
            tipo: "P",
          };
          this.preguntas(data);
        }
      });
    });
  },
};
</script>

<style>
.flecha {
  color: white;
  font-size: 24px;
}
.header-style {
  background-color: #0dd3d3;
  padding-left: 0;
  padding-right: 0;
}
.image-container {
  flex: 1;
  background-color: white; /* rgba(0, 0, 0, 0.1);*/
}
.titulo_Pagina {
  /* background-color: #0dd3d3; */
  /* height: 50; */
  /* width: 100%; */
  color: white;
  font-size: 24px;
  right: 20;
  padding: 5;
  margin-left: 105;
  margin-right: 105;
}
.text_titulo {
  font-size: 24;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 5%;
  color: #006666;
  font-weight: 700;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.btn {
  background-color: #0dd3d3;
  margin-top: 120;
  height: 50;
  width: 250;
  margin-top: 20;
  margin-bottom: 50;
  border-color: transparent;
  align-self: center;
}
.transparent {
  border-color: transparent;
}
.encabezado-opinion {
  background-color: #dddddd;
  height: 46;
  padding-left: 15;
  padding-right: 15;
  margin-top: 5;
  margin-right: 30;
  margin-left: 30;
}
.encabezado-Subtitulos {
  background-color: #04b6c5;
  height: 30;
  margin-top: 10;
  margin-right: 30;
  margin-left: 30;
}
.subTituloText {
  color: white;
  margin-left: 10;
}
.subTituloText2 {
  color: rgb(173, 170, 170);
  margin-left: 30;
  margin-bottom: 5;
  margin-top: -13;
  font-size: 14;
}
.txt-modal-titulo {
  align-self: center;
  margin-left: 15%;
  margin-right: 10%;
  font-weight: 700;
  font-size: 18;
  margin-top: 10;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  border-radius: 15;
  border-style: solid;
  border-width: 3.5;
  border-color: #006666;
}
.txt-modal-subtitulo {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20;
  text-align: center;
}
.modal-content-grid1 {
  margin-top: 150;
  padding-bottom: 10;
  justify-content: center;
}
.btnModal {
  background-color: #0dd3d3;
  margin-top: 10;
  height: 50;
  width: 80%;
  align-self: center;
}
</style>
