<template>
  <nb-container>
    <nb-header class="header-style" androidStatusBarColor="#006666">
      <nb-item disabled :on-press="() => navigation.goBack()">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="flecha" />
          <nb-title class="titulo_Pagina">
            {{ titulo }}
          </nb-title>
        </nb-button>
      </nb-item>
    </nb-header>
    <image-background
      :source="fondo"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-text class="text_titulo">
        ¡Queremos vivir esta experiencia contigo!
      </nb-text>

      <nb-text class="text_titulo"> Haz check in</nb-text>

      <nb-item disabled class="transparent">
        <nb-grid>
          <nb-col>
            <nb-row :style="{ height: 60 }">
              <nb-button rounded primary block large class="btn" :on-press="Qr">
                <image
                  resize-mode="contain"
                  :source="ImgQR"
                  class="tamanio_Img"
                />
              </nb-button>
            </nb-row>
            <nb-row :style="{ height: 40, alignSelf: 'center', marginTop: 120 }"
              ><nb-text class="text">
                Escanea el código {{ "\n" }} QR de tu menú
              </nb-text>
            </nb-row>
          </nb-col>

          <nb-col>
            <nb-row :style="{ height: 60 }">
              <nb-button
                rounded
                primary
                block
                large
                class="btn"
                :on-press="modalOpen"
              >
                <image
                  resize-mode="contain"
                  :source="local"
                  class="tamanio_Img"
                />
              </nb-button>
            </nb-row>
            <nb-row :style="{ height: 40, alignSelf: 'center', marginTop: 120 }"
              ><nb-text class="text">
                Ubica aquí tu {{ "\n" }} experiencia
              </nb-text>
            </nb-row>
          </nb-col>
        </nb-grid>
      </nb-item>
      <modal
        position="center"
        entry="bottom"
        :is-open="open"
        :on-opened="modalOpen"
        :on-closed="modalClose"
        :back-button-close="false"
        class="modal"
        :style="stylesObj.modal"
      >
        <view>
          <swipe-list-view
            :style="stylesObj.list"
            :data="datas"
            :left-open-value="100"
            :stop-left-swipe="120"
            :right-open-value="-100"
            :stop-right-swipe="-120"
            :key-extractor="(item) => item.id.toString()"
          >
            <nb-list-item
              render-prop-fn="renderItem"
              arguments="row"
              :on-press="() => Calificacion(row.item.id, row.item.categoriaId)"
            >
              <image
                :source="{ uri: row.item.imagen }"
                :style="stylesObj.newsImage"
              />
              <view :style="stylesObj.newsContent" >
                <text :style="stylesObj.newsHeader">
                  {{ row.item.nombre }}
                </text>
                <nb-grid :style="{ marginTop: 5 }">
                  <nb-col>
                    <text :style="stylesObj.newsLink" :numberOfLines="10">
                      {{ row.item.calle }} {{ row.item.numeroExt }}, {{ row.item.numeroInt }} {{ row.item.colonia }} {{ row.item.delegacion }} {{ row.item.estadoLugar }} 
                    </text>
                  </nb-col>
                </nb-grid>
              </view>
            </nb-list-item>
            <view
              render-prop-fn="renderHiddenItem"
              arguments="data, rowMap"
              :style="{
                display: 'flex',
                flexDirection: 'row',
                height: 120,
              }"
            >
            </view>
          </swipe-list-view>
        </view>
      </modal>
    </image-background>
    <Loading v-if="openloading === true" />
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import fondo from "../../../assets/Fondo.png";
import ImgQR from "../../../assets/codeqr.png";
import local from "../../../assets/local.png";
import Modal from "react-native-modalbox";
import * as Location from "expo-location";
import * as Permissions from "expo-permissions";
import Imgservice from "../../services/Imagenes";
import { SwipeListView } from "react-native-swipe-list-view";
import Loading from "../../components/common/Loading";
import servUserLugar from "../../services/UsuarioLugares";
import store from "../../store";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
  },
  props: {
    navigation: {
      type: Object,
    },
  },
  components: {
    Modal,
    SwipeListView,
    Loading,
  },
  validations: {},
  data() {
    return {
      user: {},
      datas: [],
      location: {},
      open: false,
      openloading: false,
      titulo: "REGRESAR",
      fondo,
      ImgQR,
      local,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        Row1: {
          marginTop: Dimensions.get("window").height / 1.7,
          height: 60,
          marginLeft: Dimensions.get("window").width / 8,
        },
        Row2: {
          height: 60,
          marginTop: 10,
          marginLeft: Dimensions.get("window").width / 8,
        },
        headerModalStyle: {
          elevation: this.open ? 0 : undefined,
        },
        modal: {
          width: Dimensions.get("window").width/ 1.15,
          height: Dimensions.get("window").height / 1.2,
          //top: Dimensions.get("window").height / 1.5,
        },
        newsImage: {
          height: 90,
          width: 90,
          marginRigth: 8,
        },
        newsHeader: {
          color: "#005a70",
          fontSize: 18,
          fontWeight: "bold",
        },
        newsLink: {
          color: "#666",
          fontSize: 14,
          alignSelf: "flex-start",
          //fontWeight: "bold",
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd",
        },
      },
      cardItemsArr: [],
    };
  },
  methods: {
    Calificacion(id, categoriaid) {
      //console.log("entro  con los parametros de  id  :" + id + " categoria : " + categoriaid );
      var data = {
        usuarioId: this.user.id,
        lugarId: id,
      };
      servUserLugar
        .post(data)
        .then((response) => {
          //console.log("queso");
          //console.log(response);
          if (response.status == 200 || response.status == 201) {
            //console.log("Se guardo");
            // console.log(response.data);
            this.navigation.navigate("calificacion", {
              categoria: { id: id, categoria: categoriaid },
            });
          }
        })
        .catch((error) => {
          // cachamos el error en caso de que exista
          console.log(error);
          Toast.show({
            text: "Error el usuario no existe, intente nuevamente ",
            duration: 5000,
            position: "bottom",
            textStyle: {
              textAlign: "center",
              backgroundColor: "transparent",
            },
          });
        });
    },
    modalOpen() {
      this.open = true;
      this.getLocation();
    },
    modalClose() {
      this.open = false;
    },
    Qr() {
      this.navigation.navigate("QR");
    },
    menu() {
      this.navigation.navigate("MenuPrincipal");
    },
    retrive() {
      this.openloading = true;
      Imgservice.lugaresDistancia(
        200,
        this.location.latitude,
        this.location.longitude,
        0, //categiraid
        0 //zonaid
      )
        .then((response) => {
          this.datas = response.data;
          this.openloading = false;
          // console.log("los valores de datas son : ");
          // console.log(this.datas);
          //para recuperar la categoria padre es con la siguiente llave: CategoriaPadreId
        })
        .catch((e) => {
          console.log("Errores");
          console.log(e);
        });
    },
    getLocation: function () {
      Permissions.askAsync(Permissions.LOCATION)
        .then((status) => {
          if (!status.granted) {
            this.errorMessage = "Permission to access location was denied";
          } else if (status.granted) {
            Location.getCurrentPositionAsync({}).then((location) => {
              this.location = location.coords;
              this.errorMessage = "";
              this.retrive();
            });
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  created() {
    this.user = this.usuario;
  },
};
</script>

<style>
.flecha {
  color: white;
  font-size: 24px;
}
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
.image-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.titulo_Pagina {
  /* background-color: #0dd3d3; */
  /* height: 50; */
  /* width: 100%; */
  color: white;
  font-size: 24px;
  right: 20;
  padding: 5;
  margin-left: 105;
  margin-right: 105;
}
.text_titulo {
  font-size: 24;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  margin-top: 10%;
  color: #006666;
  font-weight: 700;
}
.tamanio_Img {
  align-self: center;
  height: 120;
  width: 120;
}
.tamanio {
  height: 100;
  border-color: transparent;
  align-content: flex-start;
}
.transparent {
  border-color: transparent;
  align-self: center;
}
.centrar {
  margin-left: 25%;
  margin-right: 25%;
}
.text {
  font-size: 16;
  margin-left: 30;
  margin-right: 8;
  color: #7d7d7d;
}
.text2 {
  font-size: 16;
  margin-left: 40;
  margin-right: 72;
}
.btn {
  background-color: white;
  margin-top: 42;
  margin-bottom: 10;
  margin-left: 38;
  margin-right: 48;
  height: 120;
  width: 120;
}
.btnModal {
  background-color: #0dd3d3;
  margin-top: 10;
  height: 50;
  width: 80%;
  align-self: center;
}
.txt {
  margin-left: 39%;
  margin-right: 39%;
  text-align: center;
  color: #7d7d7d;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  border-radius: 15;
  border-style: solid;
  border-width: 3.5;
  border-color: #006666;
}
.txt-modal-titulo {
  margin-left: 15%;
  margin-right: 10%;
  font-weight: 700;
  font-size: 20;
  margin-top: 10;
}
.txt-modal-subtitulo {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20;
  text-align: center;
}
.modal-content-grid1 {
  margin-top: 150;
  padding-bottom: 10;
  justify-content: center;
}
</style>
