<template>
  <nb-container>
    <nb-header class="header-style" androidStatusBarColor="#006666">
      <nb-item disabled :on-press="() => navigation.goBack()">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="flecha" />
          <nb-title class="titulo_Pagina">
            {{ titulo }}
          </nb-title>
        </nb-button>
      </nb-item>
    </nb-header>

    <view style="flex: 1">
      <!-- definimos el componente para escanear el codigo QR -->
      <!--
       onBarCodeScanned : evento relacionado 
       barCodeTypes : define el tipo de codigo que se va a leer , aqui definimos el qr 
     -->
      <bar-code-scanner
        :onBarCodeScanned="escaneaCodigo"
        :barCodeTypes="[BarCodeScanner.Constants.BarCodeType.qr]"
        :style="StyleSheet.absoluteFillObject"
      />
    </view>
  </nb-container>
</template>

<script>
import * as React from "react";
import { Text, View, StyleSheet, Button } from "react-native";
import Constants from "expo-constants";
import * as Permissions from "expo-permissions"; // se solicita permidos de la camara para realizar la lectura del codigo
import { BarCodeScanner } from "expo-barcode-scanner"; // libreria de expo que se utilizo para realizar el scaner del codigo QR
import * as Linking from "expo-linking";
import servLugares from "../../services/lugares";
import store from "../../store";
import servUserLugar from "../../services/UsuarioLugares";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    }
  },
  props: {
    navigation: {
      type: Object
    }
  },
  components: {
    BarCodeScanner
  },
  mounted() {
    Permissions.askAsync(Permissions.CAMERA); // se le dan los permisos a la camara para su uso
  },
  data: function(){
    return {
      user: {},
      lugar: {},
      StyleSheet: StyleSheet,
      BarCodeScanner: BarCodeScanner,
      titulo: "Codigo QR"
    };
  },
  methods: {
    // este metodo recibe como parametro la lectura del codigo , en el cual al acceder a los datos  se pueden observar los datos
    escaneaCodigo(e) {
      console.log("el valor de valorurl es: ");
      var regex = /\//g;
      var valorurl = e.data.replace(regex, "%2F");
      console.log(valorurl);
      servLugares
        .QR(valorurl)
        .then(response => {
          console.log(response.status);
          if (response.status == 200 || response.status == 201) {
            //metemos el insert
            this.lugar = response.data;
            this.registra(e);
            //fin del insert
          } else {
            // Toast.show({
            //   text: "No tenemos el lugar que comenta",
            //   duration: 5000,
            //   position: "bottom",
            //   textStyle: {
            //     textAlign: "center",
            //     backgroundColor: "transparent"
            //   }
            // });
            alert("No tenemos el lugar que comenta");
            Linking.openURL(`${e.data}`);
          }
        })
        .catch(error => {
          // cachamos el error en caso de que exista
          console.log(error);
          // Toast.show({
          //   text: "Error el usuario no existe, intente nuevamente ",
          //   duration: 5000,
          //   position: "bottom",
          //   textStyle: {
          //     textAlign: "center",
          //     backgroundColor: "transparent"
          //   }
          // });
          alert("Error el usuario no existe, intente nuevamente ");
        });
    },
    registra(e) {
      var data = {
        usuarioId: this.user.id,
        lugarId: this.lugar.id
      };
      servUserLugar
        .post(data)
        .then(response => {
          if (response.status == 200 || response.status == 201) {
            //metemos el insert
            Linking.openURL(`${e.data}`);
            //fin del insert
          }
        })
        .catch(error => {
          // cachamos el error en caso de que exista
          console.log(error);
          // Toast.show({
          //   text: "Error el usuario no existe, intente nuevamente ",
          //   duration: 5000,
          //   position: "bottom",
          //   textStyle: {
          //     textAlign: "center",
          //     backgroundColor: "transparent"
          //   }
          // });
          alert("Error el usuario no existe, intente nuevamente ");
        });
    }
  },
  created() {
    this.user = this.usuario;
  }
};
</script>

<style>
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
.flecha {
  padding-top: 10;
  color: white;
  font-size: 28px;
  margin-left: 25;
}
.titulo_Pagina {
  /* background-color: #0dd3d3; */
  /* height: 50; */
  /* width: 100%; */
  color: white;
  font-size: 18px;
  align-self: center;
  padding: 5;
  padding-top: 10;
  margin-left: 65;
  margin-right: 105;
  height: 40;
}
</style>
