<template>
  <nb-card :style="{ elevation: 3 }">
    <!-- <nb-cardItem>
      <nb-left>
        <nb-thumbnail :source="item.image" />
        <nb-body>
          <nb-text>{{ item.text }}</nb-text>
          <nb-text note>NativeBase</nb-text>
        </nb-body>
      </nb-left>
    </nb-cardItem> -->
    <nb-cardItem cardBody>
      <image :style="stylesObj.Card" :source="item.image" />
    </nb-cardItem>
    <nb-cardItem>
      <nb-grid>
        <nb-row :style="{ justifyContent: 'center' }">
          <nb-text class="titulo">{{ item.name }}</nb-text>
        </nb-row>
        <nb-row :style="{ justifyContent: 'center'}">
          <nb-text class="sub-titulo">{{ item.categoria }}</nb-text>
        </nb-row>
        <!-- <nb-row :style="{ justifyContent: 'center' }">
          <nb-text note>{{ item.text }}</nb-text>
        </nb-row> -->
      </nb-grid>
    </nb-cardItem>
  </nb-card>
</template>

<script>
import { Dimensions, Platform } from "react-native";

export default {
  props: {
    item: {
      type: Object
    }
  },
  data() {
    return {
      stylesObj: {
        Card: {
          resizeMode: "cover",
          width: null,
          flex: 1,
          height: Dimensions.get("window").height / 2.3
        }
      }
    };
  },
  methods: {

  },
  mounted() {
    //console.log("1");
    //console.log(this.$props);
  },
  created() {
  }
};
</script>
<style>
.btn-opc {
  margin-top: 50;
  margin-bottom: 30;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.titulo {
  color: #006666;
  font-size: 28;
  padding: 5px;
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}
.sub-titulo {
  font-size: 22;
  padding: 5px;
}
</style>
