<template>
  <modal
    position="center"
    entry="bottom"
    :is-open="open"
    :on-opened="modalOpen"
    :on-closed="modalClose"
    :back-button-close="false"
    class="modal"
    :style="stylesObj.modal"
  >
    <image-background
      :source="fondoModal"
      :style="stylesObj.ModalimageContainer"
    >
      <view>
        <nb-grid>
            <nb-col></nb-col>
            <nb-col>
              <nb-spinner color="red" :style="{marginTop: 40}"/>
            </nb-col>
            <nb-col></nb-col>
        </nb-grid>
      </view>
    </image-background>
  </modal>
</template>


<script>
import Modal from "react-native-modalbox";
import fondoModal from "../../../assets/Modaltexto.png";
export default {
  components: {
    Modal
  },
  data() {
    return {
      timer: null,
      open: false,
      fondoModal,
      stylesObj: {
        modal: {
          height: 200
        },
        ModalimageContainer: {
          height: 190
        }
      }
    };
  },
  methods: {
    modalOpen() {
      this.open = true;
    },
    modalClose() {
      this.open = false;
    }
  },
  created(){
    this.timer = setInterval(() => {
      clearInterval(this.timer);
      this.modalOpen();
    }, 1200);
  }
};
</script>

<style>
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  border-radius: 15;
  border-style: solid;
  border-width: 3.5;
  border-color: #006666;
}
</style>