<template>
  <view>
    <nb-fab
      :active="isFabIconActive"
      :onPress="handleFabIconPress"
      direction="up"
      position="bottomRight"
      :style="{ backgroundColor: '#0dd3d3' }"
    >
      <nb-icon-nb>
        <image
          resize-mode="contain"
          :source="iconConca"
          :style="stylesObj.IconoPrincipal"
        />
      </nb-icon-nb>

      <!-- Boton  descuento-->
      <nb-button
        :style="{ backgroundColor: '#0dd3d3' }"
        :on-press="() => Descuento()"
      >
        <image
          resize-mode="contain"
          :source="iconDescuento"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina boton descuento -->

      <!-- Boton instagram -->
      <nb-button
        :style="{ backgroundColor: '#0dd3d3' }"
        :on-press="() => Instagram()"
      >
        <image
          resize-mode="contain"
          :source="iconInstagram"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina boton instagram -->

      <!--  Boton de Zona -->
      <nb-button
        :style="{ backgroundColor: '#0dd3d3' }"
        :on-press="() => zona()"
      >
        <image
          resize-mode="contain"
          :source="iconZona"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina boton de zona -->

      <!-- Boton Check in  -->
      <nb-button
        :style="{ backgroundColor: '#0dd3d3' }"
        :on-press="() => checkin()"
      >
        <image
          resize-mode="contain"
          :source="iconQR"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina boton check in -->

      <!-- boton opciones de perfil -->
      <nb-button
        :style="{ backgroundColor: '#0dd3d3' }"
        :on-press="() => Opciones()"
        v-if="menu.origen != 'opciones'"
      >
        <image
          resize-mode="contain"
          :source="iconPerfil"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina opciones de perfil -->

      <!-- boton ROJO de opciones de perfil -->
      <nb-button
        :style="{ backgroundColor: '#ff4f5b' }"
        v-if="menu.origen == 'opciones'"
      >
        <!--Aqui va el QR-->
        <image
          resize-mode="contain"
          :source="iconPerfil"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina opciones de perfil -->

      <!-- home -->
      <nb-button
        :style="{ backgroundColor: '#0dd3d3' }"
        :on-press="() => Home()"
        v-if="menu.origen != 'Home'"
      >
        <image
          resize-mode="contain"
          :source="iconHome"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- termina boton de Home -->

      <!-- boton ROJO de Home -->
      <nb-button
        :style="{ backgroundColor: '#ff4f5b' }"
        v-if="menu.origen == 'Home'"
      >
        <image
          resize-mode="contain"
          :source="iconHome"
          :style="stylesObj.IconConca"
          class="icon-img"
        />
      </nb-button>
      <!-- fin fome -->
    </nb-fab>
  </view>
</template>

<script>
import iconConca from "../../../assets/Menudespegable/menu.png";
import iconQR from "../../../assets/Menudespegable/Qr.png";
import iconHome from "../../../assets/Menudespegable/HOME.png";
import iconPerfil from "../../../assets/Menudespegable/PERFIL.png";
import iconCierre from "../../../assets/Menudespegable/cierre.png";
import iconZona from "../../../assets/Menudespegable/localizacion.png";
import iconInstagram from "../../../assets/Menudespegable/ICONOINSTAGRAM.png";
import iconDescuento from "../../../assets/Menudespegable/Descuento.png";
import * as Linking from "expo-linking";
import store from "../../store";
import { NavigationActions, StackActions } from "vue-native-router";
import { Dimensions, Platform } from "react-native";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "MenuPrincipal" })],
});

const resetAction1 = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "OpcionesUsuario" })],
});

export default {
  data() {
    return {
      componentKey: 0,
      iconQR,
      isFabIconActive: false,
      iconConca,
      iconHome,
      iconPerfil,
      iconCierre,
      iconZona,
      iconInstagram,
      iconDescuento,
      stylesObj: {
        IconConca: {
          width: 30,
          height: 30,
        },
        IconoPrincipal: {
          width: Platform.OS == "android" ? 24: 28,
          height: Platform.OS == "android" ? 24: 28,
          marginLeft: 2,
          marginRight: 2,
          marginBottom: Platform.OS == "android" ? -10: -9,//this.MaginAbajo(),
          marginTop: Platform.OS == "android" ? 0: 0//this.MaginArriba()
        },
        BtnIconPrin: {
          marginBottom: this.MaginAbajo(),
          marginTop: this.MaginArriba()
        }
      },
    };
  },
  computed: {
    menu() {
      return store.state.menu;
    },
  },
  props: {
    navigation: {
      type: Object,
    },
  },
  methods: {
    MaginArriba() {
      if (Platform.OS === "android") {
        return 10;
      } else {
        return 0;
      }
    },
    MaginAbajo() {
      if (Platform.OS === "android") {
        return 0;
      } else {
        return -8;
      }
    },
    Home() {
      var menu = {
        origen: "Home",
        bonton: false,
      };
      store.state.menu = menu;
      this.navigation.dispatch(resetAction);
      this.navigation.navigate("MenuPrincipal");
    },
    Opciones() {
      var menu = {
        origen: "opciones",
        bonton: false,
      };
      store.state.menu = menu;
      this.navigation.dispatch(resetAction1);
      this.navigation.navigate("OpcionesUsuario");
    },
    handleFabIconPress() {
      this.isFabIconActive = !this.isFabIconActive;
    },
    Instagram() {
      console.log(store.state.menu.origen);
      if (store.state.menu.origen == "Home") {
        var menu = {
          origen: "Home",
          bonton: false,
        };
        store.state.menu = menu;
        Linking.openURL("https://www.instagram.com/concaqro");
        this.navigation.dispatch(resetAction);
      } else {
        var menu = {
          origen: "opciones",
          bonton: false,
        };
        store.state.menu = menu;
        Linking.openURL("https://www.instagram.com/concaqro");
        this.navigation.dispatch(resetAction1);
      }
    },
    Descuento() {
      if (store.state.menu.origen == "Home") {
        var menu = {
          origen: "Home",
          bonton: false,
        };
        store.state.menu = menu;
        this.navigation.dispatch(resetAction);
        this.navigation.navigate("Promociones");
      } else {
        var menu = {
          origen: "opciones",
          bonton: false,
        };
        store.state.menu = menu;
        this.navigation.dispatch(resetAction1);
        this.navigation.navigate("Promociones");
      }
    },
    checkin() {
      //console.log(store.state.menu.origen)
      if (store.state.menu.origen == "Home") {
        var menu = {
          origen: "Home",
          bonton: false,
        };
        store.state.menu = menu;
        this.navigation.dispatch(resetAction);
        this.navigation.navigate("checkIn");
      } else {
        var menu = {
          origen: "opciones",
          bonton: false,
        };
        store.state.menu = menu;
        this.navigation.dispatch(resetAction1);
        this.navigation.navigate("checkIn");
      }
    },
    zona() {
      if (store.state.menu.origen == "Home") {
        var menu = {
          origen: "Home",
          bonton: false,
        };
        store.state.menu = menu;
        this.navigation.dispatch(resetAction);
        this.navigation.navigate("Zona");
      } else {
        var menu = {
          origen: "opciones",
          bonton: false,
        };
        store.state.menu = menu;
        this.navigation.dispatch(resetAction1);
        this.navigation.navigate("Zona");
      }
    },
  },
  created() {
    this.isFabIconActive = false;
  },
  mounted() {
    this.isFabIconActive = false;
  },
};
</script>
<style>
.icon-imgpri {
  width: 32;
  height: 32;
  margin-bottom: -8;
  margin-left: 2;
  margin-right: 2;
  align-self: center;
}
</style>