<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>
    <side-bar>
      <template slot="links">
        <user-menu></user-menu>
        <sidebar-item
          :link="{
            name: 'Escritorio',
            icon: 'now-ui-icons design_app',
            path: '/dashboard'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Áreas',
            icon: 'now-ui-icons objects_diamond',
            path: '/areas'
          }"
        ></sidebar-item>
        <sidebar-item
          :link="{
            name: 'Clientes',
            icon: 'now-ui-icons location_map-big',
            path: '/clientes'
          }"
        ></sidebar-item>
        <sidebar-item
          :link="{
            name: 'Usuarios',
            icon: 'now-ui-icons media-1_album',
            path: '/usuarios'
          }"
        ></sidebar-item>
        <sidebar-item
          :link="{
            name: 'Categorias',
            icon: 'now-ui-icons media-1_album',
            path: '/categoria'
          }"
        ></sidebar-item>
        <sidebar-item
          :link="{
            name: 'Configuración',
            icon: 'now-ui-icons design_app',
            path: '/Configuracion'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Reporte',
            icon: 'now-ui-icons design_app',
            path: '/ReportePrincipal'
          }"
        >
        </sidebar-item>
        <sidebar-item
          :link="{
            name: 'Zona',
            icon: 'now-ui-icons location_map-big',
            path: '/Zona'
          }"
        >
        </sidebar-item>
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>
      <router-view name="header"></router-view>

      <div
        :class="{ content: !$route.meta.hideContent }"
        @click="toggleSidebar"
      >
        <zoom-center-transition :duration="200" mode="out-in">
          <!-- your content here -->
          <router-view></router-view>
        </zoom-center-transition>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import UserMenu from "./Extra/UserMenu.vue";
import { ZoomCenterTransition } from "vue2-transitions";

export default {
  components: {
    TopNavbar,
    ContentFooter,
    UserMenu,
    ZoomCenterTransition
  },
  methods: {
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    }
  },
  mounted() {
    let docClasses = document.body.classList;
    let isWindows = navigator.platform.startsWith("Win");
    if (isWindows) {
      // if we are on windows OS we activate the perfectScrollbar function
      initScrollbar("sidebar");
      initScrollbar("sidebar-wrapper");

      docClasses.add("perfect-scrollbar-on");
    } else {
      docClasses.add("perfect-scrollbar-off");
    }
  }
};
</script>
<style lang="scss">
$scaleSize: 0.95;
@keyframes zoomIn95 {
  from {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
  to {
    opacity: 1;
  }
}
.main-panel .zoomIn {
  animation-name: zoomIn95;
}
@keyframes zoomOut95 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d($scaleSize, $scaleSize, $scaleSize);
  }
}
.main-panel .zoomOut {
  animation-name: zoomOut95;
}
</style>
