<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="table-full-width" no-footer-line>
        <h4 slot="header" class="card-title">Listado de Usuarios</h4>
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-primary mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
            <fg-input>
              <el-input
                type="search"
                class="mb-3"
                clearable
                prefix-icon="el-icon-search"
                style="width: 200px"
                placeholder="Search records"
                v-model="searchQuery"
                aria-controls="datatables"
              ></el-input>
            </fg-input>
          </div>
          <n-button
            type="primary"
            @click.native="ModalPersonalizado(1)"
            class="float-right"
          >Nuevo Usuario</n-button>
          <!-- Classic Modal Insertar-->
          <modal :show.sync="modals.classic" headerClasses="justify-content-center">
            <h4 slot="header" class="title title-up">{{datosModal.titulo}}</h4>
            <form>
              <div>
                <fg-input label="Nombre (s)" type="text" placeholder="Nombre (s)" v-model="nombre"></fg-input>
                <fg-input
                  label="Apellido Paterno"
                  type="text"
                  placeholder="Apellido Paterno"
                  v-model="apellidop"
                ></fg-input>
                <fg-input
                  label="Apellido Materno"
                  type="text"
                  placeholder="Apellido Paterno"
                  v-model="apellidom"
                ></fg-input>
                <fg-input
                  label="imagen"
                  type="text"
                  placeholder="Imagen"
                  v-model="imagen"
                ></fg-input>
                <fg-input
                  label="Email"
                  type="email"
                  placeholder="Email"
                  v-model="email"
                ></fg-input>
                <fg-input
                  label="Contraseña"
                  type="password"
                  placeholder="Contraseña"
                  v-model="contra"
                ></fg-input>
                <!-- <fg-input
                  label="Sexo"
                  type="text"
                  placeholder="Sexo"
                  v-model="sexo"
                ></fg-input> -->

                <p>Sexo</p>
                <el-select class="select-primary" placeholder="Seleccione" v-model="sexo.simple" lebel= "Sexo">
                  <el-option v-for="option in sexo.opcion" class="select-primary" :value="option.value" :label="option.label" :key="option.label">
                  </el-option>
                </el-select>

                <fg-input
                  label="Fecha de Nacimiento"
                  type="date"
                  placeholder="Fecha de Nacimiento"
                  v-model="fechanacimiento"
                ></fg-input>
                <fg-input
                  label="Código Postal"
                  type="text"
                  placeholder="Código Postal"
                  v-model="codigopostal"
                ></fg-input>
                <fg-input
                  label="Instagram"
                  type="text"
                  placeholder="Instagram"
                  v-model="instagram"
                ></fg-input>
                <fg-input
                  label="Facebook"
                  type="text"
                  placeholder="Facebook"
                  v-model="facebook"
                ></fg-input>
                
                <p>Area</p>
                <el-select class="select-primary" placeholder="Seleccione" v-model="areaId" lebel= "Area">
                  <el-option v-for="option in areas" class="select-primary" :value="option.id" :label="option.descripcion" :key="option.id">
                  </el-option>
                </el-select>
                <br>
                <n-button type="danger" @click.native="modals.classic = false">Close</n-button>
                <n-button
                  native-type="submit"
                  type="primary"
                  @click.native.prevent="postNow(datosModal.evento)"
                >{{datosModal.boton}}</n-button>
              </div>
            </form>
          </modal>
          <el-table stripe style="width: 100%;" :data="queriedData">
            <el-table-column
              v-for="column in tableColumns"
              :key="column.label"
              :min-width="column.minWidth"
              :prop="column.prop"
              :label="column.label"
            ></el-table-column>
            <el-table-column :min-width="135" fixed="right" label="Acciones">
              <div slot-scope="props" class="table-actions">
                <n-button
                  @click.native="ModalPersonalizado(2,props.row)"
                  class="edit"
                  type="warning"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-pencil"></i>
                </n-button>
                <n-button
                  @click.native="ModalPersonalizado(3,props.row)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-times"></i>
                </n-button>
              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class>
            <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
          </div>
          <n-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></n-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>

import userservices from "../../Services/usuarios";
import { Table, TableColumn, Select, Option } from "element-ui";
import { Pagination as NPagination } from "src/components";
import Fuse from "fuse.js";
import swal from "sweetalert2";
import { Modal } from "src/components";
import Generar from './generaUsuario'
import areasservices from "../../Services/areas";
import moment from 'moment'

export default {
  components: {
    NPagination,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Modal
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  data() {
    return {
      datosModal: {
        titulo : "Crear Usuario",
        boton: "Confirmar",
        evento: 0,
      },
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      modals: {
        classic: false,
      },
      UsuarioGenerado:"",
      evento: "",
      usuarioId: 0,
      nombre: null,
      apellidop: null,
      apellidom: null,
      imagen:"",
      email:"",
      contra:"",
      areas:[],
      areaId:'',
      sexo: {
        simple: '',
        opcion: [{value: 'Masculino', label: 'Masculino'},
                {value: 'Femenino', label: 'Femenino'}] //
      },
      fechanacimiento:null,
      codigopostal:"",
      instagram:"",
      facebook:"",
      searchQuery: "",
      propsToSearch: ["usuarioId", "nombre", "apellidop", "apellidom"],
      tableColumns: [
        // {
        //   prop: "id",
        //   label: "Id",
        //   minWidth: 50
        // },        
        {
          prop: "usuario",
          label: "Usuario",
          minWidth: 250
        },
        {
          prop: "nombre",
          label: "Nombre",
          minWidth: 250
        },
        {
          prop: "apellidoPaterno",
          label: "Apellido Paterno",
          minWidth: 250
        },
        {
          prop: "apellidoMaterno",
          label: "Apellido Materno",
          minWidth: 250
        },
        {
          prop: "correo",
          label: "Email",
          minWidth: 250
        }
      ],
      tableData: [],
      searchedData: [],
      fuseSearch: null
    };
  },
  methods: {
    ModalPersonalizado(exp,row){
      // console.log(row);//este es el bueno
      // console.log("Usuario Id: "+ row.usuarioId);
      switch(exp){
        case 1://Insertar
            //seteanos las variables
            this.nombre = "";
            this.apellidop = "";
            this.apellidom = "";
            this.email = "";
            this.areaId = "";
            this.codigopostal = "";
            this.contra = "";
            this.facebook = "";
            this.fechanacimiento = null ;
            this.imagen = "";
            this.instagram = "";
            this.sexo.simple = "";

            this.modals.classic = true;
            this.datosModal.titulo = "Crear Usuario";
            this.datosModal.boton = "Confirmar";
            this.datosModal.evento = 1;
            this.usuarioId = 0;
            break;
        case 2://Actualizar
            //asignamos el valor del registro seleccionado en las variables  para mostrar en el modal
            this.usuarioId = row.id;
            this.nombre = row.nombre;
            this.apellidop = row.apellidoPaterno;
            this.apellidom = row.apellidoMaterno;
            this.email = row.correo;
            this.areaId = row.areaId;
            this.codigopostal = row.codigoPostal;
            this.contra = row.contrasenia;
            this.facebook = row.facebook;
            this.fechanacimiento = moment(row.fechaNacimiento, 'YYYY-MM-DD').format('yyyy-MM-DD');
            this.imagen = row.imagen;
            this.instagram = row.instagram;
            this.sexo.simple = row.sexo;
            this.modals.classic = true;
            this.datosModal.titulo = "Actualizar Usuario";
            this.datosModal.evento = 2;
            break;

        case 3://Eliminar
          this.usuarioId = row.id;
          
            swal
            .fire({
              title: "Estas seguro de eliminar el siguiente registro?",
              text: row.nombre + ' ' + row.apellidoPaterno + ' ' + row.apellidoMaterno,
              showCancelButton: true,
              confirmButtonClass: "btn btn-success btn-fill",
              cancelButtonClass: "btn btn-danger btn-fill",
              confirmButtonText: "Si, eliminarlo!",
              buttonsStyling: false
            })
            .then(result => {
              if (result.value) {
                //aqui tengo que llamar el registro
                this.deleteRow(this.usuarioId);
              }
            });
            break;
      }
      
    },
    postNow(exp) {


        var data = {
              usuario: Generar.Usuario(this.nombre,this.apellidop,this.apellidom).toLowerCase(), // Generamos un uduario de manera dinamica
              nombre:this.nombre.toUpperCase(),
              apellidoPaterno:this.apellidop.toUpperCase(),
              apellidoMaterno:this.apellidom.toUpperCase(),
              imagen:this.imagen,
              correo:this.email,
              contrasenia:this.contra,
              sexo:this.sexo.simple,
              fechaNacimiento:this.fechanacimiento,
              codigoPostal:this.codigopostal,
              instagram:this.instagram,
              facebook:this.facebook,
              areaId:this.areaId
              };

        switch(exp)
        {
          case 1:    
              userservices.create(data)
              .then(response => {
                //hay que cerrar el model
                this.modals.classic= false;
                this.Notificaciones(response);
                // this.retriveUser();
                //Aqui recuperamos los datos
              })
              .catch(function(error) {
                console.log(error);
              });
            break;

            case 2:
            data.id = this.usuarioId 
            //console.log(data); 
            if(this.usuarioId > 0)
            {
              userservices.update(this.usuarioId,data)
              .then(response => {
                //hay que cerrar el model
                this.modals.classic= false;
                this.Notificaciones(response);
              })
              .catch(function(error) {
                console.log(error);
              });
            }
            
            break;
        }
        
    },
    Notificaciones(response){
      //console.log(response);
      var msg = response.data;
      msg.forEach((item) =>
      {
          //console.log("Id: "+ item.tipo+ " Msg: "+item.mensaje)
          switch(item.tipo)
          {
          case 1://Error
            this.sendNoty('danger',item.mensaje);
            break;
            case 2://ErrorAtributos
              //this.sendNoty('success',e.mensaje);
            break;
            case 3://Exitoso
                  this.sendNoty('success',item.mensaje);
                  location.reload();
            break;
            case 4://Informativo
                  this.sendNoty('info',item.mensaje);
            break;
        }
      });
    },
    deleteRow(row){
      
      if(this.usuarioId > 0)
        {
            userservices.delete(this.usuarioId)
            .then(response => {
            //hay que cerrar el model
            this.Notificaciones(response);
            swal({
                  title: "Eliminado!",
                  text: `Se ha eliminado el registro ${row.nombre}`,
                  type: "success",
                  confirmButtonClass: "btn btn-success btn-fill",
                  buttonsStyling: false
            });
            //Aqui recuperamos los datos
          })
          .catch(function(error) {
            console.log(error);
          });
        }
    },
    retriveUser(){
      userservices.getAll().then(response => {
          this.tableData = response.data;
          //console.log(this.tableData); muestra datos de la tabla 
        })
        .catch(e => {
          console.log(e);
        });
    },
    retriveAreas(){
        areasservices.getAll().then(response => {
        this.areas = response.data;
        //console.log(this.areas);
        })
        .catch(e => {
          console.log(e);
        });   
    },
    sendNoty(type,menssage) {
      this.$notify({
        message:menssage,
        timeout: 30000,
        icon: 'now-ui-icons ui-1_bell-53',
        horizontalAlign: 'right',
        verticalAlign: 'top',
        type: type
      });
    },
  },
  mounted() {
    
    this.retriveUser();
    this.retriveAreas();
    //Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: ['usuarioId','nombre', 'apellidop','apellidom'],
      threshold: 0.3
    });
    
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    }
  }
};
</script>
<style></style>
