<template>
  <nb-container>
    <status-bar :bar-style="'light-content'" androidStatusBarColor="#01cca1" />
    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-content :content-container-style="stylesObj.imageContent">
        <keyboard-aware-scroll-view
          class="form"
          :contentContainerStyle="{
            flexGrow: 1
          }"
        >
          <!-- Logo -->
          <view class="image-view" :style="stylesObj.logoWrapper">
            <image
              resize-mode="contain"
              :source="launchscreenLogo"
              class="logo-style"
              :style="stylesObj.logoStyle"
            />
          </view>

          <!-- Content usuario /pass -->
          <nb-form :style="stylesObj.formWrapper">

            <!-- Usuario -->
            <view>
              <nb-item
                rounded
                class="form-group"
                :error="!$v.emailValue.required && $v.emailValue.$dirty"
              >
                <nb-icon
                  type="Ionicons"
                  active
                  name="ios-person"
                  class="icon-person"
                />
                <nb-input
                  placeholder="Usuario"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input" 
                  v-model="emailValue"
                />
                <view
                  v-if="!$v.emailValue.required && $v.emailValue.$dirty == true"
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('email')"
                    name="close"
                  />
                </view>
              </nb-item>
              <view
                v-if="$v.emailValue.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.emailValue.required == true"
                  :style="stylesObj.formErrorText1"
                  >Requerido</nb-text
                >
              </view>
            </view>

            <!-- Pass -->
            <view>
              <nb-item
                rounded
                class="form-group"
                :error="(!$v.password.required || !$v.password.minLength) && $v.password.$dirty" >
                <nb-icon type="Ionicons" active name="unlock" class="icon2" />
                <nb-input
                  placeholder="Clave de Acceso"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  :secure-text-entry="show"
                  class="input"
                  :on-blur="() => $v.password.$touch()"
                  v-model="password"
                />
                <view
                  class="other-link-container"
                  v-if="
                    (!$v.password.required ||
                      $v.password.minLength ||
                      !$v.password.alphaNum ||
                      !$v.password.maxLength) &&
                      $v.password.$dirty == true
                  "
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => showHide()"
                    :name=eyeIcon
                  />
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('password')"
                    name="close"
                  />
                </view>
              </nb-item>
              <view
                v-if="$v.password.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.password.required == true"
                  :style="stylesObj.formErrorText1"
                  >Requerido</nb-text
                >
                <nb-text
                  v-else-if="!$v.password.minLength == true"
                  :style="stylesObj.formErrorText1"
                  >Debe contener 8 caracteres como mínimo
                </nb-text>
                <nb-text
                  v-else-if="!$v.password.maxLength == true"
                  :style="stylesObj.formErrorText1"
                  >Debe contener máximo 15 caracteres
                </nb-text>
              </view>
            </view>

            <!-- boton estas listo -->
            <nb-button
              rounded
              primary
              block
              large
              class="login-btn"
              :on-press="login"
            >
              <nb-text class="text"> ¿Estás listo? </nb-text>
            </nb-button>

            <!-- Links registrate /olvido contraseña -->
            <view class="footer">
              <nb-left>
                <nb-button
                  small
                  transparent
                  class="button"
                  :on-press="goToSignup"
                >
                  <nb-text class="help-btn" :style="stylesObj.helpBtn">
                    ¡Regístrate!
                  </nb-text>
                </nb-button>
              </nb-left>
              <nb-right>
                <nb-button
                  small
                  transparent
                  class="button"
                  :on-press="goToForgotPassword"
                  :style="{ marginLeft: -45 }"
                >
                  <nb-text class="help-btn" :style="stylesObj.helpBtnIz">
                    Olvidaste tu contraseña
                  </nb-text>
                </nb-button>
              </nb-right>
            </view>

          </nb-form>

        </keyboard-aware-scroll-view>
      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import { Toast } from "native-base";
import {
  required,
  email,
  minLength,
  maxLength,
  alphaNum
} from "vuelidate/lib/validators";
import { NavigationActions, StackActions } from "vue-native-router";
import { KeyboardAwareScrollView } from "react-native-keyboard-aware-scroll-view";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png";
import launchscreenLogo from "../../../assets/logo.png";
import Userservices from "../../services/usuarios";
import store from "../../store";
import tarjetas from "../../services/tarjetas";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "Walkthrough" })]
});

export default {
  computed: {
    Usuarios() {
      return store.state.Usuarios;
    },
  },
  props: {
    navigation: {
      type: Object
    }
  },
  components: {
    KeyboardAwareScrollView
  },
  validations: {
    emailValue: {
      required,
      email
    },
    password: {
      required,
      alphaNum,
      minLength: minLength(4),
      maxLength: maxLength(15)
    }
  },
  data() {
    return {
      emailValue: "",
      password: "",
      launchScreenBg,
      launchscreenLogo,
      show: true,
      eyeIcon: "eye",
      resultado: [],
      stylesObj: {
        imageContent: {
          flex: 1
        },
        logoWrapper: {
          height: Dimensions.get("window").height / 2.5
        },
        logoStyle: {
          height: Dimensions.get("window").height / 3,
          width: Dimensions.get("window").width / 1.5,
          alignSelf: "center"
        },
        imageContainer: {
          height: Dimensions.get("window").height
        },
        otherLinkContainer: {
          paddingTop:
            Dimensions.get("window").height < 600
              ? 5
              : Platform.OS === "android"
              ? 10
              : 15
        },
        formWrapper: { flexGrow: 1, paddingBottom: 30 },
        formErrorText1: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          top: -25,
          right: 5
        },
        showHidePass: {
          showhide: this.showHide()
        },
        helpBtnIz:{
          marginLeft:Platform.OS == "android" ? -11 : 21,
          fontSize:Platform.OS == "android" ? 12: 12,

        },
        helpBtn:{
          marginLeft:Platform.OS == "android" ? 1 : 1,
          fontSize:Platform.OS == "android" ? 12 : 12,
        }
      }
    };
  },
  methods: {
    clearInput(field) {
      if (field == "email") {
        this.emailValue = "";
      } else {
        this.password = "";
      }
    },
    resetFields() {
      this.emailValue = "";
      this.password = "";
      this.$v.emailValue.$reset();
      this.$v.password.$reset();
    },
    skipToApp() {
      this.navigation.dispatch(resetAction);
    },
    login() {
      
      //evaluamos que las variables de sesion no esten vacias
      if (this.emailValue != "" && this.password != "") {
        //lamamos el service donde para identificar el usuario y/o contraseña
        var data = {
          usuario: this.emailValue,
          contrasenia: this.password
        };
        
        Userservices.login(data)
          .then(response => {
            //asignamos la respuesta en la variable mensaje para conocer el "tipo"
            if (response.status == 200) {
              store.state.usuario = response.data;
              
              this.Usuarios.forEach(u => {
                if(u.id == response.data.id){
                  store.state.usuario.imagen = u.imagen;
                }
              });
              
              if (response.data.cambioContrasenia == true) {
                this.navigation.navigate("ForgetPassword");
              } else {


              tarjetas
              .getCount(response.data.id,response.data.zonaId )
              .then(response => {
                //console.log(response.data);
                if(response.data > 0)
                {        
                  //console.log("tiene lufgares que calificar");
                  store.state.countCalificar = response.data;
                  this.navigation.navigate("SegundaPregunta");
                }else{
                  //console.log("no hay lugares");
                  this.navigation.navigate("MenuPrincipal");
                }

                //this.navigation.navigate("Loading");

              });
              }
            } else {
              // Toast.show({
              //   text: "Error en usuario y/o contraseña , intente nuevamente ",
              //   duration: 3000,
              //   position: "bottom",
              //   textStyle: {
              //     textAlign: "center",
              //     backgroundColor: "transparent"
              //   }
              // });
              alert("Error en usuario y/o contraseña , intente nuevamente");
            }
            //console.log(response.status);
          })
          .catch(error => {
            // cachamos el error en caso de que exista
            console.log(error);
            // Toast.show({
            //   text: "Error en usuario y/o contraseña , intente nuevamente ",
            //   duration: 5000,
            //   position: "bottom",
            //   textStyle: {
            //     textAlign: "center",
            //     backgroundColor: "transparent"
            //   }
            // });
            alert("Error en usuario y/o contraseña , intente nuevamente");
          });
      } else {
        // mostramos el mensaje si las varables de sesion estan vacias
        // console.log(this.emailValue);
        // console.log(this.password);
        // Toast.show({
        //   text: "Ingrese un usuario y contraseña validos!",
        //   duration: 2500,
        //   position: "top",
        //   textStyle: { textAlign: "center", backgroundColor: "transparent" }
        // });
        alert("Ingrese un usuario y contraseña validos!");
      }
    },
    goToSignup() {
      this.resetFields();
      this.navigation.navigate("Signup"); // pantalla de registro de usuario
    },
    goToForgotPassword() {
      this.resetFields();
      //this.navigation.navigate("ForgetPassword"); //pantalla recuperar contraseña
      this.navigation.navigate("sendEmailForget");
    },
    showHide() {
      if (this.show) {
        this.show = false;
        this.eyeIcon = "eye-off";
      } else {
        this.show = true;
        this.eyeIcon = "eye";
      }
    }
  }
};
</script>

<style>
.footer {
  padding: 20;
  background-color: transparent;
  flex-direction: row;
}
.image-container {
  flex: 1;
  background-color: white; /* rgba(0, 0, 0, 0.1);*/
}
.image-view {
  flex-direction: row;
  align-self: center;
}
.logo-style {
  align-self: center;
}
.form {
  padding-left: 20;
  padding-right: 20;
}
.form-group {
  z-index: 1;
  flex-direction: row;
  background-color: rgba(13, 211, 211, 0.9);
  margin-bottom: 25;
  padding-left: 10;
  border-color: transparent;
}
.input {
  padding-bottom: 5;
  padding-left: 10;
  color: #fff;
}
.login-btn {
  background-color: #0dd3d3;
  margin-top: 120;
  height: 50;
}
.icon-person {
  color: #fff;
  font-size: 25;
}
.formErrorIcon {
  color: #fff;
  margin-top: 5;
  right: 10;
}
.icon2 {
  color: #fff;
  font-size: 20;
}
.other-link-container {
  flex-direction: row;
}
.help-btn {
  opacity: 0.9;
  font-size: 14;
  font-weight: bold;
  color: #006666; /*#fff;*/
}
.form-error {
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 25;
  border-color: red;
  padding-left: 5;
  border-width: 0.5;
}
.skip-btn {
  border-width: 0.5;
  border-color: #fff;
  margin-bottom: 15;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.button {
  align-items: flex-start;
  background-color: transparent;
}
.hlp-btn-view {
  align-self: flex-end;
}
</style>
