<template>
  <nb-container>
    <image-background :source="launchScreenBg" class="image-container">
      <keyboard-aware-scroll-view
        class="form"
        :contentContainerStyle="{
          flexGrow: 1,
        }"
      >
        <view class="image-view" :style="stylesObj.logoWrapper">
          <image
            resize-mode="contain"
            :source="launchscreenLogo"
            class="logo-style"
            :style="stylesObj.logoStyle"
          />
        </view>

        <view class="signup-container" :style="stylesObj.signupContainer">
          <nb-form>
            <!-- Usuario  -->
            <view>
              <nb-item
                class="input-grp"
                :error="
                  (!$v.username.required || !$v.username.email) &&
                  $v.username.$dirty
                "
              >
                <nb-icon
                  type="Ionicons"
                  active
                  name="ios-person"
                  class="icon-person"
                />
                <nb-item fixedLabel>
                  <nb-input
                    placeholder="Usuario"
                    auto-capitalize="none"
                    placeholder-text-color="#FFF"
                    class="input"
                    :on-blur="() => $v.username.$touch()"
                    v-model="username"
                  />
                </nb-item>

                <view
                  v-if="
                    (!$v.username.required || !$v.username.email) &&
                    $v.username.$dirty == true
                  "
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('username')"
                    name="close"
                  />
                </view>
              </nb-item>

              <view
                v-if="$v.username.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.username.required == true"
                  :style="stylesObj.formErrorText1"
                  >El usuario es requerido</nb-text
                >
              </view>
            </view>

            <!-- Correo Electronico -->
            <view>
              <nb-item
                class="input-grp"
                :error="
                  (!$v.emailValue.required || !$v.emailValue.email) &&
                  $v.emailValue.$dirty
                "
              >
                <nb-icon type="Zocial" active name="email" class="icon-email" />
                <nb-item fixedLabel>
                  <nb-input
                    placeholder="Correo Electronico"
                    auto-capitalize="none"
                    placeholder-text-color="#FFF"
                    class="input"
                    :on-blur="() => $v.emailValue.$touch()"
                    v-model="emailValue"
                  />
                </nb-item>
                <view
                  v-if="
                    (!$v.emailValue.required || !$v.emailValue.email) &&
                    $v.emailValue.$dirty == true
                  "
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('email')"
                    name="close"
                  />
                </view>
              </nb-item>
              <view
                v-if="$v.emailValue.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.emailValue.required == true"
                  :style="stylesObj.formErrorText1"
                  >El correo es requerido</nb-text
                >
                <nb-text
                  v-if="!$v.emailValue.email == true"
                  :style="stylesObj.formErrorText1"
                  >Dirección de correo no válida</nb-text
                >
              </view>
            </view>

            <!-- Clave de acceso -->
            <view>
              <nb-item
                class="input-grp"
                :error="
                  (!$v.password.required || !$v.password.minLength) &&
                  $v.password.$dirty
                "
              >
                <nb-icon
                  type="Ionicons"
                  active
                  name="unlock"
                  class="icon-unlock"
                />

                <!-- <nb-item fixedLabel> -->
                <nb-input
                  id="password"
                  placeholder="Clave de Acceso"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  :secure-text-entry="show"
                  class="input"
                  :on-blur="() => $v.password.$touch()"
                  v-model="password"
                />
                <!-- </nb-item> -->

                <view
                  class="other-link-container"
                  v-if="
                    (!$v.password.required ||
                      !$v.password.alphaNum ||
                      $v.password.minLength ||
                      !$v.password.maxLength) &&
                    $v.password.$dirty == true
                  "
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => showHide()"
                    :name="eyeIcon"
                  />
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('password')"
                    name="close"
                  />
                </view>
              </nb-item>

              <view
                v-if="$v.password.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.password.required == true"
                  :style="stylesObj.formErrorText1"
                  >La contraseña es requerida</nb-text
                >
                <nb-text
                  v-else-if="!$v.password.minLength == true"
                  :style="stylesObj.formErrorText1"
                  >Minimo 8 caracteres</nb-text
                >
              </view>
            </view>

            <!-- Confirmar clave de acceso -->
            <view>
              <nb-item
                class="input-grp"
                :error="
                  (!$v.password_Compare.required ||
                    !$v.password_Compare.alphaNum ||
                    !$v.password_Compare.minLength ||
                    !$v.password_Compare.maxLength) &&
                  $v.password_Compare.$dirty
                "
              >
                <nb-icon
                  type="Ionicons"
                  active
                  name="unlock"
                  class="icon-unlock"
                />
                <nb-input
                  placeholder="Confirma la Clave de Acceso"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input"
                  :on-blur="() => $v.password_Compare.$touch()"
                  v-model="password_Compare"
                  :secure-text-entry="show2"
                />
                <view
                  class="other-link-container"
                  v-if="
                    (!$v.password_Compare.required ||
                      !$v.password_Compare.alphaNum ||
                      $v.password_Compare.minLength ||
                      !$v.password_Compare.maxLength) &&
                    $v.password_Compare.$dirty == true
                  "
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => showHide2()"
                    :name="eyeIcon2"
                  />
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('password_Compare')"
                    name="close"
                  />
                </view>
              </nb-item>
              <view
                v-if="$v.password_Compare.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.password_Compare.required == true"
                  :style="stylesObj.formErrorText1"
                  >La confirmación de contraseña es requerida</nb-text
                >

                <nb-text
                  v-else-if="!$v.password_Compare.minLength == true"
                  :style="stylesObj.formErrorText1"
                  >Minimo 8 caracteres</nb-text
                >
              </view>
            </view>
          </nb-form>
          <nb-button rounded block class="signup-btn" :on-press="signup">
            <nb-text class="continue-text"> Continúa </nb-text>
          </nb-button>
        </view>
        <view class="other-link-container" :style="{ alignSelf: 'center' }">
          <nb-button small transparent :on-press="signin">
            <nb-text class="help-btns">
              ¿Ya tienes una cuenta? Ingresa
            </nb-text>
          </nb-button>
        </view>
      </keyboard-aware-scroll-view>
    </image-background>
  </nb-container>
</template>

<script>
import launchscreenLogo from "../../../assets/logo.png";
import { Dimensions, Platform, Vue } from "react-native";
import { KeyboardAwareScrollView } from "react-native-keyboard-aware-scroll-view";
import { Toast } from "native-base";
import {
  required,
  email,
  minLength,
  alphaNum,
  maxLength,
} from "vuelidate/lib/validators";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png"; //"../../../assets/bg-signup.png";
import Userservices from "../../services/usuarios";
import checkPass from "./checkPass.js";
import { NavigationActions, StackActions } from "vue-native-router";


const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "Signup" })]
});

export default {
  props: {
    navigation: {
      type: Object,
    },
  },
  components: {
    KeyboardAwareScrollView,
  },
  validations: {
    emailValue: {
      required,
      email,
    },
    password: {
      required,
      alphaNum,
      minLength: minLength(4),
      maxLength: maxLength(15),
    },
    password_Compare: {
      required,
      alphaNum,
      minLength: minLength(8),
      maxLength: maxLength(15),
    },
    apellidop: {
      required,
      alphaNum,
      minLength: minLength(3),
    },
    username: {
      required,
      alphaNum,
      minLength: minLength(3),
    },
  },
  data() {
    return {
      usuario: null,
      emailValue: "",
      password: "",
      flag: 0,
      password_Compare: "",
      username: "",
      apellidop: "",
      show: true,
      show2: true,
      eyeIcon: "eye",
      eyeIcon2: "eye",
      launchscreenLogo,
      launchScreenBg,
      stylesObj: {
        logoWrapper: {
          height: Dimensions.get("window").height / 2.5,
        },
        logoStyle: {
          height: Dimensions.get("window").height / 3,
          width: Dimensions.get("window").width / 1.5,
          alignSelf: "center",
        },
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        signupHeader: {
          marginTop:
            Platform.OS === "android"
              ? Dimensions.get("window").height / 6
              : Dimensions.get("window").height / 6 + 10,
        },
        signupContainer: {
          marginTop: this.signUpContainerStyle(),
        },
        formErrorText1: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          top: -25,
          right: 5,
        },
      },
    };
  },
  methods: {
    signUpContainerStyle() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 13 - 60;
        } else {
          return Dimensions.get("window").height / 14 - 60;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 12 - 60;
        } else {
          return Dimensions.get("window").height / 11 - 60;
        }
      }
    },
    clearInput(field) {
      if (field == "email") {
        this.emailValue = "";
      } else if (field == "password") {
        this.password = "";
      } else {
        this.username = "";
      }
    },
    verificarUsuario() {
      if (this.flag == 0) {
      var data = {
        usermail: this.username,
      };
      if (this.username != "") {
      Userservices.checkData(data)
        .then((response) => {
          this.flag = 1;
          // Toast.show({
          //   text: "El usuario ingresado ya se encuentra registrado",
          //   duration: 6000,
          //   position: "bottom",
          //   textStyle: { textAlign: "center" },
          // });
          alert("El usuario ingresado ya se encuentra registrado");
        })
        .catch((e) => {
          console.log("No hay registro del usuario");
          console.log(e);
        });
      }
      }
    },
    verficicaCorreo() {
      if (this.flag == 0) {
        var data = {
          usermail: this.emailValue,
        };
        //verificamos el usuario que no exista
        if (this.emailValue != "") {
          Userservices.checkData(data)
            .then((response) => {
              this.flag = 1;
              // Toast.show({
              //   text:
              //     "El correo ingresado ya se encuentra en uso favor de ingresar otro",
              //   duration: 6000,
              //   position: "bottom",
              //   textStyle: { textAlign: "center" },
              // });
              alert("El correo ingresado ya se encuentra en uso favor de ingresar otro");
            })
            .catch((e) => {
              console.log("No hay correo");
              console.log(e);
            });
        }
      }
    },
    signup() {
      this.flag = 0;
      //verifica el usuario que no exista
      this.verificarUsuario();
      this.verficicaCorreo();

      //console.log("el valor de flag es :" + this.flag);

     setTimeout(() => {
        // validacion de datos
        if (
          this.emailValue != "" &&
          this.password != "" &&
          this.password_Compare != ""
        ) {
          //realizamos la comparacion de las contraseÃ±as
          if (this.password == this.password_Compare) {
            //antes de continuar con el registro identificamos si ya existe el usuario y/o el correo  para que no se repitan en la
            //base
            //verificamos que el pass contenga los terminos de seguirad
            var correctpass = checkPass.CheckPassword(this.password);
            if (correctpass) {
              //verificando el correo
              console.log(this.flag);
              if (this.flag == 0) {
                //declaramos el json con el cual se realizara la carga de los datos, con el fin de pasarlo por parametro
                this.navigation.navigate("Signup2", {
                  emailpassusuario: {
                    user: this.username,
                    email: this.emailValue,
                    pass: this.password,
                  },
                });
              }
            } else {
              this.password = "";
              this.password_Compare = "";
              // Toast.show({
              //   text:
              //     "El password  debe contener al menos una Mayúscula/minúsculula y un número",
              //   duration: 5000,
              //   position: "bottom",
              //   textStyle: { textAlign: "center" },
              // });
              alert("El password  debe contener al menos una Mayúscula/minúsculula y un número");
            }
          } else {
            //mensaje de claeves de acceso diferentes
            this.password = "";
            this.password_Compare = "";
            // Toast.show({
            //   text: "Las claves de acceso no coinciden, intente nuevamente  ",
            //   duration: 5000,
            //   position: "bottom",
            //   textStyle: {
            //     textAlign: "center",
            //     backgroundColor: "transparent",
            //   },
            // });
            alert("Las claves de acceso no coinciden, intente nuevamente");
          }
        } else {
          //mensaje de datos faltantes y/o vacios
          // Toast.show({
          //   text: "Debe ingresar todos los datos",
          //   duration: 3000,
          //   position: "bottom",
          //   textStyle: { textAlign: "center", backgroundColor: "transparent" },
          // });
          alert("Debe ingresar todos los datos")
        }
     }, 2000);
    // }
    },
    signin() {
      this.navigation.navigate("Login");
    },
    showHide() {
      if (this.show) {
        this.show = false;
        this.eyeIcon = "eye-off";
      } else {
        this.show = true;
        this.eyeIcon = "eye";
      }
    },
    showHide2() {
      if (this.show2) {
        this.show2 = false;
        this.eyeIcon2 = "eye-off";
      } else {
        this.show2 = true;
        this.eyeIcon2 = "eye";
      }
    },
  },
};
</script>

<style>
.image-view {
  flex-direction: row;
  align-self: center;
}
.logo-style {
  align-self: center;
}
.image-container {
  flex: 1;
  background-color: white; /* rgba(0, 0, 0, 0.1);*/
}
.formErrorIcon {
  color: #fff;
  margin-top: 5;
  right: 10;
}
.signup-header {
  align-self: center;
  font-size: 22;
  padding: 10;
  font-weight: bold;
  color: #fff;
}
.signup-container {
  padding-left: 20;
  padding-right: 20;
}
.input-grp {
  z-index: 1;
  flex-direction: row;
  margin-left: 0;
  border-radius: 25;
  background-color: rgba(13, 211, 211, 0.9); /* rgba(255, 255, 255, 0.3);*/
  margin-bottom: 25;
  padding-left: 15;
  border-width: 0;
  border-color: transparent;
}
.input {
  padding-bottom: 5;
  padding-left: 10;
  color: #fff;
}
.signup-btn {
  height: 50;
  margin-top: 10;
  border-width: 1;
  border-color: transparent;
  background-color: #0dd3d3;
}
.footer-view {
  padding-left: 20;
  padding-right: 20;
  background-color: transparent;
  border-color: transparent;
}
.help-btns {
  opacity: 0.9;
  font-size: 14;
  font-weight: bold;
  color: #006666; /*#fff;*/
}
.icon-person {
  color: #fff;
  font-size: 25;
}
.icon-email {
  color: #fff;
  font-size: 20;
}
.icon-unlock {
  color: #fff;
  font-size: 23;
}
.continue-text {
  color: #fff;
}
.other-link-container {
  flex-direction: row;
}
</style>