<template>
  <nb-container>
    <status-bar :bar-style="'light-content'"></status-bar>
    <image-background :source="launchScreenBg" class="image-container">
      <keyboard-aware-scroll-view
        class="form"
        :contentContainerStyle="{
          flexGrow: 1,
        }"
      >   
        <!-- <nb-content padder> -->
        <view class="image-view" :style="stylesObj.logoWrapper">
          <image
            resize-mode="contain"
            :source="launchscreenLogo"
            class="logo-style"
            :style="stylesObj.logoStyle"
          />
        </view>
        <view class="signup-container" :style="stylesObj.signupContainer">
          <nb-form>
            <!-- Nombre -->
            <view>
              <nb-item class="input-grp">
                <nb-icon
                  class="icon-email"
                  type="Ionicons"
                  active
                  name="ios-person"
                />

                <nb-input
                  placeholder="Nombre"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input"
                  :on-blur="() => $v.name.$touch()"
                  v-model="name"
                />
                <nb-icon
                  active
                  class="formErrorIcon"
                  :on-press="() => clearInput('name')"
                  name="close"
                />
              </nb-item>
              <view
                v-if="$v.name.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.name.required == true"
                  :style="stylesObj.formErrorText1"
                  >El nombre es un campo requerido</nb-text
                >
                <nb-text
                  v-if="!$v.name.alphaNum == true"
                  :style="stylesObj.formErrorText1"
                  >Solo caracteres alfanumericos</nb-text
                >
                <nb-text
                  v-else-if="!$v.name.minLength == true"
                  :style="stylesObj.formErrorText1"
                  >Minimo 8 caracteres</nb-text
                >
              </view>
            </view>

            <!-- Apellido Paterno -->
            <view>
              <nb-item
                class="input-grp"
                :error="!$v.apellidop.required && $v.apellidop.$dirty"
              >
                <nb-icon
                  type="Ionicons"
                  active
                  name="ios-person"
                  class="icon-person"
                />

                <nb-input
                  placeholder="Apellido Paterno"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input"
                  :on-blur="() => $v.apellidop.$touch()"
                  v-model="apellidop"
                />
                <view
                  v-if="!$v.apellidop.required && $v.apellidop.$dirty == true"
                >
                  <nb-icon
                    active
                    class="formErrorIcon"
                    :on-press="() => clearInput('apellidop')"
                    name="close"
                  />
                </view>
              </nb-item>
              <view
                v-if="$v.apellidop.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.apellidop.required == true"
                  :style="stylesObj.formErrorText1"
                  >El apellido paterno es un campo requerido</nb-text
                >
              </view>
            </view>

            <!-- Apellido Materno -->
            <view>
            <nb-item
            class="input-grp"
            :error="!$v.apellidom.required && $v.apellidom.$dirty"
            >
            <nb-icon
            type="Ionicons"
            active
            name="ios-person"
            class="icon-person"
            />
            <nb-input
            placeholder="Apellido Materno (Opcional)"
            auto-capitalize="none"
            placeholder-text-color="#FFF"
            class="input"
            :on-blur="() => $v.apellidom.$touch()"
            v-model="apellidom"
            />
            <view
            v-if="!$v.apellidom.required && $v.apellidom.$dirty == true"
            >
            <nb-icon
            active
            class="formErrorIcon"
            :on-press="() => clearInput('apellidom')"
            name="close"
            />
            </view>
            </nb-item>
            
            </view>

            <!-- Sexo -->
            <view>
              <nb-item class="input-grp">
                <nb-icon
                  type="Ionicons"
                  active
                  name="ios-people"
                  headerBackButtonText="Baaack!"
                  class="icon-person"
                />

                <nb-text class="continue-text_modal"
                :on-press="modalOpen"> 
                {{select}}</nb-text>
                
              </nb-item>
            </view>

            <!-- Fecha Nacimiento ANDROID-->
            <view v-if="plataforma === 'android'">
              <nb-item class="input-grp">
                <nb-icon
                  type="Ionicons"
                  active
                  name="calendar"
                  class="icon-person"
                />
                <nb-date-picker
                  :style="{ height: 180, color: 'white' }"
                  :defaultDate="defaultDate"
                  :minimumDate="minimumDate"
                  :maximumDate="maximumDate"
                  :modalTransparent="false"
                  modalPresentationStyle="pageSheet"
                  animationType="fade"
                  placeHolderText="Fecha de Nacimiento" 
                  :textStyle="{ color: '#ffffff' }"
                  :placeHolderTextStyle="{ color: '#ffffff' }"
                  :onDateChange="setDate" 
                />
              </nb-item> 
            </view>
            <!-- Fecha Nacimiento IOS-->
            <view v-if="plataforma === 'ios'" >
              <nb-item class="fila">
                <nb-item class="input-grp2" >
                  <nb-icon
                    type="Ionicons"
                    active
                    name="calendar"
                    class="icon-person"                        
                  />
                  <nb-input 
                  :on-blur="() => $v.dia.$touch()"
                  v-model="dia"
                  placeholder="Día"
                  placeholder-text-color="#FFF"
                  class="input2"
                  keyboardType = "number-pad"
                  ></nb-input>
                  <view
                    v-if="$v.dia.$dirty == true"
                    :style="{ alignSelf: 'flex-end' }"
                  >
                    <nb-text
                      v-if="!$v.dia.maxLength == true"
                      :style="stylesObj.formErrorText2"
                      >Máximo 2 caracteres</nb-text
                    >

                <nb-text
                  v-else-if="!$v.dia.between == true"
                  :style="stylesObj.formErrorText2"
                  >Día incorrecto</nb-text
                >
                </nb-item>
                <nb-item class="input-grp2" >
                  <nb-icon
                    type="Ionicons"
                    active
                    name="calendar"
                    class="icon-person"                        
                  />
                <nb-input
                  :on-blur="() => $v.mes.$touch()"
                  v-model="mes"
                  placeholder="Mes"
                  placeholder-text-color="#FFF"
                  class="input2"
                  keyboardType = "number-pad"></nb-input>
                  <view
                    v-if="$v.mes.$dirty == true"
                    :style="{ alignSelf: 'flex-end' }"
                  >
                    <nb-text
                      v-if="!$v.mes.maxLength == true"
                      :style="stylesObj.formErrorText3"
                      >Máximo 2 caracteres</nb-text
                    >
                   <nb-text
                    v-else-if="!$v.mes.between == true"
                    :style="stylesObj.formErrorText3"
                    >Mes incorrecto</nb-text
                  >
                </nb-item>
                <nb-item class="input-grp2" >
                  <nb-icon
                    type="Ionicons"
                    active
                    name="calendar"
                    class="icon-person"                        
                  />
                 <nb-input placeholder="Año"
                  :on-blur="() => $v.anio.$touch()"
                  v-model="anio"
                  placeholder-text-color="#FFF"
                  class="input2"
                  keyboardType = "number-pad"></nb-input>
                </nb-item>
                <view
                    v-if="$v.anio.$dirty == true"
                    :style="{ alignSelf: 'flex-end' }"
                  >
                    <nb-text
                      v-if="!$v.anio.minLength == true"
                      :style="stylesObj.formErrorText4"
                      >Mínimo 4 caracteres</nb-text
                    >
                    <nb-text
                      v-else-if="!$v.anio.maxLength == true"
                      :style="stylesObj.formErrorText4"
                      >Máximo 4 caracteres</nb-text
                    >
                    <nb-text
                    v-else-if="!$v.anio.between == true"
                    :style="stylesObj.formErrorText4"
                    >Año incorrecto</nb-text
                  >
              </nb-item>
            </view>

            <!--  Codigo Postal -->
            <view>
              <nb-item class="input-grp">
                <nb-icon
                  type="Ionicons"
                  active
                  name="ios-map"
                  class="icon-person"
                />
                <nb-input
                  placeholder="Código Postal"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input"
                  :on-blur="() => $v.codpo.$touch()"
                  v-model="codpo"
                  keyboardType = "number-pad"
                />
              </nb-item>
              <view
                v-if="$v.codpo.$dirty == true"
                :style="{ alignSelf: 'flex-end' }"
              >
                <nb-text
                  v-if="!$v.codpo.required == true"
                  :style="stylesObj.formErrorText1"
                  >El Código Postal es un campo requerido</nb-text
                >
                <nb-text
                  v-if="!$v.codpo.numeric == true"
                  :style="stylesObj.formErrorText1"
                  >Solo caracteres numericos</nb-text
                >
              </view>
            </view>

            <!-- Instagram -->
            <view>
              <nb-item class="input-grp">
                <nb-icon
                  type="Ionicons"
                  active
                  name="logo-instagram"
                  class="icon-person"
                />
                <nb-input
                  placeholder="Instagram"
                  auto-capitalize="none"
                  placeholder-text-color="#FFF"
                  class="input"
                  v-model="Instagram"
                />
              </nb-item>
            </view>
          </nb-form>

          <nb-button
            rounded
            bordered
            block
            class="signup-btn"
            :on-press="signup"
          >
            <nb-text class="continue-text"> ¡Aventúrate! </nb-text>
          </nb-button>
        </view>

        <view class="other-link-container">
          <nb-button small transparent :on-press="signin">
            <nb-text class="help-btns">
              ¿Ya tienes una cuenta? Ingresa
            </nb-text>
          </nb-button>
        </view>

      </keyboard-aware-scroll-view>
      
      <modal
        position="center"
        entry="bottom"
        :is-open="open"
        :on-opened="modalOpen"
        :on-closed="modalClose"
        :back-button-close="false"
        class="modal"
        :style="stylesObj.modal"
        :useNativeDriver="false"
        :animationDuration="0"
      >
        <image-background
          :source="fondoModal"
          :style="stylesObj.ModalimageContainer"
        >
          <view>
            <nb-grid :style="{ height: 200 }">
              <nb-row :style="{ height: 40 }">
                <nb-text class="txt-modal-titulo">
                  Selecciona una opción
                </nb-text>
              </nb-row>
              <nb-row
                :style="{
                  height: 55,
                  alignSelf: 'center',
                }"
              >
              </nb-row>
              <nb-row
                :style="{
                  height: 55,
                  alignSelf: 'center'
                }"
              >
              <nb-list :style="stylesObj.list">
                <nb-list-item :on-press="() => seleccion(1)">
                  <nb-text>Femenino</nb-text>
                </nb-list-item>
                <nb-list-item :on-press="() => seleccion(2)">
                  <nb-text>Masculino</nb-text>
                </nb-list-item>
                <nb-list-item :on-press="() => seleccion(3)">
                  <nb-text>Prefiero no comentar</nb-text>
                </nb-list-item>
              </nb-List>

              </nb-row>

              <nb-row
                :style="{
                  height: 55,
                  alignSelf: 'center'
                }"
              >
            </nb-grid>
          </view>
        </image-background>
      </modal>
      
    </image-background>
  </nb-container>
</template>

<script>
import React,{ Component } from "react";
import { Dimensions, Platform, StyleSheet, Text, View, Image } from "react-native";
import { Toast, Picker, List } from "native-base";
import {
  required,
  email,
  numeric,
  minLength,
  alphaNum,
  maxLength,
  between
} from "vuelidate/lib/validators";
import launchscreenLogo from "../../../assets/logo.png";
import launchScreenBg from "../../../assets/MenuPrincipal/fondo2.png"; //"../../../assets/bg-signup.png";
import Userservices from "../../services/usuarios";
import Generar from "../../services/generaUsuario";
import store from "../../store";
import { KeyboardAwareScrollView } from "react-native-keyboard-aware-scroll-view";
import fondoModal from "../../../assets/fondoModal.png";
import Modal from "react-native-modalbox";
import {DateTimePickerModal} from "react-native-modal-datetime-picker";


export default {
  components: {
    DateTimePickerModal,
    KeyboardAwareScrollView,
    Platform,
    Item: Picker.Item,
    Modal,
  },
  props: {
    navigation: {
      emailpassusuario: Object,
    },
  },
  validations: {
    dia:{
      required,
      numeric,
      between: between(1, 31),
      minLength: minLength(1),
      maxLength: maxLength(2),
    },
    mes:{
      required,
      numeric,
      between: between(1, 12),
      minLength: minLength(1),
      maxLength: maxLength(2),
    },
    anio:{
      required,
      numeric,
      between: between(1920, 2050),
      minLength: minLength(3),
      maxLength: maxLength(4),
    },
    password: {
      required,
      alphaNum,
      minLength: minLength(8),
      maxLength: maxLength(15),
    },
    name: {
      required,
      alphaNum,
      minLength: minLength(3),
    },
    apellidop: {
      required,
      alphaNum,
      minLength: minLength(3),
    },
    apellidom: {
      required,
      alphaNum,
      minLength: minLength(3),
    },
    codpo: {
      required,
      numeric,
      minLength: minLength(3),
    },
  },
  data() {
    return {
      setDatePickerVisibility:false,
      plataforma: Platform.OS,
      fondoModal,
      objetousuario: null,
      defaultDate: new Date(),
      minimumDate: new Date("1940-01-01"),
      maximumDate: new Date("2100-12-31"),
      chosenDate: new Date(),
      fechaNac:"Fecha de Nacimiento",
      open: false,
      open2: false,
      position: "center",
      select: "Seleccione",
      opciones: ["Homre", "Mujer", "Prefiero no especificar"],
      email: "",
      apellidop: "",
      apellidom: "",
      password: "",
      name: "",
      dia:"",
      mes:"",
      anio:"",
      codpo: "",
      Instagram: "",
      selected: "",
      launchScreenBg,
      launchscreenLogo,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
        },
        logoWrapper: {
          height: Dimensions.get("window").height / 2.5,
        },
        logoStyle: {
          height: Dimensions.get("window").height / 3,
          width: Dimensions.get("window").width / 1.5,
          alignSelf: "center",
        },
        signupHeader: {
          marginTop:
            Platform.OS === "android"
              ? Dimensions.get("window").height / 6
              : Dimensions.get("window").height / 6 + 10,
        },
        signupContainer: {
          marginTop: this.signUpContainerStyle(),
        },
        formErrorText1: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          top: -25,
          right: 5,
        },
        formErrorText2: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          marginTop: 2,
          marginLeft: 70,
        },
        formErrorText3: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          marginTop: 2,
          marginLeft: -35,
        },
        formErrorText4: {
          fontSize: Platform.OS === "android" ? 12 : 15,
          color: "#d9534f",
          textAlign: "right",
          position: "absolute",
          marginTop: -22,
          marginLeft: -165,
        },
        modal: {
          //width: Dimensions.get("window").width,
          height: 220,
          //top: Dimensions.get("window").height / 1.5,
        },
        ModalimageContainer: {
          height: 190,
        },
        list: {
          border: "transparent",
          marginTop: -50,
        },
        markedDate: {
          calendarBackground: "#ffffff",
          textSectionTitleColor: "#01cca1",
          selectedDayBackgroundColor: "#01cca1",
          selectedDayTextColor: "#ffffff",
          todayTextColor: "#01cca1",
          dayTextColor: "#2d4150",
          textDisabledColor: "#d9e1e8",
          dotColor: "#00adf5",
          selectedDotColor: "#ffffff",
          arrowColor: "#01cca1",
          monthTextColor: "#000"
        }
      },
    };
  },
  methods: {
    modalOpen() {
      this.open = true;
    },
    modalClose() {
      this.open = false;
    },
    modalOpen2() {
      this.open2 = true;
    },
    modalClose2() {
      this.open2 = false;
    },
    seleccion(op) {
      switch (op) {
        case 1:
          this.selected = "Femenino";
          break;
        case 2:
          this.selected = "Masculino";
          break;
        case 3:
          this.selected = "Prefiero no comentar";
          break;
      }
      this.select = this.selected;
      this.modalClose();
      // console.log("el valor fue :");
      // console.log(this.selected);
    },
    setDate: function (newDate) {
      this.chosenDate = newDate;
    },
    onValueChange: function (value) {
      this.selected = value;
    },
    signUpContainerStyle() {
      if (Dimensions.get("window").width < 330) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 9 - 20;
        } else {
          return Dimensions.get("window").height / 10 - 20;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 9 - 20;
        } else {
          return -20;
        }
      }
    },
    clearInput(field) {
      if (field == "apellidop") {
        this.apellidop = "";
      } else {
        this.name = "";
      }
    },
    retriveUser(user, pass) {
      var data = {
        usuario: user,
        contrasenia: pass,
      };
      //console.log(data);
      Userservices.login(data)
        .then((response) => {
          //asignamos la respuesta en la variable mensaje para conocer el "tipo"
          if (response.status == 200) {
            store.state.usuario = response.data;
            this.navigation.navigate("SlideBienvenida"); //mandamos llamar la pantalla de inicio
          }
        })
        .catch((error) => {
          // cachamos el error en caso de que exista
          console.log(error);
        });
    },
    signup() {
      this.objetousuario = this.navigation.state.params;

      if (Platform.OS === "android"){
        console.log("andorid")
      }else{
        var fecha = this.anio + "-" + this.mes + "-" + this.dia 
        console.log("IOS"+fecha)
        this.chosenDate = new Date(fecha);
      }
      //creamos un objeto para pasar los datos para la carga del ususario
      var data = {
        usuario: this.objetousuario.emailpassusuario.user, //Generar.Usuario(this.name,this.apellidop,this.apellidom).toLowerCase(), // Generamos un uduario de manera dinamica
        nombre: this.name,
        ApellidoPaterno: this.apellidop,
        ApellidoMaterno: this.apellidom,
        Correo: this.objetousuario.emailpassusuario.email,
        Contrasenia: this.objetousuario.emailpassusuario.pass,
        Sexo: this.selected,
        FechaNacimiento: this.chosenDate,
        CodigoPostal: this.codpo,
        Instagram: this.Instagram,
        AreaId: "2",
      };

      if (this.name != "" && this.apellidop != "") {
        //en caso de que la fecha de nacimiento sea un dato requerido descomentar el if siguiente
        // if(this.chosenDate != this.minimumDate){
        // evaluando el sexo
        if (this.selected != "") {
          //evaluamos la fecha de nacimiento
          // console.log("la fecha default es:" + this.defaultDate);
          if (this.chosenDate != this.defaultDate || this.chosenDate != null) {
            
            if (this.codpo != null || this.codpo == ''){
            
            Userservices.create(data).then((response) => {
              //asignamos la respuesta en la variable mensaje para conocer el "tipo"
              var msg = response.data;
              msg.forEach((element) => {
                // console.log(element.tipo);
                if (element.tipo == 3) {
                  // 3 login con exito  / 1 error en ususario y/o contraseña
                  //antes de mandarlo a la siguiente patalla seeteo todo en la sesi'on del celular
                  
                  this.retriveUser(data.usuario, data.Contrasenia);

                  //mandamos llamar la pantalla de login
                } else {
                  // mostramos el mensaje de error de login usuario y/o contraseña incorrectos
                  // Toast.show({
                  //   text:
                  //     "Error al dar de alta al ususario ,intente nuevamente  ",
                  //   duration: 5000,
                  //   position: "top",
                  //   textStyle: {
                  //     textAlign: "center",
                  //     backgroundColor: "transparent",
                  //   },
                  // });
                  alert("Error al dar de alta al ususario ,intente nuevamente");
                  // Toast.hide();
                }
              });
            });
            }else{
              alert("Error código postal no debe estar vacio");
            }
          } else {
            // Toast.show({
            //   text: "Ingrgese su fecha de nacimiento ",
            //   duration: 5000,
            //   position: "top",
            //   textStyle: {
            //     textAlign: "center",
            //     backgroundColor: "transparent",
            //   },
            // });
            alert("Ingrgese su fecha de nacimiento ");
            // Toast.hide();
          }
        } else {
          // Toast.show({
          //   text: "Seleccione una opcion en sexo ",
          //   duration: 5000,
          //   position: "top",
          //   textStyle: {
          //     textAlign: "center",
          //     backgroundColor: "transparent",
          //   },
          // });
          // Toast.hide();
          alert("Seleccione una opcion en sexo");
        }

        // }else{
        //   Toast.show({
        //   text: "Ingrese Fecha de nacimiento ",
        //   duration: 5000,
        //   position: "top",
        //   textStyle: { textAlign: "center", backgroundColor: "transparent" }
        //   })
        // };
      } else {
        // Toast.show({
        //   text: "Ingrese nombre y/o apellido e intente nuevamente !",
        //   duration: 5000,
        //   position: "top",
        //   textStyle: { textAlign: "center", backgroundColor: "transparent" },
        // });
        // Toast.hide();
        alert("Ingrese nombre y/o apellido e intente nuevamente !");
      }
    },
    signin() {
      this.navigation.navigate("Login");
    },
    showDatePicker() {
        this.setDatePickerVisibility = true;
    },
    hideDatePicker() {
        this.setDatePickerVisibility = false ;
    },
    confirmar(fecha){
        this.fechaNac = fecha.setDate(fecha.getDate());
        this.fechaNac = new Date(this.fechaNac);
        this.fechaNac = this.fechaNac.toLocaleDateString('en-GB'); 
        this.hideDatePicker();
    }
  },
};
</script>

<style>
.fila{
  border-color:transparent ;
}
.image-view {
  flex-direction: row;
  align-self: center;
}
.logo-style {
  align-self: center;
}
.image-container {
  flex: 1;
  background-color: white;
}
.formErrorIcon {
  color: #fff;
  margin-top: 5;
  right: 10;
}
.signup-header {
  align-self: center;
  font-size: 22;
  padding: 10;
  font-weight: bold;
  color: #fff;
}
.signup-container {
  padding-left: 20;
  padding-right: 20;
}
.input-grp {
  height: 50;
  /* z-index: 1; */
  flex-direction: row;
  margin-left: 0;
  border-radius: 25;
  background-color: rgba(13, 211, 211, 0.9);
  margin-bottom: 23;
  padding-left: 15;
  border-color: transparent;
}
.input-grp2 {
  height: 50;
  width: 33%;
  flex-direction: row;
  margin-left: -10;
  margin-right: 15;
  border-radius: 25;
  background-color: rgba(13, 211, 211, 0.9);
  margin-bottom: 23;
  padding-left: 15;
  border-color: transparent;
}
.input {
  padding-bottom: 5;
  padding-left: 10;
  color: #fff;
}
.input2 {
  font-size: 16;
  padding-bottom: 5;
  padding-left: 10;
  color: #fff;
}
.signup-btn {
  height: 50;
  margin-top: 10;
  border-width: 1;
  border-color: transparent;
  background-color: #0dd3d3;
}
.footer-view {
  padding-left: 20;
  padding-right: 20;
  background-color: transparent;
  border-color: transparent;
}
.help-btns {
  opacity: 0.9;
  font-size: 14;
  font-weight: bold;
  color: #006666; /*#fff;*/
  align-self: center;
}
.icon-person {
  color: #fff;
  font-size: 25;
}
.icon-email {
  color: #fff;
  font-size: 25;
}
.icon-unlock {
  color: #fff;
  font-size: 23;
}
.continue-text {
  color: #fff;
}
.continue-text_modal {
  color: #fff;
  margin-top: -20;
  margin-left: -50;
}
.other-link-container {
  flex-direction: row;
  align-self: center;
  height: 50;
  margin-top: 20;
  margin-bottom: 20;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  border-radius: 15;
  border-style: solid;
  border-width: 3.5;
  border-color: #006666;
}
.txt-modal-titulo {
  align-self: center;
  margin-left: 15%;
  margin-right: 10%;
  font-weight: 700;
  font-size: 18;
  margin-top: 10;
  color: #005a70;
}
.txt-modal-subtitulo {
  margin-left: 12%;
  margin-right: 10%;
  margin-top: 20;
  text-align: center;
  color: #7d7d7d;
}
.btnModal {
  background-color: #0dd3d3;
  margin-top: 10;
  height: 50;
  width: 80%;
}
</style>