<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="table-full-width" no-footer-line>
        <h4 slot="header" class="card-title">
          Listado de Lugares del cliente: {{ razonsocial }}
        </h4>
        <div>
          <div
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <el-select
              class="select-primary mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
            <fg-input>
              <el-input
                type="search"
                class="mb-3"
                clearable
                prefix-icon="el-icon-search"
                style="width: 200px"
                placeholder="Search records"
                v-model="searchQuery"
                aria-controls="datatables"
              ></el-input>
            </fg-input>
          </div>
          <n-button
            type="primary"
            @click.native="ModalPersonalizado(1)"
            class="float-right"
            >Nuevo Lugar</n-button
          >
          <!-- Classic Modal Insertar-->
          <modal
            :show.sync="modals.classic"
            headerClasses="justify-content-center"
          >
            <h4 slot="header" class="title title-up">
              {{ datosModal.titulo }}
            </h4>
            <form>
              <div>
                <p>Zona</p>
                <el-select
                  class="select-primary"
                  placeholder="Seleccione"
                  v-model="zonaId"
                  label="Seleccionar"
                >
                  <el-option
                    v-for="option in zona"
                    class="select-primary"
                    :value="option.id"
                    :label="option.descripcion"
                    :key="option.id"
                  >
                  </el-option>
                </el-select>                
                <fg-input
                  label="Nombre"
                  type="text"
                  placeholder=""
                  v-model="nombre"
                ></fg-input>
                <fg-input
                  label="Informacion"
                  type="text"
                  placeholder=""
                  v-model="informacion"
                ></fg-input>
                <fg-input
                  label="calle"
                  type="text"
                  placeholder=""
                  v-model="calle"
                ></fg-input>
                <fg-input
                  label="Número Ext."
                  type="text"
                  placeholder=""
                  v-model="numeroExt"
                ></fg-input>
                <fg-input
                  label="Número Int"
                  type="text"
                  placeholder=""
                  v-model="numeroInt"
                ></fg-input>
                <fg-input
                  label="Colonia"
                  type="text"
                  placeholder=""
                  v-model="colonia"
                ></fg-input>
                <fg-input
                  label="Delegación"
                  type="text"
                  placeholder=""
                  v-model="delegacion"
                ></fg-input>
                <fg-input
                  label="Estado"
                  type="text"
                  placeholder=""
                  v-model="estadoLugar"
                ></fg-input>
                <fg-input
                  label="Latitude"
                  type="text"
                  placeholder=""
                  v-model="latitude"
                ></fg-input>
                <fg-input
                  label="Longitud"
                  type="text"
                  placeholder=""
                  v-model="location"
                ></fg-input>
                <fg-input
                  label="Teléfono"
                  type="text"
                  placeholder=""
                  v-model="telefono"
                ></fg-input>
                <fg-input
                  label="URL del Menú en QR"
                  type="text"
                  placeholder=""
                  v-model="urlQr"
                ></fg-input>
                <fg-input
                  label="Web"
                  type="text"
                  placeholder=""
                  v-model="web"
                ></fg-input>
                <fg-input
                  label="Whatsapp"
                  type="text"
                  placeholder=""
                  v-model="whatsapp"
                ></fg-input>
                <fg-input
                  label="Rango Precios"
                  type="text"
                  placeholder=""
                  v-model="rangoPrecio"
                ></fg-input>
                <fg-input>
                  <p>Imagen promoción</p>
                  <n-button
                  type="danger"
                  @click.native="LimpiarImagen()"
                  class="float-right"
                  >Limpiar Imagen</n-button
                >
                  <el-upload
                    class="avatar-uploader"
                    action="#"
                    :show-file-list="false"
                    :on-success="handleAvatarSuccess"
                    :before-upload="beforeAvatarUpload"
                    :on-change="ChangeImage"
                    :file-list="fileList"
                    :http-request="uploadImage"
                  >
                    <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                  </el-upload>                  
                </fg-input>
                
                <fg-input
                  label="Tipo Promoción"
                  type="text"
                  placeholder="Tipo Promoción"
                  v-model="tipoPromo"
                ></fg-input>
                <fg-input
                  label="Cuando Promoción"
                  type="text"
                  placeholder="Cuando Promoción"
                  v-model="cuandoPromo"
                ></fg-input>
                <fg-input
                  label="Como Promoción"
                  type="text"
                  placeholder="Como Promoción"
                  v-model="comoPromo"
                ></fg-input>
                <n-button
                  type="danger"
                  @click.native="modals.classic = false"
                  @click.native.prevent="Clear()"
                  >Cancelar</n-button
                >
                <n-button
                  native-type="submit"
                  type="primary"
                  @click.native.prevent="postNow(datosModal.evento)"
                  >{{ datosModal.boton }}</n-button
                >
              </div>
            </form>
          </modal>
          <el-table stripe style="width: 100%" :data="queriedData">
            <el-table-column
              v-for="column in tableColumns"
              :key="column.label"
              :min-width="column.minWidth"
              :prop="column.prop"
              :label="column.label"
            ></el-table-column>
            <el-table-column :min-width="135" fixed="right" label="Acciones">
              <div slot-scope="props" class="table-actions">
                <n-button
                  @click.native="ModalPersonalizado(2, props.row)"
                  class="edit"
                  type="warning"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-pencil"></i>
                </n-button>
                <n-button
                  @click.native="ModalPersonalizado(3, props.row)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-times"></i>
                </n-button>
                <n-button
                  @click.native="SendImagen(props.row.id)"
                  class="remove"
                  type="primary"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-image"></i>
                </n-button>
                <n-button
                  @click.native="
                    LugaresCategoria(props.row.id, props.row.nombre)
                  "
                  class="remove"
                  type="info"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-cubes"></i>
                </n-button>
              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class>
            <p class="card-category">
              Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
            </p>
          </div>
          <n-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></n-pagination>
        </div>
      </card>
    </div>
  </div>
</template>

<script>
import Lugaresservice from "../../Services/lugares";
import Clientesservice from "../../Services/clientes";
import { Table, TableColumn, Select, Option } from "element-ui";
import { Pagination as NPagination } from "src/components";
import Fuse from "fuse.js";
import swal from "sweetalert2";
import { Modal } from "src/components";
import servZona from "../../Services/Zona";

export default {
  components: {
    NPagination,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Modal,
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    },
  },
  data() {
    return {
      zonaId: 0,
      zona: [],
      data: [],
      datosModal: {
        titulo: "Crear Clientes",
        boton: "Confirmar",
        evento: 0,
      },
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0,
      },
      modals: {
        classic: false,
      },
      fileList: [],
      isCorrect: false,
      evento: "",
      id: 0,
      clientes: [],
      clienteId: 0,
      //categoria: [],
      razonsocial: "",
      calle: "",
      //categoriaId: 0,
      comoPromo: "",
      cuandoPromo: "",
      tipoPromo: "",
      imagen: "",
      imageUrl: "",
      colonia: "",
      delegacion: "",
      estadoLugar: "",
      informacion: "",
      latitude: "",
      location: "",
      nombre: "",
      numeroExt: "",
      numeroInt: "",
      telefono: "",
      urlQr: "",
      web: "",
      whatsapp: "",
      searchQuery: "",
      rangoPrecio: "",
      propsToSearch: ["id", "nombre", "informacion"],
      tableColumns: [
        {
          prop: "id",
          label: "Id",
          minWidth: 75,
        },
        {
          prop: "nombre",
          label: "Nombre",
          minWidth: 160,
        },
        {
          prop: "informacion",
          label: "Informacion",
          minWidth: 200,
        },
      ],
      tableData: [],
      searchedData: [],
      fuseSearch: null,
    };
  },
  methods: {
    ChangeImage(file) {
      const isLt2M = file.size / 1024 / 1024 < 10;
      if (isLt2M) {
        this.imageUrl = URL.createObjectURL(file.raw);
        var reader = new FileReader();
        reader.readAsDataURL(file.raw);
        reader.onload = () => {
          this.imagen = "";
          this.imagen = reader.result;
        };
      }
    },
    uploadImage(file, imageUrl) {},
    handleAvatarSuccess(res, file) {
      //this.imageUrl = URL.createObjectURL(file.raw);
      console.log("handleavatarsuccess");
      console.log(file);
    },
    beforeAvatarUpload(file) {
      const isJPG = file.type === "image/png";
      const isLt2M = file.size / 1024 / 1024 < 10;
      console.log(file.size);
      if (!isJPG) {
        //this.$message.error("La imagen debe estar en formato JPG!");
        this.sendNoty("danger", "La imagen debe estar en formato JPG!");
      }
      if (!isLt2M) {
        //this.$message.error("La imagen excede los 2MB!");
        this.sendNoty("danger", "La imagen excede los 10MB!");
      }
      return isJPG && isLt2M;
    },
    ModalPersonalizado(exp, row) {
      this.Clear();
      switch (exp) {
        case 1: //Insertar
          this.modals.classic = true;
          this.datosModal.titulo = "Crear Lugar";
          this.datosModal.boton = "Confirmar";
          this.datosModal.evento = 1;
          break;
        case 2: //Actualizar
          this.imageUrl = row.promocionImagen;
          this.tipoPromo = row.tipoPromo;
          this.comoPromo = row.comoPromo;
          this.cuandoPromo = row.cuandoPromo;
          this.calle = row.calle;
          this.categoriaId = row.categoriaId;
          this.colonia = row.colonia;
          this.clienteId = row.clienteId;
          this.delegacion = row.delegacion;
          this.estadoLugar = row.estadoLugar;
          this.id = row.id;
          this.informacion = row.informacion;
          this.latitude = row.latitude;
          this.location = row.location;
          this.nombre = row.nombre;
          this.numeroExt = row.numeroExt;
          this.numeroInt = row.numeroInt;
          this.telefono = row.telefono;
          this.urlQr = row.urlQr;
          this.web = row.web;
          this.whatsapp = row.whatsapp;
          this.modals.classic = true;
          this.datosModal.titulo = "Actualizar Lugar";
          this.datosModal.evento = 2;
          this.rangoPrecio = row.rangoPrecio;
          this.zonaId = row.zonaId;
          break;

        case 3: //Eliminar
          this.id = row.id;

          swal
            .fire({
              title: "Estas seguro de eliminar el siguiente registro?",
              text: row.clienteId,
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn btn-success btn-fill",
              cancelButtonClass: "btn btn-danger btn-fill",
              confirmButtonText: "Si, eliminarlo!",
              buttonsStyling: false,
            })
            .then((result) => {
              if (result.value) {
                //aqui tengo que llamar el registro
                this.deleteRow(row.id);
              }
            });
          break;
      }
    },
    postNow(exp) {
      var data = {
        clienteId: this.$route.params.id,
        calle: this.calle,
        colonia: this.colonia,
        delegacion: this.delegacion,
        estadoLugar: this.estadoLugar,
        id: this.id,
        informacion: this.informacion,
        latitude: this.latitude,
        location: this.location,
        nombre: this.nombre,
        numeroExt: this.numeroExt,
        numeroInt: this.numeroInt,
        telefono: this.telefono,
        urlQr: this.urlQr,
        web: this.web,
        whatsapp: this.whatsapp,
        zonaId: this.zonaId,
        rangoPrecio: this.rangoPrecio,
        promocionImagen: this.imagen,
        tipoPromo: this.tipoPromo,
        cuandoPromo: this.cuandoPromo,
        comoPromo: this.comoPromo,
      };
      //
      // si se van agregar validaciones podria ser aqui
      this.isCorrect = false;

      if (this.zonaId == 0 || this.zonaId == undefined) {
        this.sendNoty("danger", "Favor, de seleccionar la zona");
        this.isCorrect = true;
      }
      //
      //console.log(data);
      if (this.isCorrect == false) {
        switch (exp) {
          case 1:
            Lugaresservice.create(data)
              .then((response) => {
                //hay que cerrar el model
                this.modals.classic = false;
                this.Notificaciones(response);
                //Aqui recuperamos los datos
              })
              .catch(function (error) {
                console.log(error);
              });

            //console.log(data);

            break;

          case 2:
            data.id = this.id;
            if (this.id > 0) {
              Lugaresservice.update(this.id, data)
                .then((response) => {
                  //hay que cerrar el model
                  this.modals.classic = false;
                  this.Notificaciones(response);
                  //Aqui recuperamos los datos
                })
                .catch(function (error) {
                  console.log(error);
                });
            }

            break;
        }
        this.Clear();
      }
    },
    Notificaciones(response) {
      // console.log(response);
      var msg = response.data;
      msg.forEach((item) => {
        //console.log("id: "+ item.tipo+ " Msg: "+item.mensaje)
        switch (item.tipo) {
          case 1: //Error
            this.sendNoty("danger", item.mensaje);
            break;
          case 2: //ErrorAtributos
            //this.sendNoty('success',e.mensaje);
            break;
          case 3: //Exitoso
            this.sendNoty("success", item.mensaje);
            this.retriveClienteLugar(this.ClienteId);
            this.Clear();
            break;
          case 4: //Informativo
            this.sendNoty("info", item.mensaje);
            break;
        }
      });
    },
    deleteRow(row) {
      if (this.id > 0) {
        Lugaresservice.delete(this.id)
          .then((response) => {
            //hay que cerrar el model
            this.Notificaciones(response);
            swal({
              title: "Eliminado!",
              text: `Se ha eliminado el registro ${row.nombre}`,
              type: "success",
              confirmButtonClass: "btn btn-success btn-fill",
              buttonsStyling: false,
            });
            //Aqui recuperamos los datos
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    },

    retriveClienteLugar(ClienteId) {
      Lugaresservice.getSpecific(ClienteId)
        .then((response) => {
          //console.log(response.data);
          this.tableData = response.data;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retriveClient(ClienteId) {
      Clientesservice.getSpecific(ClienteId)
        .then((response) => {
          //console.log(response.data);
          this.razonsocial = response.data.razonSocial;
        })
        .catch((e) => {
          console.log(e);
        });
    },
    retriveZona() {
      servZona
        .getAll()
        .then((response) => {
          this.zona = response.data;
          //console.log(this.zona);
          // this.categoria.forEach((v) => { //esta funcionalidad carga el arbol
          //   if (v.idPadre == null) {
          //     let padre = {
          //       id: v.id,
          //       label: v.descripcion,
          //       children: [],
          //     };
          //     v.inverseIdPadreNavigation.forEach((c) => {
          //       let children = {
          //         id: c.id,
          //         label: c.descripcion,
          //       };
          //       padre.children.push(children);
          //     });
          //     this.data.push(padre);
          //   }
          // });
        })
        .catch((e) => {
          console.log(e);
        });
    },
    sendNoty(type, menssage) {
      this.$notify({
        message: menssage,
        timeout: 30000,
        icon: "now-ui-icons ui-1_bell-53",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type,
      });
    },
    Clear() {
      this.imageUrl = "";
      this.tipoPromo = "";
      this.comoPromo = "";
      this.cuandoPromo = "";
      this.calle = "";
      this.categoriaId = 0;
      this.colonia = "";
      this.clienteId = 0;
      this.delegacion = "";
      this.estadoLugar = "";
      this.id = 0;
      this.informacion = "";
      this.latitude = "";
      this.location = "";
      this.nombre = "";
      this.numeroExt = "";
      this.numeroInt = "";
      this.telefono = "";
      this.urlQr = "";
      this.web = "";
      this.whatsapp = "";
      this.rangoPrecio = "";
    },
    SendImagen(id) {
      this.$router.push({ name: "Imagenes", params: { id: id } });
    },
    LugaresCategoria(id, nombre) {
      this.$router.push({
        name: "LugaresCategoria",
        params: { id: id },
      });
    },
    LimpiarImagen() {
      console.log('entro al boton')
      this.imagen = null;
      this.imageUrl = null;
    },
  },

  mounted() {
    this.ClienteId = this.$route.params.id;
    this.retriveClienteLugar(this.ClienteId);
    this.retriveClient(this.ClienteId);
    this.retriveZona();
    //Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: ["id", "cliente", "informacion"],
      threshold: 0.3,
    });
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    },
  },
};
</script>

<style></style>
