<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="table-full-width" no-footer-line>
        <h4 slot="header" class="card-title">Listado de contactos del cliente: {{razonsocial}}</h4>
        <div>
          <div
            class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
          >
            <el-select
              class="select-primary mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
            <fg-input>
              <el-input
                type="search"
                class="mb-3"
                clearable
                prefix-icon="el-icon-search"
                style="width: 200px"
                placeholder="Search records"
                v-model="searchQuery"
                aria-controls="datatables"
              ></el-input>
            </fg-input>
          </div>
          <n-button
            type="primary"
            @click.native="ModalPersonalizado(1)"
            class="float-right"
            >Nuevo contacto</n-button
          >
          <!-- Classic Modal Insertar-->
          <modal
            :show.sync="modals.classic"
            headerClasses="justify-content-center"
          >
            <h4 slot="header" class="title title-up">
              {{ datosModal.titulo }}
            </h4>
            <form>
              <div>
                <fg-input
                  label="Nombre (s)"
                  type="text"
                  placeholder="Nombre (s)"
                  v-model="nombre"
                ></fg-input>
                <fg-input
                  label="Apellido Paterno"
                  type="text"
                  placeholder="Apellido Paterno"
                  v-model="apellidoPaterno"
                ></fg-input>
                <fg-input
                  label="Apellido Materno"
                  type="text"
                  placeholder="Apellido Materno"
                  v-model="apellidoMaterno"
                ></fg-input>
                <fg-input
                  label="Teléfono"
                  type="tel"
                  placeholder="Teléfono"
                  v-model="telefono"
                ></fg-input>
                <fg-input
                  label="Email"
                  type="email"
                  placeholder="Email"
                  v-model="email"
                ></fg-input>
                <n-button
                  type="danger"
                  @click.native="modals.classic = false"
                  @click.native.prevent="Clear()"
                  >Cancelar</n-button
                >
                <n-button
                  native-type="submit"
                  type="primary"
                  @click.native.prevent="postNow(datosModal.evento)"
                  >{{ datosModal.boton }}</n-button
                >
              </div>
            </form>
          </modal>
          <el-table stripe style="width: 100%;" :data="queriedData">
            <el-table-column
              v-for="column in tableColumns"
              :key="column.label"
              :min-width="column.minWidth"
              :prop="column.prop"
              :label="column.label"
            ></el-table-column>
            <el-table-column :min-width="135" fixed="right" label="Acciones">
              <div slot-scope="props" class="table-actions">
                <n-button
                  @click.native="ModalPersonalizado(2, props.row)"
                  class="edit"
                  type="warning"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-pencil"></i>
                </n-button>
                <n-button
                  @click.native="ModalPersonalizado(3, props.row)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-times"></i>
                </n-button>
              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class>
            <p class="card-category">
              Showing {{ from + 1 }} to {{ to }} of {{ total }} entries
            </p>
          </div>
          <n-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></n-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>
import contactoservice from "../../Services/contactoclientes";
import { Table, TableColumn, Select, Option } from "element-ui";
import { Pagination as NPagination } from "src/components";
import Fuse from "fuse.js";
import swal from "sweetalert2";
import { Modal } from "src/components";
import clienteservice from "../../Services/clientes";

export default {
  components: {
    NPagination,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Modal
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  data() {
    return {
      ClienteId: 0,
      datosModal: {
        titulo: "Crear contacto",
        boton: "Confirmar",
        evento: 0
      },
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      modals: {
        classic: false
      },
      evento: "",
      id: 0,
      ClienteId: 0,
      nombre: null,
      apellidoPaterno: null,
      apellidoMaterno: null,
      telefono: null,
      email: null,
      razonsocial: null,
      searchQuery: "",
      propsToSearch: ["id", "nombre","apellidoPaterno","apellidoMaterno","telefono","email"],
      tableColumns: [
        {
          prop: "id",
          label: "id",
          minWidth: 50
        },
        {
          prop: "nombre",
          label: "Nombre (s)",
          minWidth: 250
        },
        {
          prop: "apellidoPaterno",
          label: "Apellido Paterno",
          minWidth: 250
        },
        {
          prop: "apellidoMaterno",
          label: "Apellido Materno",
          minWidth: 250
        },
        {
          prop: "telefono",
          label: "Teléfono",
          minWidth: 250
        },
        {
          prop: "email",
          label: "Email",
          minWidth: 250
        }
      ],
      tableData: [],
      searchedData: [],
      fuseSearch: null
    };
  },
  methods: {
    ModalPersonalizado(exp, row) {
      switch (exp) {
        case 1: //Insertar
          this.modals.classic = true;
          this.datosModal.titulo = "Crear contacto";
          this.datosModal.boton = "Confirmar";
          this.datosModal.evento = 1;
          break;
        case 2: //Actualizar
          this.id = row.id;
          this.nombre = row.nombre;
          this.apellidoPaterno = row.apellidoPaterno;
          this.apellidoMaterno = row.apellidoMaterno;
          this.telefono = row.telefono;
          this.email = row.email;
          this.modals.classic = true;
          this.datosModal.titulo = "Actualizar contacto";
          this.datosModal.evento = 2;
          break;

        case 3: //Eliminar
          this.id = row.id;
          this.nombre = row.nombre;
          //console.log("Entro");
          swal
            .fire({
              title: "Estas seguro de eliminar el siguiente registro?",
              text: row.nombre,
              //type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn btn-success btn-fill",
              cancelButtonClass: "btn btn-danger btn-fill",
              confirmButtonText: "Si, eliminarlo!",
              buttonsStyling: false
            })
            .then(result => {
              if (result.value) {
                //aqui tengo que llamar el registro
                this.deleteRow(row.id);
              }
            });
          break;
      }
    },
    postNow(exp) {
      var data = {
        id: this.id,
        nombre: this.nombre,
        apellidoPaterno: this.apellidoPaterno,
        apellidoMaterno: this.apellidoMaterno,
        telefono: this.telefono,
        email: this.email,
        clienteId: parseInt(this.ClienteId)
      };
      switch (exp) {
        case 1:
          contactoservice
            .create(data)
            .then(response => {
              //hay que cerrar el model
              this.modals.classic = false;
              this.Notificaciones(response);              
              //Aqui recuperamos los datos
            })
            .catch(function(error) {
              console.log(error);
            });
          break;

        case 2:
          if (this.id > 0) {
            contactoservice
              .update(this.id, data)
              .then(response => {
                //hay que cerrar el model
                this.modals.classic = false;
                this.Notificaciones(response);
                //Aqui recuperamos los datos
              })
              .catch(function(error) {
                console.log(error);
              });
          }

          break;
      }
      this.Clear();
    },
    Notificaciones(response) {
      // console.log(response);
      var msg = response.data;
      msg.forEach(item => {
        //console.log("id: "+ item.tipo+ " Msg: "+item.mensaje)
        switch (item.tipo) {
          case 1: //Error
            this.sendNoty("danger", item.mensaje);
            break;
          case 2: //ErrorAtributos
            //this.sendNoty('success',e.mensaje);
            break;
          case 3: //Exitoso
            this.sendNoty("success", item.mensaje);
            this.retrive(this.ClienteId);
            this.Clear();
            break;
          case 4: //Informativo
            this.sendNoty("info", item.mensaje);
            break;
        }
      });
    },
    deleteRow(row) {
      if (this.id > 0) {
        contactoservice
          .delete(row.id)
          .then(response => {
            //hay que cerrar el model
            this.Notificaciones(response);
            swal({
              title: "Eliminado!",
              text: `Se ha eliminado el registro ${row.nombre}`,
              type: "success",
              confirmButtonClass: "btn btn-success btn-fill",
              buttonsStyling: false
            });
            //Aqui recuperamos los datos
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    retrive(ClienteId) {
      contactoservice
        .getAll(ClienteId)
        .then(response => {
          this.tableData = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });        
    },
    retriveClient(ClienteId) {
      clienteservice
        .getSpecific(ClienteId)
        .then(response => {
          //console.log(response.data);
          this.razonsocial =response.data.razonSocial
        })
        .catch(e => {
          console.log(e);
        });        
    },
    sendNoty(type, menssage) {
      this.$notify({
        message: menssage,
        timeout: 30000,
        icon: "now-ui-icons ui-1_bell-53",
        horizontalAlign: "right",
        verticalAlign: "top",
        type: type
      });
    },
    Clear() {
      this.nombre = null;
      this.id = 0;
      this.apellidoPaterno = null;
      this.apellidoMaterno = null;
      this.telefono = null;
      this.email = null;
    }
  },

  mounted() {
    this.ClienteId = this.$route.params.id;
    this.retrive(this.ClienteId);
    this.retriveClient(this.ClienteId);
    
    //Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: ["id", "nombre", "apellido"],
      threshold: 0.3
    });
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    }
  }
};
</script>
<style></style>
