<template>
  <nb-container>
    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-content :shows-vertical-scroll-indicator="false">
        <view class="image-view" :style="stylesObj.logoWrapper">
          <image
            resize-mode="contain"
            :source="headerLogo"
            :style="stylesObj.image"
          />
        </view>
        <view :style="{ flex: 1 }">
          <view>
            <view class="wrapper" :style="stylesObj.wrapper">
              <carousel
                :data="carouselData"
                :sliderWidth="deviceWidth"
                :sliderHeight="200"
                :itemWidth="deviceWidth"
                :itemHeight="230"
                :enableMomentum="false"
                :lockScrollWhileSnapping="true"
                :animate="false"
                :onSnapToItem="onSnapToItem"
                :inactiveSlideScale="1"
                :autoplay="true"
                :autoplayInterval="1800"
              >
                <slide render-prop-fn="renderItem" :content="args.item" />
              </carousel>
              <view class="carousel-pagination-container">
                <!-- <pagination
                  :dotsLength="carouselData.length"
                  :activeDotIndex="activeSlideIndex"
                  :containerStyle="{
                    backgroundColor: 'rgba(0, 0, 0, 0)',
                    paddingVertical: 0
                  }"
                  :dotStyle="{
                    width: 10,
                    height: 10,
                    borderRadius: 5,
                    marginHorizontal: 0,
                    backgroundColor: 'rgba(255, 255, 255, 0.92)'
                  }"
                  :inactiveDotStyle="{
                    backgroundColor: 'rgba(160, 160, 160, 0.9)'
                  }"
                  :inactiveDotScale="1"
                /> -->
              </view>
            </view>
          </view>
        </view>
        <view class="signup-container" :style="stylesObj.signupContainer">
          <nb-button rounded block class="signup-btn" :on-press="Continuar">
            <nb-text class="continue-text">
              Continúa
            </nb-text>
          </nb-button>
        </view>
      </nb-content>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
// Slider is deprecated
// but was not replaced by @react-native-community/slider
// since that package is not yet supported by the managed Expo workflow
import Carousel, { Pagination } from "react-native-snap-carousel";
import Slide from "./Slide";
import launchScreenBg from "../../../assets/fondoBlanco.png";
import headerLogo from "../../../assets/logo.png";
import config from "../../services/configuracion";
import * as Device from "expo-device";

export default {
  components: {
    Carousel,
    Pagination,
    Slide
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      launchScreenBg,
      headerLogo,
      deviceWidth: Dimensions.get("window").width,
      indcatorSize: Platform.OS === "android" ? 15 : 10,
      offset: 10,
      carouselData: [],
      activeSlideIndex: 0,
      stylesObj: {
        logoWrapper: {
          height: Dimensions.get("window").height / 2.5
        },
        bodyStyle: {
          marginTop:
            Platform.OS === "ios" &&
            (Dimensions.get("window").height === 812 ||
              Dimensions.get("window").width === 812)
              ? 20
              : 0
        },
        wrapper: {
          // marginTop: Dimensions.get("window").height / 50,
          height: Dimensions.get("window").height / 4.5
        },
        image: {
          height: Dimensions.get("window").height / 3,
          width: Dimensions.get("window").width / 1.5,
          alignSelf: "center"
        }
      }
    };
  },
  methods: {
    updateSlider(value) {
      this.value = value;
    },
    onSnapToItem(index) {
      this.activeSlideIndex = index;
    },
    Continuar() {
      //console.log(Device);
      this.navigation.navigate("Login");
    },
    retrive() {
      config
        .listado("slideprincipal")
        .then(response => {
          //console.log(response);
          response.data.forEach(e => {
            const img = {
              image: { uri: e.imagen }
            };
            this.carouselData.push(img);
            //console.log(this.carouselData);
            // this.timer = setInterval(() => {
            //   clearInterval(this.timer);
            //   this.navigation.navigate("Login");
            // }, 2400);
          });
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
        });
    }
  },
  created() {
    this.retrive();
  }
};
</script>

<style>
.image-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
.wrapper {
  flex: 1;
}
.header-style {
  background-color: #006666;
  padding-left: 0;
  padding-right: 0;
}
.body-style {
  flex-direction: row;
  justify-content: space-around;
}
.header-icons {
  color: #fff;
  font-size: 30;
  background-color: transparent;
}
.header-text-icon {
  color: #fff;
  font-size: 28;
  padding-top: 10;
  margin-top: 0;
}
.news-content {
  flex-direction: column;
  padding-top: 10;
  padding-left: 10;
  padding-right: 10;
  flex: 1;
  border-top-width: 1;
  border-top-color: #ddd;
}
.news-link {
  font-size: 12;
  align-self: flex-start;
  font-weight: bold;
}
.time-icon {
  font-size: 20;
  padding-right: 5;
  color: #666;
}
.news-type-view {
  border-bottom-width: 1;
  align-self: flex-end;
}
.news-type-text {
  font-size: 12;
  font-weight: bold;
  padding-bottom: 2;
}
.news-header {
  color: #222;
  font-weight: 500;
  font-size: 14;
}
.news-comment-container {
  padding-left: 20;
  padding-right: 20;
  margin-bottom: 15;
  border-left-width: 2;
  border-left-color: #006666;
}
.news-comment {
  color: #006666;
  font-weight: 500;
  font-size: 14;
}
.forward-btn {
  color: #006666;
  font-size: 26;
}
.day-button {
  justify-content: center;
  background-color: #fff;
  border-radius: 30;
  width: 60;
  height: 60;
  align-self: center;
}
.night-button {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30;
  width: 60;
  height: 60;
  align-self: center;
}
.grid-container {
  flex: 10;
  padding: 400;
  border-bottom-width: 2;
  border-bottom-color: rgba(255, 255, 255, 0.5);
}
.icon-moon {
  color: #fff;
}
.carousel-pagination-container {
  position: absolute;
  width: 100%;
  bottom: -100;
}
.continue-text {
  color: #fff;
}
.signup-btn {
  background-color: #0dd3d3;
  margin-top: 150;
  height: 50;
}
.signup-container {
  padding-left: 20;
  padding-right: 20;
}
.image-view {
  flex-direction: row;
  align-self: center;
}
</style>
