<template>
  <view class="slide" :style="stylesObj.slide">
    <image
      :source="content.image"
      class="news-poster"
      :style="stylesObj.newsPoster"
    />
  </view>
</template>

<script>
import { Dimensions } from "react-native";

export default {
  props: ["content"],
  data() {
    return {
      deviceHeight: Dimensions.get("window").height,
      stylesObj: {
        slide: {
          width: Dimensions.get("window").width
        },
        newsPoster: {
          flex: 1,
          height: Dimensions.get("window").height / 2.4
        }
      }
    };
  }
};
</script>

<style>
.slide {
  flex: 1;
  height: 230;
  background-color: transparent;
}
.news-poster {
  flex: 1;
  height: deviceHeight / 2.4;
}
</style> 
