<template>
  <nb-container>
    <image-background :source="Imagemenu" class="image-container">
      <view :style="{ flex: 1 }">
        <nb-grid
          ><nb-row class="Row-titulo" :style="stylesObj.Rowtitulo">
            <nb-text class="Titulo" :style="stylesObj.tituloMenu">
              ¿Qué experiencia {{ "\n" }} quieres vivir hoy?
            </nb-text>
          </nb-row>
          <nb-row :style="stylesObj.Row2">
            <nb-button
              transparent
              center
              :on-press="() => gotocategoria(1)"
              :style="stylesObj.BtnPrincipal"
            >
              <image
                resize-mode="contain"
                :source="ImgRestaurante"
                :style="stylesObj.ImagePrincipal"
              />
            </nb-button>
          </nb-row>
          <nb-row :style="stylesObj.Row">
            <nb-col
              ><nb-button
                transparent
                center
                :on-press="() => gotocategoria(2)"
                :style="stylesObj.BtnSencundaryLeft"
              >
                <image
                  class = "centrarImagenesIzq"
                  resize-mode="contain"
                  :source="ImgHotel"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button
            ></nb-col>
            <nb-col
              ><nb-button
                transparent
                center
                :on-press="() => gotocategoria(3)"
                :style="stylesObj.BtnSencundaryRigth"
              >
                <image
                  class = "centrarImagenesDer"
                  resize-mode="contain"
                  :source="ImgDiversion"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button
            ></nb-col>
          </nb-row>
          <nb-row :style="stylesObj.Row"
            ><nb-col
              ><nb-button
                transparent
                center
                :on-press="() => gotocategoria(4)"
                :style="stylesObj.BtnSencundaryLeft"
              >
                <image
                  class = "centrarImagenesIzq"
                  resize-mode="contain"
                  :source="ImgSitiosTuristicos"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button
            ></nb-col>
            <nb-col
              ><nb-button
                transparent
                center
                :on-press="gotoAlrededor"
                :style="stylesObj.BtnSencundaryRigth"
              >
                <image
                  class = "centrarImagenesDer"
                  resize-mode="contain"
                  :source="ImgMiratuAlrededor"
                  :style="stylesObj.ImageSecundary"
                /> </nb-button></nb-col
          ></nb-row>
          <nb-row :style="stylesObj.RowQR">
            <nb-button transparent center :on-press="gotoQR" :style="stylesObj.BtnQR">
              <image
                resize-mode="contain"
                :source="ImgQR"
                :style="stylesObj.ImageQR"
              />
            </nb-button>
          </nb-row>
        </nb-grid> </view>
        </image-background>
        <menuSecundario :navigation="navigation" />
  </nb-container> 
</template>

<script>
import Imagemenu from "../../../assets/MenuPrincipal/fondo2.png";
import ImgHotel from "../../../assets/MenuPrincipal/btn-hoteles.png";
import ImgDiversion from "../../../assets/MenuPrincipal/Diversion.png";//btn-diversion.png";
import ImgMiratuAlrededor from "../../../assets/MenuPrincipal/btn-mira.png";
import ImgRestaurante from "../../../assets/MenuPrincipal/btn-restaurante.png";//btn-restaurante.png";
import ImgSitiosTuristicos from "../../../assets/MenuPrincipal/btn-sitios.png";
import ImgQR from "../../../assets/MenuPrincipal/qr_rojo.png";
import menuSecundario from "../../components/common/menusecundario";
import store from "../../store";
import { iPhoneHasNotch } from "../../utils/device";
import { Dimensions,Platform } from "react-native";

export default {
  props: {
    navigation: {
      type: Object
    }
  },
  components:{
    menuSecundario
  },
  data() {
    return {
      upd:0,
      Imagemenu,
      ImgHotel,
      ImgDiversion,
      ImgMiratuAlrededor,
      ImgRestaurante,
      ImgSitiosTuristicos,
      ImgQR,
      stylesObj: {
        Rowtitulo: {
          marginTop: iPhoneHasNotch() ? 80 : 0, //Iphne 11 H:896 W: 414
          alignSelf: 'center'
        },
        Row2: {
          marginTop: 0,
          paddingLeft: Dimensions.get("window").width > 375 ? 25 : 16
        },
        BtnPrincipal: {
          //width: Platform.OS == "android" ? Dimensions.get("window").width: Dimensions.get("window").width /- 88,
          height: Platform.OS == "android" ? Dimensions.get("window").height / 9.5 : Dimensions.get("window").height / 9.5,
        },
        ImagePrincipal: {
          width: this.ContainerWidthStyle(),  //Dimensions.get("window").width,// /1.07,
          height: this.ContainerHightStyle(),
          marginLeft: this.MarginIzq()//'5%',
        },
        Row: {
          marginTop: 30,
          paddingLeft: Dimensions.get("window").width >= 428 ? 15 : 9
        },
        BtnSencundaryLeft: {
          height: 90,
        },
        BtnSencundaryRigth: {
          height: 90,
          paddingLeft: -10,
          marginLeft: this.alinearderecha(),
        },
        ImageSecundary: {
          width: this.ContainerWidthStyleSec(),//200,
          height: this.ContainerHightStyleSec(), //200
          marginLeft:this.alinearimagensecundaria(),//15,
          marginRight:10
        },
        BtnQR: {
          width: Dimensions.get("window").width / 5,
          marginTop: 30
        },
        ImageQR: {
          width: Dimensions.get("window").width / 5
        },
        RowQR: {
          marginLeft: Dimensions.get("window").width / 2.5
        },
        tituloMenu:{
          fontSize:Platform.OS == "android" ? 20: 25,
        }
      }
    };
  },
  methods: {
    gotocategoria(opc) {
      var data = {};
      switch (opc) {
        case 1:
          data = {
            Key: 1,
            Titulo: "Restaurante",
            SubTitulo: "¡Prueba algo rico!"
          };
          break;
        case 2:
          data = {
            Key: 2,
            Titulo: "Hoteles",
            SubTitulo: "¡Un lugar para descansar!"
          };
          break;
        case 3:
          data = {
            Key: 3,
            Titulo: "Diversión",
            SubTitulo: "¡Haz algo emocionante!"
          };
          break;
        case 4:
          data = {
            Key: 4,
            Titulo: "Sitios Turísticos",
            SubTitulo: "¡Explora Arte e Historia!"
          };
          break;
      }
      var menu = {
     origen: "",
      bonton: false,
   }
   store.state.menu = menu;
      this.navigation.navigate("Categorias", { content: data });
    },
    gotoQR() {
      // this.navigation.navigate("QR");
      this.navigation.navigate("checkIn");
    },
    gotoAlrededor() {
      this.navigation.navigate("AtuAlrededor");
    },
    MarginIzq(){
        if (Dimensions.get("window").width < 405) {
        if (Platform.OS === "android") {
          return "6.9%";
        } else {
          return "6.9%";
        }
      } else {
        if (Platform.OS === "android") {
          return "3.8%";
        } else {
          return "2%";
        }
      }     
    },
    alinearderecha(){
      if (Dimensions.get("window").width <= 330) {
        if (Platform.OS === "android") {
          return -25;//pendiente definir 
        } else {
         
          return -25;//pendiente definir 
        }
      } else {
        if (Platform.OS === "android") {
          return -25;
        } else {
          
          return -25;//pendiente definir 
        }
      }      
    },
    ContainerHightStyle() {
      if (Dimensions.get("window").height < 812) {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 4;
        } else {
          return Dimensions.get("window").height / 4;
        }
      } else {
        if (Platform.OS === "android") {
          return Dimensions.get("window").height / 4.5;
        } else {
          return Dimensions.get("window").height / 4.5;
        }
      }
    },
    ContainerWidthStyle() {
      //console.log(Dimensions.get("window").width);
      if (Dimensions.get("window").width < 405){//> 375) {
        if (Platform.OS == 'android') {
          return Dimensions.get("window").width / 1.27 ;
        } else {
          return Dimensions.get("window").width / 1.27;
        }
      } else {
        if (Platform.OS === "android") {       
          return Dimensions.get("window").width / 1.39 + 40;          
        } else {
          return Dimensions.get("window").width / 1.39 + 50;
        }
      }
    },
    ContainerHightStyleSec() {
      if (Dimensions.get("window").width < 405) {
        if (Platform.OS === "android") {
          return 120;//pendiente definir 
        } else {
          return 120;//pendiente definir 
        }
      } else {
        if (Platform.OS === "android") {
          return 135;
        } else {
          return 147;// pendiente definir 
        }
      }
    },
    ContainerWidthStyleSec() {
      if (Dimensions.get("window").width < 405) {
        if (Platform.OS === "android") {
          return 185;//pendiente definir 
        } else {
          return 185;//pendiente definir 
        }
      } else {
        if (Platform.OS === "android") {
          return 190;
        } else {
          return 190;//pendiente definir 
        }
      }
    },
    alinearimagensecundaria(){
      if (Dimensions.get("window").width < 405) {
        if (Platform.OS === "android") {
          return 7;//pendiente definir 
        } else {
          return 7;//pendiente definir 
        }
      } else {
        if (Platform.OS === "android") {
          return 15;
        } else {
          return 15;//pendiente definir 
        }
      }     
    },
    // tamanioBotonPrincipal(){
    //    if (Dimensions.get("window").width < 405) {
    //     if (Platform.OS === "android") {
    //       return Dimensions.get("window").height / 8.5;
    //     } else {
    //       return Dimensions.get("window").height / 8.5;
    //     }
    //   } else {
    //     if (Platform.OS === "android") {
    //       return Dimensions.get("window").height / 8.5;
    //     } else {
    //       return Dimensions.get("window").height / 8.5;
    //     }
    //   }     
    // }
 },
 created(){
  // console.log("created meenu")
   var menu = {
     origen: "Home",
      bonton: false,
   }
   store.state.menu = menu;
 }
};
</script>
<style>
.image-container {
  flex: 1;
  /* background-color: rgb(252, 252, 252); */
}
.Titulo {
  color: #006666;
  font-weight: bold;
}
.Row-titulo {
  padding-top: 25px;
}
.centrarImagenesIzq{
  align-self: center;
  margin-left: 10;
}
.centrarImagenesDer{
  align-self: center;
  margin-left: -15;
  margin-top: -5;
}
</style>