<template>
  <root>
    <app-navigation></app-navigation>
  </root>
</template>

<script>
import {
  createAppContainer,
  createStackNavigator,
  createDrawerNavigator
} from "vue-native-router";
import { Root } from "native-base";
import LoginScreen from "./screen/Login/index.vue";
import SignupScreen from "./screen/Signup/index.vue";
import SignupScreen2 from "./screen/Signup/index2.vue";
import ForgetPasswordScreen from "./screen/ForgetPassword/index.vue";
import sendEmailForget from "./screen/ForgetPassword/sendEmail.vue";
import Sidebar from "./screen/Sidebar/index.vue";
import Bienvenida from "./screen/Bienvenida/Bienvenida.vue";
import MenuPrincipal from "./screen/Menu/menuprincipal.vue";
import Evaluacion from "./screen/Experiencias/Evaluacion.vue";
import Categoria from "./screen/Experiencias/categorias.vue";
import AtuAlrededor from "./screen/Experiencias/AtuAlrededor.vue";
import Calificar from "./screen/Calificacion/index.vue";
import QR from "./screen/QR/index.vue";
import SlideBienvenida from "./screen/SlideBienvenida/index.vue";
import Listado from "./screen/Experiencias/Listado.vue";
import OpcionesUsuario from "./screen/Usuario/Opciones.vue";
import Perfil from "./screen/Usuario/Perfil.vue";
import Terms from "./screen/Usuario/TerminosyCondiciones.vue";
import PerfilOpc from "./screen/Usuario/Perfilopc.vue";
import loading from "./screen/SlideBienvenida/loading.vue";
import Tutorial from "./screen/SlideTutorial/tutorial.vue";
import SegundaPregunta from "./screen/SegundaPregunta/index.vue";
import Detail from "./screen/Detail/index.vue";
import Detail2 from "./screen/Detail/detalle.vue";
import ListadoCalificacion from "./screen/Experiencias/ListadoCalificacion.vue";
import Zona from "./screen/Experiencias/zona.vue";
import checkIn from "./screen/QR/CheckIn.vue";
import calificacion from "./screen/QR/Calificacion.vue";
import promociones from "./screen/Promociones/index.vue";

const Drawer = createDrawerNavigator(
  {
    Welcome: { screen: Bienvenida },
  },
  {
    initialRouteName: "Welcome",
    contentComponent: Sidebar
  }
);

const AppNavigation = createAppContainer(
  createStackNavigator(
    {
      Login: { screen: LoginScreen },
      Signup: { screen: SignupScreen },
      Signup2: { screen: SignupScreen2 },
      ForgetPassword: { screen: ForgetPasswordScreen },
      Drawer: { screen: Drawer },
      Welcome: { screen: Bienvenida },
      MenuPrincipal: { screen: MenuPrincipal },
      Evaluacion: { screen: Evaluacion },
      Categorias: { screen: Categoria },
      AtuAlrededor: { screen: AtuAlrededor },
      Calificar: { screen: Calificar },
      QR: { screen: QR },
      checkIn :{screen: checkIn},
      calificacion :{screen: calificacion},
      SlideBienvenida: { screen: SlideBienvenida },
      Listado: { screen: Listado },
      OpcionesUsuario: { screen: OpcionesUsuario },
      Perfil: { screen: Perfil },
      Terms: { screen: Terms },
      PerfilOpc: { screen: PerfilOpc },
      Loading: { screen: loading },
      Tutorial: { screen: Tutorial },
      SegundaPregunta: { screen: SegundaPregunta },
      Detail: { screen: Detail },
      Detail2: { screen: Detail2 },
      ListadoCalificacion: { screen: ListadoCalificacion },
      Zona: { screen: Zona },
      sendEmailForget : { screen: sendEmailForget},
      Promociones: {screen: promociones},
    },
    {
      initialRouteName: "Welcome",
      headerMode: "none"
    }
  )
);

export default {
  components: { Root, AppNavigation }
};
</script>
