<template>
  <nb-container>
    <status-bar :bar-style="'light-content'" androidStatusBarColor="#01cca1" />
    <image-background
      :source="fondo"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-grid>
        <nb-row :style="stylesObj.Row1">
          <nb-text :numberOfLines="2" class="textTitulo">
            {{ textotitulo }}
          </nb-text>
        </nb-row>
        <nb-row :style="stylesObj.Row2">
          <nb-text class="textContador">
            Te faltan {{ cantidadtarjetas }} experiencias
          </nb-text>
        </nb-row>
        <nb-row :style="stylesObj.Row3">
          <nb-button
            rounded
            primary
            block
            large
            class="btn"
            :on-press="categoria"
          >
            <nb-text class="text">
              ¡Por supuesto!
            </nb-text>
          </nb-button>
        </nb-row>
        <nb-row :style="stylesObj.Row4">
          <nb-button
            rounded
            primary
            block
            large
            class="btn"
            :on-press="modalOpen"
          >
            <nb-text class="text">
              En otro momento
            </nb-text>
          </nb-button>
        </nb-row>
      </nb-grid>
      <modal
        coverScreen="false"
        position="center"
        entry="bottom"
        :is-open="open"
        :on-opened="modalOpen"
        :on-closed="modalClose"
        :back-button-close="false"
        class="modal"
        :style="stylesObj.modal"
      >
        <image-background
          :source="fondoModal"
          :style="stylesObj.ModalimageContainer"
        >
          <view>
            <nb-grid :style="{ height: 200 }">
              <nb-row :style="{ height: 40 }">
                <nb-text class="txt-modal-titulo">
                  ¡Nos interesa tu opinión!
                </nb-text>
              </nb-row>

              <nb-row :style="{ height: 100 ,alignSelf: 'center'}">
                <nb-text class="txt-modal-subtitulo" :numberOfLines="8">
                  Más adelante te consultaremos sobre otras experiencias para
                  hacerte recomendaciones.
                </nb-text>
              </nb-row>
              <nb-row
                :style="{
                  height: 55,
                  alignSelf: 'center'
                }"
              >
                <nb-button
                  rounded
                  primary
                  center
                  class="btnModal"
                  :on-press="menu"
                >
                  <nb-text
                    :style="{
                      textAlign: 'center',
                      paddingLeft: '41%',
                      fontSize: 20
                    }"
                  >
                    Ok
                  </nb-text>
                </nb-button>
              </nb-row>
            </nb-grid>
          </view>
        </image-background>
      </modal>
    </image-background>
    <Loading v-if="openLoading === true" />
  </nb-container>
</template>

<script>
import { Dimensions, Platform } from "react-native";
import fondo from "../../../assets/Segundaevaluacion.png";
import Modal from "react-native-modalbox";
import config from "../../services/configuracion";
import tarjetas from "../../services/tarjetas";
import store from "../../store";
import { iPhoneHasNotch } from "../../utils/device";
import fondoModal from "../../../assets/fondoModal.png";
import Loading from "../../components/common/Loading";
import { NavigationActions, StackActions } from "vue-native-router";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "SegundaPregunta" })]
});
const resetAction1 = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "MenuPrincipal" })]
});

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
    cantidadtarjetas() {
      return store.state.countCalificar;
    }
  },
  props: {
    navigation: {
      type: Object
    }
  },
  components: {
    Modal,
    Loading
  },
  validations: {},
  data() {
    return {
      textotitulo: "¿Quieres echarle un vistazo \n a otras experiencias? ",
      contador: 0,
      contadorConfig: 0,
      userData: {},
      open: false,
      fondo,
      fondoModal,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height,
          width: Dimensions.get("window").width,
          marginLeft: iPhoneHasNotch() ? 5 : 0
        },
        Row1: {
          marginTop: Dimensions.get("window").height / 1.7,
          height: 60,
          alignSelf: "center"
        },
        Row2: {
          height: 60,
          marginTop: 10,
          alignSelf: "center"
        },
        Row3: {
          height: 60,
          alignSelf: "center"
        },
        Row4: {
          height: 60,
          marginTop: 10,
          alignSelf: "center"
        },
        headerModalStyle: {
          elevation: this.open ? 0 : undefined
        },
        modal: {
          //width: 200,//Dimensions.get("window").width,
          height: 230

          //top: Dimensions.get("window").height / 1.5,
        },
        ModalimageContainer: {
          height: 190
        }
      },
      cardItemsArr: [],
      openLoading: false
    };
  },
  methods: {
    modalOpen() {
      this.open = true;
    },
    modalClose() {
      this.open = false;
    },
    categoria() {
      this.openLoading = true;
      this.cardItemsArr = [];
      store.state.tarjetasCalifica = [];
      this.contador = 0;
      // console.log("1./"+this.contadorConfig);
      // console.log("2./"+this.userData.id);
      // console.log("3./"+this.userData.zonaId);
      tarjetas
        .get(this.contadorConfig, this.userData.id, this.userData.zonaId)
        .then(response => {
          //console.log(response);
          this.openLoading = false;
          this.contador = 1;
          // console.log("Cantidad de tarjetas segunda pantalla");
          // console.log(response.data.length);
          if (response.data.length > 0)
          {
            
            //console.log(response.data);
            response.data.forEach(e => {            
            const tarjeta = {
              key: this.contador,
              id: e.id,
              text: e.informacion,
              name: e.nombre,
              categoria: e.categoriaDescripcionPadre,
              image: { uri: e.imagen },
              Img1: true,
              Img2: true,
              Img3: true,
              Noloconozco: true,
              CalificacionId: 0,
              categoriaPadreId: e.categoriaPadreId
            };            
            this.cardItemsArr.push(tarjeta);
            this.contador += 1;
          });          
          this.cardItemsArr.sort(a => a.categoriaPadreId);
          store.state.tarjetasCalifica = this.cardItemsArr;
          // console.log("Cantidad segunda pantalla");
          // console.log(this.cardItemsArr.length);
          this.navigation.dispatch(resetAction);
          this.navigation.navigate("Calificar");
          }else{
            this.navigation.dispatch(resetAction1);
            this.navigation.navigate("MenuPrincipal");
          }
          
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
          this.openLoading = false;
        });
    },
    menu() {
      this.modalClose()
      this.navigation.navigate("MenuPrincipal");
    },
  },
  created() {
    //console.log("csegundapregunta");
    this.userData = this.usuario;
    //console.log(this.userData);
    config
      .listado("cit")
      .then(response => {
        //console.log(response.data);
        response.data.forEach(e => {
          this.contadorConfig = e.indice;
        });
        //console.log(this.cantidad);
      })
      .catch(e => {
        console.log("Errores");
        console.log(e);
      });

    tarjetas
      .getCount(this.userData.id, this.userData.zonaId)
      .then(response => {
        //console.log(response.data);
        if(response.data > 0)
        {        
          store.state.countCalificar = response.data;
        }else{
          this.navigation.navigate("MenuPrincipal");
        }

        //this.contador = this.contadorConfig >= response.data ? response.data : this.contadorConfig
      })
      .catch(e => {
        console.log("Errores");
        console.log(e);
      });
  },
  mounted() {
    //console.log("msegundapregunta");
  },
  watch: {}
};
</script>

<style>
.image-container {
  flex: 1;
}
.btn {
  background-color: #0dd3d3;
  height: 50;
  width: 80%;
}
.btnModal {
  background-color: #0dd3d3;
  margin-top: 10;
  height: 50;
  width: 80%;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.modal {
  background-color: #ffffff;
  position: absolute;
  width: 80%;
  border-radius: 15;
  border-style: solid;
  border-width: 3.5;
  border-color: #006666;
}
.txt-modal-titulo {
  align-self: center;
  margin-left: 15%;
  margin-right: 10%;
  font-weight: 700;
  font-size: 18;
  margin-top: 10;
  color: #005a70;
}
.txt-modal-subtitulo {
  padding: 5%;
  /* margin-left: 12%;
  margin-right: 10%; */
  margin-top: 10px;
  text-align: center;
  color: #7d7d7d;
  height: 100;
}
.modal-content-grid1 {
  margin-top: 150;
  padding-bottom: 10;
  justify-content: center;
}
.textTitulo {
  font-size: 20;
  font-weight: 900;
  text-align: center;
  color: #005a70;
}
.textContador {
  font-size: 20;
  font-weight: 900;
  text-align: center;
  color: #7d7d7d;
}
</style>
