<template>
  <div class="row">
    <div class="col-12">
      <card card-body-classes="table-full-width" no-footer-line>
        <h4 slot="header" class="card-title">Listado de Clientess</h4>
        <div>
          <div class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap">
            <el-select
              class="select-primary mb-3"
              style="width: 200px"
              v-model="pagination.perPage"
              placeholder="Per page"
            >
              <el-option
                class="select-default"
                v-for="item in pagination.perPageOptions"
                :key="item"
                :label="item"
                :value="item"
              ></el-option>
            </el-select>
            <fg-input>
              <el-input
                type="search"
                class="mb-3"
                clearable
                prefix-icon="el-icon-search"
                style="width: 200px"
                placeholder="Search records"
                v-model="searchQuery"
                aria-controls="datatables"
              ></el-input>
            </fg-input>
          </div>
          <n-button
            type="primary"
            @click.native="ModalPersonalizado(1)"
            class="float-right"
          >Nuevo Clientes</n-button>
          <!-- Classic Modal Insertar-->
          <modal :show.sync="modals.classic" headerClasses="justify-content-center">
            <h4 slot="header" class="title title-up">{{datosModal.titulo}}</h4>
            <form>
              <div>
                <fg-input label="RFC" type="text" placeholder="RFC" v-model="rfc"></fg-input>
                <fg-input label="Razón Social" type="text" placeholder="ejem: Las Casas S.A de C.V" v-model="razonSocial"></fg-input>
                <fg-input label="Tipo de Cadena" type="text" placeholder="" v-model="cadenaIndependiente"></fg-input>                
                <fg-input label="Cobro Mensual" type="number" placeholder="" v-model="cobroMensual"></fg-input>
                <fg-input label="Observaciones" type="text" placeholder="" v-model="observaciones"></fg-input>
                <n-button type="danger" @click.native="modals.classic = false" @click.native.prevent="Clear()">Cancelar</n-button>
                <n-button
                  native-type="submit"
                  type="primary"
                  @click.native.prevent="postNow(datosModal.evento)"
                >{{datosModal.boton}}</n-button>
              </div>
            </form>
          </modal>
          <el-table stripe style="width: 100%;" :data="queriedData">
            <el-table-column
              v-for="column in tableColumns"
              :key="column.label"
              :min-width="column.minWidth"
              :prop="column.prop"
              :label="column.label"
            ></el-table-column>
            <el-table-column :min-width="135" fixed="right" label="Acciones">
              <div slot-scope="props" class="table-actions">
                <n-button
                  @click.native="ModalPersonalizado(2,props.row)"
                  class="edit"
                  type="warning"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-pencil"></i>
                </n-button>
                <n-button
                  @click.native="ModalPersonalizado(3,props.row)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-times"></i>
                </n-button>
                <n-button
                  @click.native="ContactoCliente(props.row.id)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-users"></i>
                </n-button>
                
                <n-button
                  @click.native="Lugar(props.row.id)"
                  class="remove"
                  type="danger"
                  size="sm"
                  round
                  icon
                >
                  <i class="fa fa-send"></i>
                </n-button>

              </div>
            </el-table-column>
          </el-table>
        </div>
        <div
          slot="footer"
          class="col-12 d-flex justify-content-center justify-content-sm-between flex-wrap"
        >
          <div class>
            <p class="card-category">Showing {{ from + 1 }} to {{ to }} of {{ total }} entries</p>
          </div>
          <n-pagination
            class="pagination-no-border"
            v-model="pagination.currentPage"
            :per-page="pagination.perPage"
            :total="total"
          ></n-pagination>
        </div>
      </card>
    </div>
  </div>
</template>
<script>

import clientesservice from "../../Services/clientes";
import { Table, TableColumn, Select, Option } from "element-ui";
import { Pagination as NPagination } from "src/components";
import Fuse from "fuse.js";
import swal from "sweetalert2";
import { Modal } from "src/components";

export default {
  components: {
    NPagination,
    [Select.name]: Select,
    [Option.name]: Option,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    Modal
  },
  computed: {
    /***
     * Returns a page from the searched data or the whole data. Search is performed in the watch section below
     */
    queriedData() {
      let result = this.tableData;
      if (this.searchedData.length > 0) {
        result = this.searchedData;
      }
      return result.slice(this.from, this.to);
    },
    to() {
      let highBound = this.from + this.pagination.perPage;
      if (this.total < highBound) {
        highBound = this.total;
      }
      return highBound;
    },
    from() {
      return this.pagination.perPage * (this.pagination.currentPage - 1);
    },
    total() {
      return this.searchedData.length > 0
        ? this.searchedData.length
        : this.tableData.length;
    }
  },
  data() {
    return {
      datosModal: {
        titulo : "Crear Clientes",
        boton: "Confirmar",
        evento: 0,
      },
      pagination: {
        perPage: 5,
        currentPage: 1,
        perPageOptions: [5, 10, 25, 50],
        total: 0
      },
      modals: {
        classic: false,
      },
      evento: "",
      id: 0,
      razonSocial: null,
      cadenaIndependiente: null,
      cobroMensual: 0,
      rfc: null,
      observaciones: null,
      searchQuery: "",
      propsToSearch: ["id", "razonSocial", ],
      tableColumns: [
        {
          prop: "id",
          label: "Id",
          minWidth: 75
        },
        {
          prop: "rfc",
          label: "RFC",
          minWidth: 160
        },
        {
          prop: "razonSocial",
          label: "Razón Social",
          minWidth: 200
        },
        {
          prop: "cadenaIndependiente",
          label: "Tipo de Cadena",
          minWidth: 200
        },
        {
          prop: "cobroMensual",
          label: "Cobro Mensual",
          minWidth: 200
        },
        {
          prop: "observaciones",
          label: "Observaciones",
          minWidth: 250
        }
      ],
      tableData: [],
      searchedData: [],
      fuseSearch: null
    };
  },
  methods: {
    ModalPersonalizado(exp,row){
      this.Clear();
      switch(exp){
        case 1://Insertar          
            this.modals.classic = true;
            this.datosModal.titulo = "Crear Clientes";
            this.datosModal.boton = "Confirmar";
            this.datosModal.evento = 1;
            break;
        case 2://Actualizar
            this.id = row.id;
            this.razonSocial = row.razonSocial;
            this.rfc = row.rfc;
            this.cadenaIndependiente = row.cadenaIndependiente;
            this.cobroMensual = row.cobroMensual;
            this.observaciones = row.observaciones;
            this.modals.classic = true;
            this.datosModal.titulo = "Actualizar Clientes";
            this.datosModal.evento = 2;
            break;

        case 3://Eliminar
            this.id = row.id;
            this.razonSocial = row.razonSocial;
            swal.fire({
              title: "Estas seguro de eliminar el siguiente registro?",
              text: row.razonSocial,
              type: "warning",
              showCancelButton: true,
              confirmButtonClass: "btn btn-success btn-fill",
              cancelButtonClass: "btn btn-danger btn-fill",
              confirmButtonText: "Si, eliminarlo!",
              buttonsStyling: false
            }).then(result => {
              if (result.value) {
                //aqui tengo que llamar el registro
                this.deleteRow(row.id);                
              }
         })
            break;
      }
      
    },
    postNow(exp) {
        var data = {
                id: this.id,
                razonSocial: this.razonSocial,
                cadenaIndependiente: this.cadenaIndependiente,
                cobroMensual: parseInt(this.cobroMensual),
                observaciones: this.observaciones,
                rfc: this.rfc
              };
              //console.log(data);
        switch(exp)
        {
          case 1:
              clientesservice.create(data)
              .then(response => {
                //hay que cerrar el model
                this.modals.classic= false;
                this.Notificaciones(response);                
                //Aqui recuperamos los datos
              })
              .catch(function(error) {
                console.log(error);
              });
            break;

            case 2:
            if(this.id > 0)
            {
                clientesservice.update(this.id,data)
              .then(response => {
                //hay que cerrar el model
                this.modals.classic= false;
                this.Notificaciones(response);
                //Aqui recuperamos los datos
              })
              .catch(function(error) {
                console.log(error);
              });
            }
            
            break;          
        }
        this.Clear();
        
    },
    Notificaciones(response){
      // console.log(response);
      var msg = response.data;
      msg.forEach((item) =>
      {
          //console.log("id: "+ item.tipo+ " Msg: "+item.mensaje)
          switch(item.tipo)
          {
          case 1://Error
            this.sendNoty('danger',item.mensaje);
            break;
            case 2://ErrorAtributos
              //this.sendNoty('success',e.mensaje);
            break;
            case 3://Exitoso
                  this.sendNoty('success',item.mensaje);
                  this.retrive();
                  this.Clear();
            break;
            case 4://Informativo
                  this.sendNoty('info',item.mensaje);
            break;
        }
      });
    },
    deleteRow(row){
      if(this.id > 0)
        {
            clientesservice.delete(row.id)
            .then(response => {
            //hay que cerrar el model
            this.Notificaciones(response);
            swal({
                  title: "Eliminado!",
                  text: `Se ha eliminado el registro ${row.razonSocial}`,
                  type: "success",
                  confirmButtonClass: "btn btn-success btn-fill",
                  buttonsStyling: false
            });
            //Aqui recuperamos los datos
          })
          .catch(function(error) {
            console.log(error);
          });
        }
    },
    retrive(){
      clientesservice.getAll().then(response => {
          this.tableData = response.data;
          //console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    sendNoty(type,menssage) {
      this.$notify({
        message:menssage,
        timeout: 30000,
        icon: 'now-ui-icons ui-1_bell-53',
        horizontalAlign: 'right',
        verticalAlign: 'top',
        type: type
      });
    },
     Clear(){
    this.razonSocial = null;
    this.cadenaIndependiente = null;
    this.cobroMensual = 0;
    this.id = 0;
    this.observaciones = null;
    this.rfc = null;
    },
    ContactoCliente(id){
      this.$router.push({ name: 'contactos', params: { id: id } });
    },
    Lugar(id){
      this.$router.push({ name: 'Lugares', params: { id: id } });
    }
  },
 
  mounted() {
        this.retrive();
    //Fuse search initialization.
    this.fuseSearch = new Fuse(this.tableData, {
      keys: ['id','razonsocial', 'rfc','observaciones'],
      threshold: 0.3
    });
    
  },
  watch: {
    /**
     * Searches through the table data by a given query.
     * NOTE: If you have a lot of data, it's recommended to do the search on the Server Side and only display the results here.
     * @param value of the query
     */
    searchQuery(value) {
      let result = this.tableData;
      if (value !== "") {
        result = this.fuseSearch.search(this.searchQuery);
      }
      this.searchedData = result;
    }
  }
};
</script>
<style></style>
