<template>
  <nb-container>
    <nb-header class="header-style" androidStatusBarColor="#006666">
      <nb-item disabled :on-press="() => navigation.goBack()">
        <nb-button transparent :on-press="() => navigation.goBack()">
          <nb-icon active name="arrow-back" class="flecha" />
          <nb-title class="titulo_Pagina">
            Regresar
          </nb-title>
        </nb-button>
      </nb-item>
    </nb-header>
    <nb-container :style="{ marginTop: '2.5%' }">
      <nb-text class="comment-header"> ¡Promos más recomendadas!</nb-text>
      <view class="tabs" :style="{ marginTop: '10%' }">
        <nb-tabs :tab-bar-underline-style="{ backgroundColor: '#04b6c5' }">
          <nb-tab
            heading="Restaurantes"
            :text-style="stylesObj.tabText"
            :active-text-style="stylesObj.activeTabText"
          >
            <tab-one :navigation="navigation" />
          </nb-tab>
          <nb-tab
            heading="Hoteles"
            :text-style="stylesObj.tabText"
            :active-text-style="stylesObj.activeTabText"
          >
            <tab-two :navigation="navigation" />
          </nb-tab>
          <nb-tab
            heading="Diversión"
            :text-style="stylesObj.tabText"
            :active-text-style="stylesObj.activeTabText"
          >
            <tab-three :navigation="navigation" />
          </nb-tab>
        </nb-tabs>
      </view>
    </nb-container>
  </nb-container>
</template>

<script>
import { Keyboard, Platform } from "react-native";

import TabOne from "./tabOne";
import TabTwo from "./tabTwo";
import TabThree from "./tabThree";
import Bg from "../../../assets/bg-transparent.png";
import { iPhoneHasNotch } from "../../utils/device";

export default {
  components: { TabOne, TabTwo, TabThree },
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      Bg,
      stylesObj: {
        commentHeadbg: {
          backgroundColor: "#01cca1",
          flex: 1,
        },
        tabText: {
          color: "#c3c3c3",
          fontWeight: "500",
        },
        activeTabText: {
          color: "#04b6c5",
          fontWeight: "700",
        },
      },
    };
  },
  mounted() {},
  methods: {
    Categoria(categoraId) {},
  },
};
</script>

<style>
.titulo_Pagina {
  /* background-color: #0dd3d3; */
  /* height: 50; */
  /* width: 100%; */
  color: white;
  font-size: 24px;
  right: 20;
  padding: 5;
  margin-left: 105;
  margin-right: 105;
}
.flecha {
  color: white;
  font-size: 24px;
}
.header-style {
  background-color: #04b6c5;
  padding-left: 0;
  padding-right: 0;
}
.tabs {
  flex: 1;
  background-color: #01cca1;
}
.comment-header {
  color: #005a70;
  align-self: center;
  font-weight: 900;
  font-size: 20;
  margin-top: 20;
}
.comment-box {
  background-color: #eee;
  align-items: center;
  padding-left: 10;
}
</style>
