<template>
  <nb-container>
    <view>
      <view v-if="datas.length === 0" class="link-tabs">
        <nb-list-item class="list-container">
          <nb-text class="text-note">No se tienen promociones</nb-text>
        </nb-list-item>
      </view>
      <swipe-list-view
        :style="stylesObj.list"
        :data="datas"
        :left-open-value="100"
        :stop-left-swipe="120"
        :right-open-value="-100"
        :stop-right-swipe="-120"
        :key-extractor="(item) => item.id.toString()"
      >
        <nb-list-item
          :style="stylesObj.listItemView"
          :on-press="
            () =>
              navigation.navigate('Detail2', {
                IdLugar: { id: row.item.id, categoria: row.item.categoriaId,pantalla:2},
              })
          "
          render-prop-fn="renderItem"
          arguments="row"
        >
          <image v-if=" row.item.promocionImagen != null"
            :source="{ uri: row.item.promocionImagen }"
            :style="stylesObj.newsImage"
          />
          <view :style="stylesObj.newsContent">
            <text :numberOfLines="2" :style="stylesObj.newsHeader">
              {{ row.item.nombre }}
            </text>
            <nb-grid :style="{ marginTop: 5 }">
              <nb-col>
                <text :style="stylesObj.newsLink" :numberOfLines="10">
                  {{ row.item.tipoPromo }}
                </text>
              </nb-col>
            </nb-grid>
          </view>
        </nb-list-item>
      </swipe-list-view>
    </view>
    <Loading v-if="open === true" />
  </nb-container>
</template>

<script>
import { Platform, Dimensions } from "react-native";
import { SwipeListView } from "react-native-swipe-list-view";
import servicio from "../../services/lugares";
import Loading from "../../components/common/Loading";

export default {
  components: {
    SwipeListView,
    Loading,
  },
  props: {
    navigation: {
      type: Object
    }
  },
  data() {
    return {
      open: false,
      datas: [],
      stylesObj: {
        newsImage: {
          width: 90,
          height: 65,
          marginLeft:20
        },
        newsHeader: {
          color: "#005a70",
          fontSize: 18,
          fontWeight: "bold",
        },
        list: {
          borderColor: "transparent",
        },
        newsContent: {
          flexDirection: "column",
          paddingTop: 10,
          paddingLeft: 15,
          paddingRight: 15,
          flex: 1,
          borderTopColor: "#ddd",
        },
        newsLink: {
          color: "#666",
          fontSize: 14,
          alignSelf: "flex-start",
          fontWeight: "bold",
        },
        listItemView: {
          flex: 1,
          flexDirection: "row",
          backgroundColor: "#FFF",
          height: 120,
          borderWidth: 1,
          marginLeft: 0,
        },
      },
    };
  },
  methods: {
    retrive() {
      this.open = true;
      servicio
        .getallxcat(2)
        .then((response) => {
          //console.log(response.data);
          this.datas = response.data;
          this.open = false;
        })
        .catch((err) => {
          console.log("promociones");
          console.log(err);
        });
    },
  },
  mounted() {
    console.log(" mounted 1")
    this.retrive();
  },
  created() {
  console.log(" created 1")
    this.retrive();
  },
};
</script>

<style>
.text-note {
  color: #777;
  font-size: 12;
}
</style>
