<template>
  <nb-container>
    <status-bar :bar-style="'light-content'" androidStatusBarColor="#fff" />
    <image-background
      :source="launchScreenBg"
      class="image-container"
      :style="stylesObj.imageContainer"
    >
      <nb-grid>
        <nb-row></nb-row>
        <nb-row></nb-row>
        <nb-row>
          <nb-col></nb-col>
          <nb-col>
            <nb-spinner color="red" />
          </nb-col>
          <nb-col></nb-col>
        </nb-row>
      </nb-grid>
    </image-background>
  </nb-container>
</template>

<script>
import { Dimensions, Platform, Component } from "react-native";
import launchScreenBg from "../../../assets/Slide2/masdeti.png";
import tarjetas from "../../services/tarjetas";
import store from "../../store";
import config from "../../services/configuracion";

export default {
  computed: {
    usuario() {
      return store.state.usuario;
    },
    cantidadtarjetas() {
      return store.state.countCalificar;
    }
  },
  props: {
    navigation: {
      type: Object
    }
  },
  components: {},
  validations: {},
  data() {
    return {
      contador: 0,
      contadorConfig: 0,
      userData: {},
      cardItemsArr: [],
      launchScreenBg,
      stylesObj: {
        imageContainer: {
          height: Dimensions.get("window").height
        }
      },
      timer: null
    };
  },
  methods: {
    categoria() {
      this.cardItemsArr = [];
      // console.log(this.contadorConfig);
      // console.log(this.userData);
      this.contador = 1;
      tarjetas
        .get(this.contadorConfig, this.userData.id, this.userData.zonaId)
        .then(response => {
          //console.log(response);
          response.data.forEach(e => {
            const tarjeta = {
              key: this.contador,
              id: e.id,
              text: e.informacion,
              name: e.nombre,
              categoria: e.categoriaDescripcionPadre,
              image: { uri: e.imagen },
              Img1: true,
              Img2: true,
              Img3: true,
              Noloconozco: true,
              CalificacionId: 0,
              categoriaPadreId: e.categoriaPadreId
            };
            this.cardItemsArr.push(tarjeta);
            this.contador += 1;
          });
          
          store.state.tarjetasCalifica = [];
          store.state.tarjetasCalifica = this.cardItemsArr;

          this.navigation.navigate("Calificar", {
            calificar: this.cardItemsArr
          });
        })
        .catch(e => {
          console.log("Errores");
          console.log(e);
          this.openLoading = false;
        });
    }
  },
  created() {
    config
      .listado("cit")
      .then(response => {
        //console.log(response.data);
        response.data.forEach(e => {
          this.contadorConfig = e.indice;
        });
      })
      .catch(e => {
        console.log("Errores");
        console.log(e);
      });
    this.userData = this.usuario;
    this.timer = setInterval(() => {
      clearInterval(this.timer);
      this.categoria();
    }, 3000);
  }
};
</script>

<style>
.image-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.1);
}
</style>
