<template>
  <view class="slides" :style="stylesObj.slides">
    <!-- <nb-text class="ios-pagination-text" :style="stylesObj.iosPaginationText">
      {{ content.text }}
    </nb-text>
    <nb-icon :name="content.icon" class="icon" :style="stylesObj.icon" />
    <nb-text :number-of-lines="3" class="ios-text">
      {{ content.description }}
    </nb-text>
    <nb-button
      transparent
      rounded
      class="button"
      :on-press="content.onButtonPress"
    >
      <nb-text class="text-skip">
        {{ content.buttonText }}
      </nb-text>
    </nb-button> -->
    <image
      :source="content.image"
      :style="stylesObj.fullimage"
    />
  </view>
</template>

<script>
import { Dimensions } from "react-native";

export default {
  data() {
    return {
      stylesObj: {
        slides: {
          height: Dimensions.get("window").height,
          width: Dimensions.get("window").width
        },
        iosPaginationText: {
          top: -(Dimensions.get("window").height / 4.3)
        },
        icon: {
          top: -(Dimensions.get("window").height / 5)
        },
        fullimage: {
          flex: 1,
          height: Dimensions.get("window").height,
          width: Dimensions.get("window").width
        }
      }
    };
  },
  props: ["content"]
};
</script>

<style>
.slides {
  flex: 1;
  background-color: #005a70;
  justify-content: center;
  align-items: center;
}
.ios-pagination-text {
  position: relative;
  font-size: 20;
  line-height: 0;
  font-weight: bold;
  color: #fff;
}
.icon {
  font-size: 120;
  color: #fff;
}
.ios-text {
  font-size: 15;
  text-align: center;
  padding-left: 60;
  padding-right: 60;
  top: 3;
  font-weight: bold;
  bottom: 15;
  color: #fff;
}
.button {
  align-self: center;
  padding-left: 20;
  padding-right: 20;
  top: 60;
  background-color: rgba(0, 0, 0, 0.2);
}
.text-skip {
  color: #fff;
  
  font-weight: 600;
}
</style>
