<template>
  <nb-container :style="{ backgroundColor: '#fff'}">
    <nb-grid>
      <nb-row :style="stylesObj.RowCard">
        <view :style="stylesObj.card">
          <carousel
            ref="_carouselObj"
            :data="tarjetasCol"
            :sliderWidth="300"
            :sliderHeight="300"
            :itemWidth="300"
            :itemHeight="300"
            :enableMomentum="false"
            :lockScrollWhileSnapping="true"
            :onSnapToItem="cambiosB"
            :inactiveSlideScale="1"
            :autoplay="false"
            :autoplayInterval="3000"
            layout="tinder"
            useScrollView="true"
          >
            <slide render-prop-fn="renderItem" :content="args.item" />
          </carousel>
        </view>
      </nb-row>
      <nb-row class="row-btn-img" :style="stylesObj.rowbtnimg">
        <nb-col>
          <nb-button
            transparent
            center
            :on-press="() => btn1()"
            :style="{ height: 80 }"
          >
            <image resize-mode="contain" :source="Btn1" />
          </nb-button>
        </nb-col>
        <nb-col>
          <nb-button
            transparent
            center
            :on-press="() => btn3()"
            :style="{ height: 80 }"
          >
            <image resize-mode="contain" :source="Btn3" />
          </nb-button>
        </nb-col>
        <nb-col>
          <nb-button
            transparent
            center
            :on-press="() => btn2()"
            :style="{ height: 80 }"
          >
            <image resize-mode="contain" :source="Btn2" />
          </nb-button> </nb-col
      ></nb-row>
      <nb-row class="row-noloconozco" :style="stylesObj.rownoloconozco">
        <nb-col class="col-btn">
          <nb-button
            rounded
            primary
            block
            large
            class="btn"
            :on-press="() => Noloconozco()"
            :disabled="isDisabled"
          >
            <nb-text class="text"> No lo conozco </nb-text>
          </nb-button>
        </nb-col>
      </nb-row>
    </nb-grid>
  </nb-container>
</template>

<script>
import React from "react";
import { View, Text } from "react-native";
import CardComponent from "../../components/common/card";
import store from "../../store";
import { Dimensions, Platform } from "react-native";
import Btn1enc from "../../../assets/Iconos/nomegustaencendido.png";
import Btn2enc from "../../../assets/Iconos/megustaencendido.png";
import Btn3enc from "../../../assets/Iconos/meencantaencendido.png";
import Btn1apa from "../../../assets/Iconos/nomegustaapagado.png";
import Btn2apa from "../../../assets/Iconos/megustaapagado.png";
import Btn3apa from "../../../assets/Iconos/meencantaapagado.png";
import { Toast } from "native-base";
import calificacionSer from "../../services/calificacion";
import { iPhoneHasNotch } from "../../utils/device";
import tarjetas from "../../services/tarjetas";
import Slide from "./Slide";
import carousel from "react-native-snap-carousel";
import { NavigationActions, StackActions } from "vue-native-router";

const resetAction = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "SegundaPregunta" })],
});

const resetActionLoading = StackActions.reset({
  index: 0,
  actions: [NavigationActions.navigate({ routeName: "Loading" })],
});
export default {
  components: { Slide, carousel },
  computed: {
    calificacion() {
      return store.state.calificacion;
    },
    usuario() {
      return store.state.usuario;
    },
    tarjetasData() {
      return store.state.tarjetasCalifica;
    },
  },
  props: {
    navigation: {
      type: Object,
    },
  },
  data() {
    return {
      clasificacionData: {
        usuarioId: 0,
        lugarId: 0,
        tipoClasificacionId: 0,
        CalificacionId: 0,
      },
      cantidaCalficados: 0,
      tarjetasCol: [],
      ZonaId: 0,
      lugar: {},
      Btn1: null,
      Btn2: null,
      Btn3: null,
      isDisabled: false,
      isLoopingRequired: false,
      stylesObj: {
        RowCard: {
          height: Dimensions.get("window").height / 2,
          marginTop: this.signUpContainerStyle(),
          marginLeft: "5%",
        },
        card: {
          marginLeft: '6.5%',
          flex: 1,
          paddingTop: "1%",
          height: Dimensions.get("window").height / 1.7,
        },
        rowbtnimg: {
          marginTop: "25%",
          marginLeft: Dimensions.get("window").width / 25,
          height: 80,
        },
        rownoloconozco: {
          marginTop: "5%",
          height: 80,
        },
      },
    };
  },
  methods: {
    signUpContainerStyle() {
      if (iPhoneHasNotch()) {
        return 60;
      } else {
        return 10;
      }
    },
    cambiosB(item) {
      // console.log(Dimensions.get("window").height);
      // console.log(Dimensions.get("window").width);
      // console.log(iPhoneHasNotch());
      this.tarjetasData.forEach((t) => {
        if (t.key == item + 1) {
          this.lugar = t;
        }
      });
      if (this.lugar != null) {
        this.clasificacionData.CalificacionId = this.lugar.id;
        this.lugar.Img1 == true ? (this.Btn1 = Btn1enc) : (this.Btn1 = Btn1apa);
        this.lugar.Img2 == true ? (this.Btn2 = Btn2enc) : (this.Btn2 = Btn2apa);
        this.lugar.Img3 == true ? (this.Btn3 = Btn3enc) : (this.Btn3 = Btn3apa);
        this.lugar.Noloconozco == true
          ? (this.isDisabled = false)
          : (this.isDisabled = true);
      }
    },
    handleCardEmpty() {
      store.state.tarjetasCalifica = [];
      this.cantidaCalficados = 0;
      this.clasificacionData = {
        usuarioId: 0,
        lugarId: 0,
        tipoClasificacionId: 0,
        CalificacionId: 0,
      };
      tarjetas
        .getCount(this.usuario.id, this.usuario.zonaId)
        .then((response) => {
          store.state.countCalificar = response.data;
          if (response.data > 0) {

            this.navigation.navigate("SegundaPregunta");
            // this.navigation.dispatch(resetAction);
            //this.navigation.goBack()
          } else {
            this.navigation.navigate("MenuPrincipal");
          }
        })
        .catch((e) => {
          console.log("tarjetas.getCount");
          console.log(e);
        });
      this.clasificacionData = {};
    },
    btn1() {
      this.clasificacionData.tipoClasificacionId = 1;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    btn2() {
      this.clasificacionData.tipoClasificacionId = 2;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    btn3() {
      this.clasificacionData.tipoClasificacionId = 3;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    Noloconozco() {
      this.clasificacionData.tipoClasificacionId = 4;
      this.clasificacionData.lugarId = this.lugar.id;
      this.Guardamos();
    },
    mensaje() {
      // Toast.show({
      //   text: "Yeiii",
      //   duration: 2500,
      //   position: "bottom",
      //   textStyle: { textAlign: "center", backgroundColor: "transparent" },
      // });
      //alert("Yeiii");
    },
    Guardamos() {
      //iconsole.log(this.clasificacionData);
      if (
        this.lugar.CalificacionId == 0 ||
        this.lugar.CalificacionId == undefined ||
        this.lugar.CalificacionId == null
      ) {
        calificacionSer
          .create(this.clasificacionData)
          .then((response) => {
            if (response.status == 200 || response.status == 201) {
              this.procesamos(response.data);
            }
          })
          .catch((error) => {
            console.log("calificacionSer.create");
            console.log(error);
          });
      } else {
        calificacionSer
          .update(this.clasificacionData.CalificacionId, this.clasificacionData)
          .then((response) => {
            if (response.status == 200 || response.status == 201) {
              this.procesamos(response.data);
            }
          })
          .catch((error) => {
            console.log("calificacionSer.update");
            console.log(error);
          });
      }
    },
    procesamos(data) {
      this.lugar.CalificacionId = 0;
      this.tarjetasCol.forEach((c) => {
        if (c.id == data.lugarId) {
          c.CalificacionId = data.id;

          switch (this.clasificacionData.tipoClasificacionId) {
            case 1:
              c.Img1 = true;
              c.Img2 = false;
              c.Img3 = false;
              c.Noloconozco = false;
              break;
            case 2:
              c.Img1 = false;
              c.Img2 = true;
              c.Img3 = false;
              c.Noloconozco = false;
              break;
            case 3:
              c.Img1 = false;
              c.Img2 = false;
              c.Img3 = true;
              c.Noloconozco = false;
              break;
            case 4:
              c.Img1 = false;
              c.Img2 = false;
              c.Img3 = false;
              c.Noloconozco = true;
              break;
          }
          this.cantidaCalficados += 1;
          store.state.tarjetasCalifica = [];
          store.state.tarjetasCalifica = this.tarjetasCol;
          if (this.tarjetasCol.length == this.cantidaCalficados) {
            this.handleCardEmpty();
            this.tarjetasCol = [];
            //console.log("ntro a empty");
          } else {
            this.$refs._carouselObj.snapToNext();
            //console.log("ntro a next");
          }
        }
      });
    },
  },
  mounted() {
    //     this.tarjetasCol = this.tarjetasData;
    // this.cambiosB(0);
  },
  created() {
    //this.navigation.dispatch(resetAction);
    this.navigation.reset;
    //Ordenamos las tarjetas por Padre
    //this.tarjetasData.sort(a => a.categoriaPadreId);
    this.tarjetasCol = this.tarjetasData;
    //this.tarjetasCol.sort(a => a.categoriaPadreId);
    this.cambiosB(0);
    this.clasificacionData.usuarioId = this.usuario.id;
    this.ZonaId = this.usuario.zonaId;
    //console.log(this.navigation.reset);
  },
  watch: {},
};
</script>
<style>
.btn {
  background-color: #0dd3d3;
  height: 50;
}
.row-btn-img {
  align-items: center;
}
.col-btn {
  padding: 10px;
}
.row-noloconozco {
  align-items: center;
}
</style>