<template>
  <nb-card :style="{ elevation: 3 }">
    <!-- <nb-cardItem>
      <nb-left>
        <nb-thumbnail :source="item.image" />
        <nb-body>
          <nb-text>{{ item.text }}</nb-text>
          <nb-text note>NativeBase</nb-text>
        </nb-body>
      </nb-left>
    </nb-cardItem> -->
    <nb-cardItem cardBody>
      <image :style="stylesObj.Card" :source="content.image" />
    </nb-cardItem>
    <nb-cardItem>
      <nb-grid :style="{height: 135}">
        <nb-row :style="{ justifyContent: 'center' ,height: 110, alignSelf: 'center'}">
          <nb-text class="titulo" :style="stylesObj.titulo" :numberOfLines="4">{{ content.name }}</nb-text>
        </nb-row>
        <nb-row :style="{ justifyContent: 'center', height: 45, marginTop: -5}">
          <nb-text class="sub-titulo">{{ content.categoria }}</nb-text>
        </nb-row>
        <!-- <nb-row :style="{ justifyContent: 'center' }">
          <nb-text note>{{ item.text }}</nb-text>
        </nb-row> -->
      </nb-grid>
    </nb-cardItem>
  </nb-card>
</template>

<script>
import { Dimensions, Platform } from "react-native";

export default {
  props: ["content"],
  data() {
    return {
      stylesObj: {
        Card: {
          resizeMode: "cover",
          width: null,
          flex: 1,
          height: Dimensions.get("window").height / 3
        },
        titulo: {
            fontSize: 26,
            justifyContent: 'center' ,
            alignSelf: 'center'
        }
      }
    };
  }
};
</script>
<style>
.btn-opc {
  margin-top: 50;
  margin-bottom: 30;
}
.text {
  font-size: 16;
  font-weight: 900;
}
.titulo {
  color: #006666;
  padding: 5px;
  text-align: center;
}
.sub-titulo {
  font-size: 22;
  padding: 5px;
  color: #7d7d7d;
}
</style>
